In [1]:
import boto3
import pandas as pd

# Define your S3 bucket
bucket_name = 'airline-dashboard-project-data'

#File keys
file_key1 = 'datasets/T_F41SCHEDULE_B1.csv'  # e.g., 'datasets/data.csv'
file_key2 = 'datasets/T_F41SCHEDULE_B11.csv'
file_key3 = 'datasets/T_F41SCHEDULE_B43.csv'
file_key4 = 'datasets/T_F41SCHEDULE_P1A_EMP.csv'
file_key5 = 'datasets/T_F41SCHEDULE_P11.csv'
file_key6 = 'datasets/T_F41SCHEDULE_P12 2.csv'
file_key7 = 'datasets/T_F41SCHEDULE_P10.csv'
file_key8 = 'datasets/T_F41SCHEDULE_P12A 2.csv'
file_key9 = 'datasets/T_F41SCHEDULE_P51.csv'
file_key10 = 'datasets/T_F41SCHEDULE_P52 4.csv'
file_key11 = 'datasets/T_F41SCHEDULE_P6.csv'
file_key12 = 'datasets/T_F41SCHEDULE_P7.csv'
file_key13 = 'datasets/T_RAA_SUMMARY.csv'
file_key14 = 'datasets/T_SCHEDULE_T1.csv'
file_key15 = 'datasets/T_SCHEDULE_T2.csv'
#file_key16 = 

# Initialize S3 client
s3 = boto3.client('s3')

# Read the files into a Pandas DataFrame
obj1 = s3.get_object(Bucket=bucket_name, Key=file_key1)
obj2 = s3.get_object(Bucket=bucket_name, Key=file_key2)
obj3 = s3.get_object(Bucket=bucket_name, Key=file_key3)
obj4 = s3.get_object(Bucket=bucket_name, Key=file_key4)
obj5 = s3.get_object(Bucket=bucket_name, Key=file_key5)
obj6 = s3.get_object(Bucket=bucket_name, Key=file_key6)
obj7 = s3.get_object(Bucket=bucket_name, Key=file_key7)
obj8 = s3.get_object(Bucket=bucket_name, Key=file_key8)
obj9 = s3.get_object(Bucket=bucket_name, Key=file_key9)
obj10 = s3.get_object(Bucket=bucket_name, Key=file_key10)
obj11 = s3.get_object(Bucket=bucket_name, Key=file_key11)
obj12 = s3.get_object(Bucket=bucket_name, Key=file_key12)
obj13 = s3.get_object(Bucket=bucket_name, Key=file_key13)
obj14 = s3.get_object(Bucket=bucket_name, Key=file_key14)
obj15 = s3.get_object(Bucket=bucket_name, Key=file_key15)
#obj16 = s3.get_object(Bucket=bucket_name, Key=file_key16)

In [2]:
#Cleaning b1 dataset 
b1 = pd.read_csv(obj1['Body'])
b1

,CASH,SHORT_TERM_INV,NOTES_RECEIVABLE,ACCTS_RECEIVABLE,ACCTS_NOT_COLLECT,NOTES_ACC_REC_NET,PARTS_SUPPLIES_NET,PREPAID_ITEMS,CURR_ASSETS_OTH,CURR_ASSETS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SLQ,Sky King Inc.,SLQ,Sky King Inc.,16039,I,1.0,1.0,2013,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SLQ,Sky King Inc.,SLQ,Sky King Inc.,16039,I,1.0,1.0,2013,2
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,RLQ,Reliant Airlines,RLQ,Reliant Airlines,06773,S,1.0,1.0,2001,2
3,NaN,NaN,NaN,3123.06,NaN,3123.06,741.53,1311.02,8668.35,13843.96,...,GL,Miami Air International,MMQ,Miami Air International,06690,D,1.0,1.0,2000,4
4,NaN,NaN,NaN,3221.60,122.07,3099.53,3526.38,1584.55,3623.61,11834.07,...,YX (1),"Midwest Airline, Inc.",YX,Midwest Express Airlines,06706,D,2.0,2.0,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8093,16884899.35,3232472.93,5038.33,2243305.45,31158.34,2217185.44,1152939.91,883216.26,NaN,24370713.89,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2022,2
8094,18282622.44,159915.06,4211.83,1686495.84,28123.00,1662584.67,982527.72,746243.51,NaN,21833893.40,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2021,4
8095,18467677.37,251550.35,4750.28,2086864.80,30010.14,2061604.94,1068200.75,763014.78,NaN,22612048.19,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2022,1
8096,19256384.58,419779.46,180439.32,1598701.54,69754.53,1709386.34,954780.88,716412.82,NaN,23056744.07,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2021,3
8097,20838139.53,483427.67,174766.00,1689394.02,70995.90,1793164.13,911736.49,645859.78,NaN,24672327.60,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2021,2

In [3]:
print(b1.shape)  # (rows, columns)
print(b1.info())  # Data types, non-null counts

(8098, 79)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8098 entries, 0 to 8097
Data columns (total 79 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CASH                   8003 non-null   float64
 1   SHORT_TERM_INV         5234 non-null   float64
 2   NOTES_RECEIVABLE       3743 non-null   float64
 3   ACCTS_RECEIVABLE       8044 non-null   float64
 4   ACCTS_NOT_COLLECT      6535 non-null   float64
 5   NOTES_ACC_REC_NET      8084 non-null   float64
 6   PARTS_SUPPLIES_NET     6864 non-null   float64
 7   PREPAID_ITEMS          7904 non-null   float64
 8   CURR_ASSETS_OTH        6093 non-null   float64
 9   CURR_ASSETS            8095 non-null   float64
 10  INVEST_ASSOC_COMP      4005 non-null   float64
 11  INVEST_REC_OTH         3955 non-null   float64
 12  SPECIAL_FUNDS          3953 non-null   float64
 13  INVEST_SPEC_FUNDS      5045 non-null   float64
 14  FLIGHT_EQUIP           7822 non-null   float64
 15  PROP_EQUIP_GROUND      7972 non-null   float64
 16  DEPR_PR_EQ_GROUND      8009 non-null   float64
 17  PROP_EQUIP_NET         8089 non-null   float64
 18  LAND                   3872 non-null   float64
 19  EQUIP_DEP_ADV_PAY      4323 non-null   float64
 20  CONSTRUCTION           5113 non-null   float64
 21  LEASED_PROP_CAP        4686 non-null   float64
 22  LEASED_PROP_ACC        4621 non-null   float64
 23  PROP_EQUIP             8090 non-null   float64
 24  PROP_EQUIP_NON_OP      3906 non-null   float64
 25  DEPR_PR_EQ_NON_OP      3826 non-null   float64
 26  PROP_EQUIP_NO_TOT      3976 non-null   float64
 27  PRE_PAY_LONG_TERM      4783 non-null   float64
 28  NON_AMORT_DEV          3480 non-null   float64
 29  ASSETS_OTH_DEF         7380 non-null   float64
 30  ASSETS_OTHER           7765 non-null   float64
 31  ASSETS                 8096 non-null   float64
 32  LONG_DEBT_CUR_MAT      5918 non-null   float64
 33  NOTES_PAY_BANKS        3191 non-null   float64
 34  NOTES_PAY_OTHER        3453 non-null   float64
 35  ACCTS_PAY_TRADE        7625 non-null   float64
 36  ACCTS_PAY_OTHER        5697 non-null   float64
 37  CURR_OB_CAP_LEASE      4451 non-null   float64
 38  ACCR_SALARIES          7533 non-null   float64
 39  ACCR_VACATION          6692 non-null   float64
 40  ACCR_INTEREST          5412 non-null   float64
 41  ACCR_TAXES             7148 non-null   float64
 42  DIVIDENDS              2672 non-null   float64
 43  LIAB_AIR_TRAFFIC       5303 non-null   float64
 44  CURR_LIAB_OTH          7743 non-null   float64
 45  CURR_LIABILITIES       8095 non-null   float64
 46  LONG_TERM_DEBT         6554 non-null   float64
 47  ADV_ASSOC_COMP         3317 non-null   float64
 48  PENSION_LIAB           3721 non-null   float64
 49  NON_REC_OB_CAP_LS      4422 non-null   float64
 50  NON_REC_LIAB_OTH       5392 non-null   float64
 51  NON_REC_LIAB           7507 non-null   float64
 52  DEF_TAXES              4865 non-null   float64
 53  DEF_TAX_CREDITS        2405 non-null   float64
 54  DEF_CREDITS_OTH        4943 non-null   float64
 55  DEF_CREDITS            5867 non-null   float64
 56  PF_SHARES              3051 non-null   float64
 57  PF_SHARES_NUM          290 non-null    float64
 58  COM_SHARES             6873 non-null   float64
 59  UNISSUED_STOCK         2621 non-null   float64
 60  CAPITAL_STOCK          6987 non-null   float64
 61  ADD_CAPITAL_INV        6790 non-null   float64
 62  PAID_IN_CAPITAL        7932 non-null   float64
 63  RET_EARNINGS           8067 non-null   float64
 64  SH_HLD_EQUITY          8090 non-null   float64
 65  TREAS_STOCK_NUM        3182 non-null   float64
 66  SH_HLD_EQUIT_NET       8091 non-null   float64
 67  LIAB_SH_HLD_EQUITY     8093 non-null   float64
 68  AIRLINE_ID             8085 non-null   float64
 69  UNIQUE_CARRIER         8004 non-null   object
 70  UNIQUE_CARRIER_NAME    8085 non-null   object
 71  CARRIER                8024 non-null   object
 72  CARRIER_NAME           8085 non-null   object
 73  UNIQUE_CARRIER_ENTITY  8085 non-null   object
 74  REGION                 8098 non-null   object
 75  CARRIER_GROUP_NEW      8085 non-null   float64
 76  CARRIER_GROUP          8085 non-null   float64
 77  YEAR                   8098 non-null   int64
 78  QUARTER                8098 non-null   int64
dtypes: float64(71), int64(2), object(6)
memory usage: 4.9+ MB
None

In [4]:
#Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = b1.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Checking for duplicate rows:
Number of duplicate rows: 0

In [5]:
#Removing any duplicate rows (future purpose)
b1 = b1.drop_duplicates()

In [6]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(b1.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

Number of outliers detected: 0

In [7]:
#removing outliers if found any
b1 = b1[~outliers]
b1

,CASH,SHORT_TERM_INV,NOTES_RECEIVABLE,ACCTS_RECEIVABLE,ACCTS_NOT_COLLECT,NOTES_ACC_REC_NET,PARTS_SUPPLIES_NET,PREPAID_ITEMS,CURR_ASSETS_OTH,CURR_ASSETS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SLQ,Sky King Inc.,SLQ,Sky King Inc.,16039,I,1.0,1.0,2013,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SLQ,Sky King Inc.,SLQ,Sky King Inc.,16039,I,1.0,1.0,2013,2
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,RLQ,Reliant Airlines,RLQ,Reliant Airlines,06773,S,1.0,1.0,2001,2
3,NaN,NaN,NaN,3123.06,NaN,3123.06,741.53,1311.02,8668.35,13843.96,...,GL,Miami Air International,MMQ,Miami Air International,06690,D,1.0,1.0,2000,4
4,NaN,NaN,NaN,3221.60,122.07,3099.53,3526.38,1584.55,3623.61,11834.07,...,YX (1),"Midwest Airline, Inc.",YX,Midwest Express Airlines,06706,D,2.0,2.0,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8093,16884899.35,3232472.93,5038.33,2243305.45,31158.34,2217185.44,1152939.91,883216.26,NaN,24370713.89,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2022,2
8094,18282622.44,159915.06,4211.83,1686495.84,28123.00,1662584.67,982527.72,746243.51,NaN,21833893.40,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2021,4
8095,18467677.37,251550.35,4750.28,2086864.80,30010.14,2061604.94,1068200.75,763014.78,NaN,22612048.19,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2022,1
8096,19256384.58,419779.46,180439.32,1598701.54,69754.53,1709386.34,954780.88,716412.82,NaN,23056744.07,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2021,3
8097,20838139.53,483427.67,174766.00,1689394.02,70995.90,1793164.13,911736.49,645859.78,NaN,24672327.60,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2021,2

In [8]:
airlines_of_interest = [
        "Delta Air Lines Inc.",
        "Southwest Airlines Co.",
        "United Air Lines Inc.",
        "American Airlines Inc.",   
        "Alaska Airlines Inc.",
        "SkyWest Airlines Inc.",
        "JetBlue Airways Corporation",
         "Air Transport International",
         "Frontier Airlines Inc.",
        "Hawaiian Airlines Inc.",
         "Allegiant Air",
         "Spirit Air Lines",
         "Sun Country Airlines",
         "Mesa Airlines Inc."]

In [9]:
# Filter the b1 dataset for airlines of interest
b1 = b1[b1['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
b1

,CASH,SHORT_TERM_INV,NOTES_RECEIVABLE,ACCTS_RECEIVABLE,ACCTS_NOT_COLLECT,NOTES_ACC_REC_NET,PARTS_SUPPLIES_NET,PREPAID_ITEMS,CURR_ASSETS_OTH,CURR_ASSETS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
36,NaN,NaN,NaN,9086.43,100.00,8986.43,923.04,2933.78,2474.33,15317.58,...,8C,Air Transport International,8C,Air Transport International,06029,D,2.0,2.0,2001,4
52,NaN,NaN,NaN,30604.76,100.00,30504.76,1214.84,1097.73,1735.64,34552.96,...,8C,Air Transport International,8C,Air Transport International,06029,D,2.0,2.0,2002,4
54,NaN,NaN,NaN,33267.14,100.00,33167.14,1573.47,1529.91,1817.13,38087.65,...,8C,Air Transport International,8C,Air Transport International,06029,D,2.0,2.0,2003,1
55,NaN,NaN,NaN,33714.58,100.00,33614.58,1242.33,1008.24,1945.34,37810.48,...,8C,Air Transport International,8C,Air Transport International,06029,D,2.0,2.0,2002,3
58,NaN,NaN,NaN,39287.55,100.00,39187.55,1219.33,4121.01,3820.94,48348.82,...,8C,Air Transport International,8C,Air Transport International,06029,D,2.0,2.0,2003,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8093,16884899.35,3232472.93,5038.33,2243305.45,31158.34,2217185.44,1152939.91,883216.26,NaN,24370713.89,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2022,2
8094,18282622.44,159915.06,4211.83,1686495.84,28123.00,1662584.67,982527.72,746243.51,NaN,21833893.40,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2021,4
8095,18467677.37,251550.35,4750.28,2086864.80,30010.14,2061604.94,1068200.75,763014.78,NaN,22612048.19,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2022,1
8096,19256384.58,419779.46,180439.32,1598701.54,69754.53,1709386.34,954780.88,716412.82,NaN,23056744.07,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2021,3
8097,20838139.53,483427.67,174766.00,1689394.02,70995.90,1793164.13,911736.49,645859.78,NaN,24672327.60,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2021,2

In [10]:
#mapping region values to description for ease of use
region_mapping = {
    'A': 'Atlantic',
    'D': 'Domestic',
    'I': 'International',
    'L': 'Latin America',
    'P': 'Pacific',
    'S': 'System'
}

# Replace values in the REGION column
b1['REGION'] = b1['REGION'].replace(region_mapping)

#mapping carrier_group values to description for easse of use
carrier_group_mapping = {
    0: 'International Carriers',
    1: 'Regional Carriers (including Large, Medium, Commuter, Small Certified)',
    2: 'National Carriers',
    3: 'Major Carriers',
    7: 'Domestic Only - All Cargo Carriers'
}
#replace carrier group values to description
b1["CARRIER_GROUP"] = b1["CARRIER_GROUP"].replace(carrier_group_mapping)

/tmp/ipykernel_273/1658600648.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1['REGION'] = b1['REGION'].replace(region_mapping)
/tmp/ipykernel_273/1658600648.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1["CARRIER_GROUP"] = b1["CARRIER_GROUP"].replace(carrier_group_mapping)

In [11]:
b1

,CASH,SHORT_TERM_INV,NOTES_RECEIVABLE,ACCTS_RECEIVABLE,ACCTS_NOT_COLLECT,NOTES_ACC_REC_NET,PARTS_SUPPLIES_NET,PREPAID_ITEMS,CURR_ASSETS_OTH,CURR_ASSETS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
36,NaN,NaN,NaN,9086.43,100.00,8986.43,923.04,2933.78,2474.33,15317.58,...,8C,Air Transport International,8C,Air Transport International,06029,Domestic,2.0,National Carriers,2001,4
52,NaN,NaN,NaN,30604.76,100.00,30504.76,1214.84,1097.73,1735.64,34552.96,...,8C,Air Transport International,8C,Air Transport International,06029,Domestic,2.0,National Carriers,2002,4
54,NaN,NaN,NaN,33267.14,100.00,33167.14,1573.47,1529.91,1817.13,38087.65,...,8C,Air Transport International,8C,Air Transport International,06029,Domestic,2.0,National Carriers,2003,1
55,NaN,NaN,NaN,33714.58,100.00,33614.58,1242.33,1008.24,1945.34,37810.48,...,8C,Air Transport International,8C,Air Transport International,06029,Domestic,2.0,National Carriers,2002,3
58,NaN,NaN,NaN,39287.55,100.00,39187.55,1219.33,4121.01,3820.94,48348.82,...,8C,Air Transport International,8C,Air Transport International,06029,Domestic,2.0,National Carriers,2003,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8093,16884899.35,3232472.93,5038.33,2243305.45,31158.34,2217185.44,1152939.91,883216.26,NaN,24370713.89,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,Domestic,3.0,Major Carriers,2022,2
8094,18282622.44,159915.06,4211.83,1686495.84,28123.00,1662584.67,982527.72,746243.51,NaN,21833893.40,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,Domestic,3.0,Major Carriers,2021,4
8095,18467677.37,251550.35,4750.28,2086864.80,30010.14,2061604.94,1068200.75,763014.78,NaN,22612048.19,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,Domestic,3.0,Major Carriers,2022,1
8096,19256384.58,419779.46,180439.32,1598701.54,69754.53,1709386.34,954780.88,716412.82,NaN,23056744.07,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,Domestic,3.0,Major Carriers,2021,3
8097,20838139.53,483427.67,174766.00,1689394.02,70995.90,1793164.13,911736.49,645859.78,NaN,24672327.60,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,Domestic,3.0,Major Carriers,2021,2

In [12]:
#Cleaning b1.1 dataset 
b1_1 = pd.read_csv(obj2['Body'])
b1_1

,CASH,NOTES_ACC_REC_NET,CURR_ASSETS_OTH,CURR_ASSETS,PROP_EQUIP_OWNED,DEPR_PROP_EQUIP,PROP_EQUIP_CAP_LS,AMORT_PR_EQ_CAP_LS,PROP_EQUIP,ASSETS_OTHER,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.50,...,PCQ,Pace Airlines,PCQ,Pace Airlines,06764,S,4.0,1.0,1997,2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,367.09,...,PCQ,Pace Airlines,PCQ,Pace Airlines,06765,D,4.0,1.0,1998,2
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408.54,...,PCQ,Pace Airlines,PCQ,Pace Airlines,06764,S,4.0,1.0,1999,2
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79304.49,...,PCQ,Pace Airlines,PCQ,Pace Airlines,06764,S,4.0,1.0,1999,4
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192287.00,...,PCQ,Pace Airlines,PCQ,Pace Airlines,06764,S,4.0,1.0,2000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,28913.99,17466.26,1054.37,47434.61,35951.87,2300.38,1628.89,137.89,35142.50,19190.37,...,XP,TEM Enterprises dba Avelo Airlines,XP,TEM Enterprises dba Avelo Airlines,06144,D,4.0,1.0,2021,4
867,30033.00,446080.00,12318.00,488431.00,14888.00,744.00,47614.00,4547.00,57211.00,621045.00,...,CS,Continental Micronesia,CS,Continental Micronesia,16192,P,2.0,2.0,1993,4
868,35326.08,1847.48,1496.66,38670.22,25383.18,6358.94,1433.75,371.86,20086.14,4489.11,...,E0,"EOS Airlines, Inc.",E0,"EOS Airlines, Inc.",16211,A,4.0,1.0,2006,4
869,35932.00,97474.00,9735.00,143141.00,8373.00,1117.00,47614.00,NaN,54870.00,632228.00,...,CS,Continental Micronesia,CS,Continental Micronesia,16192,P,2.0,2.0,1993,2
870,85077.54,8050.61,3053.50,96181.65,75566.09,3686.58,NaN,NaN,71879.51,5178.33,...,J7,Valujet Airlines Inc.,J7,Valujet Airlines Inc.,06917 (1),D,2.0,2.0,1994,4

In [13]:
#Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = b1_1.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Checking for duplicate rows:
Number of duplicate rows: 0

In [14]:
#Removing any duplicate rows (future purpose)
b1_1 = b1_1.drop_duplicates()

In [15]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(b1_1.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
b1_1 = b1_1[~outliers]
b1_1

Number of outliers detected: 8

,CASH,NOTES_ACC_REC_NET,CURR_ASSETS_OTH,CURR_ASSETS,PROP_EQUIP_OWNED,DEPR_PROP_EQUIP,PROP_EQUIP_CAP_LS,AMORT_PR_EQ_CAP_LS,PROP_EQUIP,ASSETS_OTHER,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.50,...,PCQ,Pace Airlines,PCQ,Pace Airlines,06764,S,4.0,1.0,1997,2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,367.09,...,PCQ,Pace Airlines,PCQ,Pace Airlines,06765,D,4.0,1.0,1998,2
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408.54,...,PCQ,Pace Airlines,PCQ,Pace Airlines,06764,S,4.0,1.0,1999,2
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79304.49,...,PCQ,Pace Airlines,PCQ,Pace Airlines,06764,S,4.0,1.0,1999,4
5,NaN,NaN,74.71,74.71,6006.39,2532.28,NaN,NaN,3474.11,NaN,...,AMQ,Ameristar Air Cargo,AMQ,Ameristar Air Cargo,06055,D,4.0,1.0,2005,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,21871.72,7959.55,4610.51,34441.78,33613.40,1099.63,NaN,NaN,32513.77,NaN,...,J7,Valujet Airlines Inc.,J7,Valujet Airlines Inc.,06917 (1),D,2.0,2.0,1994,2
864,24306.25,2411.59,3879.64,30597.48,32602.93,2970.89,NaN,NaN,29632.04,4410.81,...,FL,AirTran Airways Corporation,FL,AirTran Airways Corporation,06030,D,1.0,1.0,1996,2
865,25291.17,452.21,4133.71,29877.09,22200.10,1353.08,888.87,116.02,21619.87,2432.59,...,E0,"EOS Airlines, Inc.",E0,"EOS Airlines, Inc.",16211,A,4.0,1.0,2005,4
866,28913.99,17466.26,1054.37,47434.61,35951.87,2300.38,1628.89,137.89,35142.50,19190.37,...,XP,TEM Enterprises dba Avelo Airlines,XP,TEM Enterprises dba Avelo Airlines,06144,D,4.0,1.0,2021,4
868,35326.08,1847.48,1496.66,38670.22,25383.18,6358.94,1433.75,371.86,20086.14,4489.11,...,E0,"EOS Airlines, Inc.",E0,"EOS Airlines, Inc.",16211,A,4.0,1.0,2006,4

In [16]:
# Filter the b1 dataset for airlines of interest
b1_1 = b1_1[b1_1['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
b1_1

,CASH,NOTES_ACC_REC_NET,CURR_ASSETS_OTH,CURR_ASSETS,PROP_EQUIP_OWNED,DEPR_PROP_EQUIP,PROP_EQUIP_CAP_LS,AMORT_PR_EQ_CAP_LS,PROP_EQUIP,ASSETS_OTHER,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
314,284.11,715.99,74.27,1074.38,2432.34,216.80,NaN,NaN,2215.54,805.98,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2000,2
320,294.11,7.04,32.65,333.80,236.46,15.00,NaN,NaN,221.46,NaN,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,D,1.0,1.0,1998,4
328,326.76,289.64,262.65,879.05,1869.08,135.63,NaN,NaN,1733.45,1218.32,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,D,1.0,1.0,1999,4
337,340.22,246.19,124.69,711.11,343.71,44.88,NaN,NaN,298.83,495.44,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,D,1.0,1.0,1999,2
355,370.39,310.65,346.45,1027.49,3076.03,356.80,NaN,NaN,2719.23,873.74,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2000,4
359,387.90,265.80,621.00,1274.70,1809.67,419.50,NaN,NaN,1390.18,1.91,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2001,4
441,731.77,170.78,332.48,1235.03,3202.01,730.45,NaN,NaN,2471.55,472.16,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2001,2
487,947.20,912.89,488.37,2348.47,2609.89,1091.78,NaN,NaN,1518.10,140.46,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,D,1.0,1.0,1992,4
610,1838.18,1274.07,677.91,3790.17,2106.97,567.89,NaN,NaN,1539.08,0.75,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2002,2
629,2044.87,997.71,486.57,3529.14,2663.72,1161.75,NaN,NaN,1501.97,215.26,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,D,1.0,1.0,1993,2
642,2118.77,1180.75,880.82,4180.34,965.40,257.16,NaN,NaN,708.24,2440.59,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2002,4
684,2590.21,1567.85,2688.74,6846.81,44.74,11.17,NaN,NaN,33.58,66.94,...,8C,Air Transport International,8C,Air Transport International,06028,S,2.0,2.0,1990,2
742,3638.44,NaN,1350.89,4989.32,2731.79,1242.17,NaN,NaN,1489.61,215.26,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,D,1.0,1.0,1993,4
793,5186.28,5172.27,3354.07,13712.61,49.70,20.85,NaN,NaN,28.85,56.09,...,8C,Air Transport International,8C,Air Transport International,06028,S,2.0,2.0,1990,4
795,5342.61,577.22,100.00,6019.84,2734.60,426.91,NaN,NaN,2307.69,1134.18,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,D,1.0,1.0,1994,2
824,6800.00,1060.00,500.00,8360.00,4500.00,600.00,NaN,NaN,3900.00,1000.00,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,D,1.0,1.0,1994,4
839,8047.62,1492.57,2509.68,12049.86,20210.04,1437.97,NaN,NaN,18772.08,2503.96,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2003,4
849,9108.09,1868.59,3515.69,14492.38,68.70,27.34,NaN,NaN,41.37,45.23,...,8C,Air Transport International,8C,Air Transport International,06028,S,2.0,2.0,1991,2
853,9563.48,2088.80,1207.09,12859.37,4545.17,398.41,NaN,NaN,4146.76,2545.81,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2003,2

In [17]:
#mapping region values to description for ease of use
region_mapping = {
    'A': 'Atlantic',
    'D': 'Domestic',
    'I': 'International',
    'L': 'Latin America',
    'P': 'Pacific',
    'S': 'System'
}

# Replace values in the REGION column
b1_1['REGION'] = b1_1['REGION'].replace(region_mapping)

#mapping carrier_group values to description for easse of use
carrier_group_mapping = {
    0: 'International Carriers',
    1: 'Regional Carriers (including Large, Medium, Commuter, Small Certified)',
    2: 'National Carriers',
    3: 'Major Carriers',
    7: 'Domestic Only - All Cargo Carriers'
}
#replace carrier group values to description
b1_1["CARRIER_GROUP"] = b1_1["CARRIER_GROUP"].replace(carrier_group_mapping)

/tmp/ipykernel_273/220697799.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1_1['REGION'] = b1_1['REGION'].replace(region_mapping)
/tmp/ipykernel_273/220697799.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1_1["CARRIER_GROUP"] = b1_1["CARRIER_GROUP"].replace(carrier_group_mapping)

In [18]:
b1_1

,CASH,NOTES_ACC_REC_NET,CURR_ASSETS_OTH,CURR_ASSETS,PROP_EQUIP_OWNED,DEPR_PROP_EQUIP,PROP_EQUIP_CAP_LS,AMORT_PR_EQ_CAP_LS,PROP_EQUIP,ASSETS_OTHER,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
314,284.11,715.99,74.27,1074.38,2432.34,216.80,NaN,NaN,2215.54,805.98,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2000,2
320,294.11,7.04,32.65,333.80,236.46,15.00,NaN,NaN,221.46,NaN,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1998,4
328,326.76,289.64,262.65,879.05,1869.08,135.63,NaN,NaN,1733.45,1218.32,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1999,4
337,340.22,246.19,124.69,711.11,343.71,44.88,NaN,NaN,298.83,495.44,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1999,2
355,370.39,310.65,346.45,1027.49,3076.03,356.80,NaN,NaN,2719.23,873.74,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2000,4
359,387.90,265.80,621.00,1274.70,1809.67,419.50,NaN,NaN,1390.18,1.91,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2001,4
441,731.77,170.78,332.48,1235.03,3202.01,730.45,NaN,NaN,2471.55,472.16,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2001,2
487,947.20,912.89,488.37,2348.47,2609.89,1091.78,NaN,NaN,1518.10,140.46,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1992,4
610,1838.18,1274.07,677.91,3790.17,2106.97,567.89,NaN,NaN,1539.08,0.75,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2002,2
629,2044.87,997.71,486.57,3529.14,2663.72,1161.75,NaN,NaN,1501.97,215.26,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1993,2
642,2118.77,1180.75,880.82,4180.34,965.40,257.16,NaN,NaN,708.24,2440.59,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2002,4
684,2590.21,1567.85,2688.74,6846.81,44.74,11.17,NaN,NaN,33.58,66.94,...,8C,Air Transport International,8C,Air Transport International,06028,System,2.0,National Carriers,1990,2
742,3638.44,NaN,1350.89,4989.32,2731.79,1242.17,NaN,NaN,1489.61,215.26,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1993,4
793,5186.28,5172.27,3354.07,13712.61,49.70,20.85,NaN,NaN,28.85,56.09,...,8C,Air Transport International,8C,Air Transport International,06028,System,2.0,National Carriers,1990,4
795,5342.61,577.22,100.00,6019.84,2734.60,426.91,NaN,NaN,2307.69,1134.18,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1994,2
824,6800.00,1060.00,500.00,8360.00,4500.00,600.00,NaN,NaN,3900.00,1000.00,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1994,4
839,8047.62,1492.57,2509.68,12049.86,20210.04,1437.97,NaN,NaN,18772.08,2503.96,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2003,4
849,9108.09,1868.59,3515.69,14492.38,68.70,27.34,NaN,NaN,41.37,45.23,...,8C,Air Transport International,8C,Air Transport International,06028,System,2.0,National Carriers,1991,2
853,9563.48,2088.80,1207.09,12859.37,4545.17,398.41,NaN,NaN,4146.76,2545.81,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2003,2

In [19]:
#Cleaning b43 dataset 
b43 = pd.read_csv(obj3['Body'])
b43

/tmp/ipykernel_273/596843101.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  b43 = pd.read_csv(obj3['Body'])

,YEAR,CARRIER,CARRIER_NAME,MANUFACTURE_YEAR,UNIQUE_CARRIER_NAME,SERIAL_NUMBER,TAIL_NUMBER,AIRCRAFT_STATUS,OPERATING_STATUS,NUMBER_OF_SEATS,MANUFACTURER,AIRCRAFT_TYPE,MODEL,CAPACITY_IN_POUNDS,ACQUISITION_DATE,AIRLINE_ID,UNIQUE_CARRIER
0,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7858,N202PS,B,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,10/28/2003 12:00:00 AM,20397.0,16
1,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7860,N206PS,B,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,10/30/2003 12:00:00 AM,20397.0,16
2,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7873,N207PS,B,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,11/26/2003 12:00:00 AM,20397.0,16
3,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7874,N209PS,B,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,12/4/2003 12:00:00 AM,20397.0,16
4,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7879,N213PS,B,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,12/16/2003 12:00:00 AM,20397.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132308,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7899,N466AW,O,Y,50.0,Bombardier,6291,CL-600-2B19,12972.0,1/21/2004 12:00:00 AM,20046.0,ZW
132309,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7900,N467AW,O,Y,50.0,Bombardier,6291,CL-600-2B19,12972.0,1/23/2004 12:00:00 AM,20046.0,ZW
132310,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7916,N468AW,O,Y,50.0,Bombardier,6291,CL-600-2B19,12972.0,3/25/2004 12:00:00 AM,20046.0,ZW
132311,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7917,N469AW,O,Y,50.0,Bombardier,6291,CL-600-2B19,12972.0,3/18/2004 12:00:00 AM,20046.0,ZW
132312,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7927,N470ZW,O,Y,50.0,Bombardier,6291,CL-600-2B19,12972.0,5/3/2004 12:00:00 AM,20046.0,ZW

In [20]:
b43["AIRCRAFT_STATUS"] = b43["AIRCRAFT_STATUS"].replace({
    "A": "capital lease",
    "B": "operating lease",
    "O": "owned",
    "a": "capital lease",
    "b": "operating lease"
})
b43

,YEAR,CARRIER,CARRIER_NAME,MANUFACTURE_YEAR,UNIQUE_CARRIER_NAME,SERIAL_NUMBER,TAIL_NUMBER,AIRCRAFT_STATUS,OPERATING_STATUS,NUMBER_OF_SEATS,MANUFACTURER,AIRCRAFT_TYPE,MODEL,CAPACITY_IN_POUNDS,ACQUISITION_DATE,AIRLINE_ID,UNIQUE_CARRIER
0,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7858,N202PS,operating lease,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,10/28/2003 12:00:00 AM,20397.0,16
1,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7860,N206PS,operating lease,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,10/30/2003 12:00:00 AM,20397.0,16
2,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7873,N207PS,operating lease,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,11/26/2003 12:00:00 AM,20397.0,16
3,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7874,N209PS,operating lease,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,12/4/2003 12:00:00 AM,20397.0,16
4,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7879,N213PS,operating lease,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,12/16/2003 12:00:00 AM,20397.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132308,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7899,N466AW,owned,Y,50.0,Bombardier,6291,CL-600-2B19,12972.0,1/21/2004 12:00:00 AM,20046.0,ZW
132309,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7900,N467AW,owned,Y,50.0,Bombardier,6291,CL-600-2B19,12972.0,1/23/2004 12:00:00 AM,20046.0,ZW
132310,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7916,N468AW,owned,Y,50.0,Bombardier,6291,CL-600-2B19,12972.0,3/25/2004 12:00:00 AM,20046.0,ZW
132311,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7917,N469AW,owned,Y,50.0,Bombardier,6291,CL-600-2B19,12972.0,3/18/2004 12:00:00 AM,20046.0,ZW
132312,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7927,N470ZW,owned,Y,50.0,Bombardier,6291,CL-600-2B19,12972.0,5/3/2004 12:00:00 AM,20046.0,ZW

In [21]:
b43["OPERATING_STATUS"] = b43["OPERATING_STATUS"].replace({
    "Y": "Yes",
    "N": "No",
    "y": "Yes"
})

In [22]:
b43

,YEAR,CARRIER,CARRIER_NAME,MANUFACTURE_YEAR,UNIQUE_CARRIER_NAME,SERIAL_NUMBER,TAIL_NUMBER,AIRCRAFT_STATUS,OPERATING_STATUS,NUMBER_OF_SEATS,MANUFACTURER,AIRCRAFT_TYPE,MODEL,CAPACITY_IN_POUNDS,ACQUISITION_DATE,AIRLINE_ID,UNIQUE_CARRIER
0,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7858,N202PS,operating lease,Yes,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,10/28/2003 12:00:00 AM,20397.0,16
1,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7860,N206PS,operating lease,Yes,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,10/30/2003 12:00:00 AM,20397.0,16
2,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7873,N207PS,operating lease,Yes,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,11/26/2003 12:00:00 AM,20397.0,16
3,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7874,N209PS,operating lease,Yes,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,12/4/2003 12:00:00 AM,20397.0,16
4,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7879,N213PS,operating lease,Yes,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,12/16/2003 12:00:00 AM,20397.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132308,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7899,N466AW,owned,Yes,50.0,Bombardier,6291,CL-600-2B19,12972.0,1/21/2004 12:00:00 AM,20046.0,ZW
132309,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7900,N467AW,owned,Yes,50.0,Bombardier,6291,CL-600-2B19,12972.0,1/23/2004 12:00:00 AM,20046.0,ZW
132310,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7916,N468AW,owned,Yes,50.0,Bombardier,6291,CL-600-2B19,12972.0,3/25/2004 12:00:00 AM,20046.0,ZW
132311,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7917,N469AW,owned,Yes,50.0,Bombardier,6291,CL-600-2B19,12972.0,3/18/2004 12:00:00 AM,20046.0,ZW
132312,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7927,N470ZW,owned,Yes,50.0,Bombardier,6291,CL-600-2B19,12972.0,5/3/2004 12:00:00 AM,20046.0,ZW

In [23]:
# Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = b43.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Checking for duplicate rows:
Number of duplicate rows: 0

In [24]:
#Removing any duplicate rows (future purpose)
b43 = b43.drop_duplicates()

In [25]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(b43.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
b43 = b43[~outliers]
b43

Number of outliers detected: 0

,YEAR,CARRIER,CARRIER_NAME,MANUFACTURE_YEAR,UNIQUE_CARRIER_NAME,SERIAL_NUMBER,TAIL_NUMBER,AIRCRAFT_STATUS,OPERATING_STATUS,NUMBER_OF_SEATS,MANUFACTURER,AIRCRAFT_TYPE,MODEL,CAPACITY_IN_POUNDS,ACQUISITION_DATE,AIRLINE_ID,UNIQUE_CARRIER
0,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7858,N202PS,operating lease,Yes,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,10/28/2003 12:00:00 AM,20397.0,16
1,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7860,N206PS,operating lease,Yes,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,10/30/2003 12:00:00 AM,20397.0,16
2,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7873,N207PS,operating lease,Yes,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,11/26/2003 12:00:00 AM,20397.0,16
3,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7874,N209PS,operating lease,Yes,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,12/4/2003 12:00:00 AM,20397.0,16
4,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7879,N213PS,operating lease,Yes,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,12/16/2003 12:00:00 AM,20397.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132308,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7899,N466AW,owned,Yes,50.0,Bombardier,6291,CL-600-2B19,12972.0,1/21/2004 12:00:00 AM,20046.0,ZW
132309,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7900,N467AW,owned,Yes,50.0,Bombardier,6291,CL-600-2B19,12972.0,1/23/2004 12:00:00 AM,20046.0,ZW
132310,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7916,N468AW,owned,Yes,50.0,Bombardier,6291,CL-600-2B19,12972.0,3/25/2004 12:00:00 AM,20046.0,ZW
132311,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7917,N469AW,owned,Yes,50.0,Bombardier,6291,CL-600-2B19,12972.0,3/18/2004 12:00:00 AM,20046.0,ZW
132312,2023,ZW,Air Wisconsin Airlines Corp,2004.0,Air Wisconsin Airlines Corp,7927,N470ZW,owned,Yes,50.0,Bombardier,6291,CL-600-2B19,12972.0,5/3/2004 12:00:00 AM,20046.0,ZW

In [26]:
# Filter the b1 dataset for airlines of interest
b43 = b43[b43['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
b43

,YEAR,CARRIER,CARRIER_NAME,MANUFACTURE_YEAR,UNIQUE_CARRIER_NAME,SERIAL_NUMBER,TAIL_NUMBER,AIRCRAFT_STATUS,OPERATING_STATUS,NUMBER_OF_SEATS,MANUFACTURER,AIRCRAFT_TYPE,MODEL,CAPACITY_IN_POUNDS,ACQUISITION_DATE,AIRLINE_ID,UNIQUE_CARRIER
374,2006,8C,Air Transport International,1967.0,Air Transport International,45811,N821BX,operating lease,Yes,0.0,MCDONNELL-DOUGLAS,NaN,DC-8-71,97000.0,3/17/1993 12:00:00 AM,19874.0,8C
375,2006,8C,Air Transport International,1967.0,Air Transport International,45813,N822BX,operating lease,Yes,0.0,MCDONNELL-DOUGLAS,NaN,DC-8-71,97000.0,2/22/1993 12:00:00 AM,19874.0,8C
376,2006,8C,Air Transport International,1968.0,Air Transport International,45918,N728PL,owned,Yes,32.0,MCDONNELL-DOUGLAS,NaN,DC-8-62,80000.0,10/16/1988 12:00:00 AM,19874.0,8C
377,2006,8C,Air Transport International,1968.0,Air Transport International,45922,N799AL,operating lease,Yes,0.0,MCDONNELL-DOUGLAS,NaN,DC-8-62,86022.0,7/15/1998 12:00:00 AM,19874.0,8C
378,2006,8C,Air Transport International,1968.0,Air Transport International,45961,N71CX,owned,Yes,32.0,MCDONNELL-DOUGLAS,NaN,DC-8-62,71500.0,2/1/2003 12:00:00 AM,19874.0,8C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132006,2023,YV,Mesa Airlines Inc.,2023.0,Mesa Airlines Inc.,1156AT912LSA,N487LP,owned,Yes,0.0,PIPISTRELDOO,4511,PIPISTRELALPHATRAINE,500.0,8/18/2023 12:00:00 AM,20378.0,YV
132007,2023,YV,Mesa Airlines Inc.,2023.0,Mesa Airlines Inc.,1157AT912LSA,N490LP,owned,Yes,0.0,PIPISTRELDOO,4511,PIPISTRELALPHATRAINE,500.0,8/11/2023 12:00:00 AM,20378.0,YV
132008,2023,YV,Mesa Airlines Inc.,2023.0,Mesa Airlines Inc.,1158AT912LSA,N491LP,owned,Yes,0.0,PIPISTRELDOO,4511,PIPISTRELALPHATRAINE,500.0,8/18/2023 12:00:00 AM,20378.0,YV
132009,2023,YV,Mesa Airlines Inc.,2023.0,Mesa Airlines Inc.,1159AT912LSA,N492LP,owned,Yes,0.0,PIPISTRELDOO,4511,PIPISTRELALPHATRAINE,500.0,8/10/2023 12:00:00 AM,20378.0,YV
132010,2023,YV,Mesa Airlines Inc.,2023.0,Mesa Airlines Inc.,28326,N326FL,operating lease,Yes,0.0,Boeing,6142,Boeing737-883,64790.0,2/1/2023 12:00:00 AM,20378.0,YV

In [27]:
#Cleaning p1(A) dataset 
p1a = pd.read_csv(obj4['Body'])
p1a

,YEAR,MONTH,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,EMPFULL,EMPPART,EMPTOTAL,EMPFTE
0,1990,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,RV,Reeve Aleutian Airways Inc.,1,1.0,251.0,65.0,316,284
1,1990,1,19386.0,NW,Northwest Airlines Inc.,NW,Northwest Airlines Inc.,3,3.0,38152.0,1862.0,40014,39083
2,1990,1,19392.0,RIQ,Rich International Airways,RIQ,Rich International Airways,1,1.0,64.0,3.0,67,66
3,1990,1,19393.0,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,3,3.0,6997.0,832.0,7829,7413
4,1990,1,19610.0,OD,Emerald Airlines Inc.,OD,Emerald Airlines Inc.,1,1.0,140.0,21.0,161,151
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29593,2024,7,21854.0,34Q,"Polaris Aviation Solutions, LLC",34Q,"Polaris Aviation Solutions, LLC",1,4.0,36.0,15.0,51,44
29594,2024,7,21875.0,37Q,"Hillwood Airways, LLC f/k/a ATX Air Service...",37Q,"Hillwood Airways, LLC f/k/a ATX Air Service...",1,1.0,198.0,0.0,198,198
29595,2024,7,21974.0,3EQ,"Scott Aviation, LLC d/b/a Silver Air",3EQ,"Scott Aviation, LLC d/b/a Silver Air",2,2.0,111.0,0.0,111,111
29596,2024,7,21979.0,3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",1,4.0,98.0,3.0,101,100
29597,2024,7,22080.0,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,2,2.0,1735.0,337.0,2072,1904

In [28]:
#Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = p1a.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Checking for duplicate rows:
Number of duplicate rows: 0

In [29]:
#Removing any duplicate rows (future purpose)
p1a = p1a.drop_duplicates()

In [30]:
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats
import numpy as np
# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(p1a.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
p1a = p1a[~outliers]
p1a

Number of outliers detected: 987

,YEAR,MONTH,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,EMPFULL,EMPPART,EMPTOTAL,EMPFTE
0,1990,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,RV,Reeve Aleutian Airways Inc.,1,1.0,251.0,65.0,316,284
1,1990,1,19386.0,NW,Northwest Airlines Inc.,NW,Northwest Airlines Inc.,3,3.0,38152.0,1862.0,40014,39083
2,1990,1,19392.0,RIQ,Rich International Airways,RIQ,Rich International Airways,1,1.0,64.0,3.0,67,66
3,1990,1,19393.0,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,3,3.0,6997.0,832.0,7829,7413
4,1990,1,19610.0,OD,Emerald Airlines Inc.,OD,Emerald Airlines Inc.,1,1.0,140.0,21.0,161,151
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29593,2024,7,21854.0,34Q,"Polaris Aviation Solutions, LLC",34Q,"Polaris Aviation Solutions, LLC",1,4.0,36.0,15.0,51,44
29594,2024,7,21875.0,37Q,"Hillwood Airways, LLC f/k/a ATX Air Service...",37Q,"Hillwood Airways, LLC f/k/a ATX Air Service...",1,1.0,198.0,0.0,198,198
29595,2024,7,21974.0,3EQ,"Scott Aviation, LLC d/b/a Silver Air",3EQ,"Scott Aviation, LLC d/b/a Silver Air",2,2.0,111.0,0.0,111,111
29596,2024,7,21979.0,3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",1,4.0,98.0,3.0,101,100
29597,2024,7,22080.0,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,2,2.0,1735.0,337.0,2072,1904

In [31]:
# Filter the b1 dataset for airlines of interest
p1a = p1a[p1a['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
p1a

,YEAR,MONTH,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,EMPFULL,EMPPART,EMPTOTAL,EMPFTE
3,1990,1,19393.0,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,3,3.0,6997.0,832.0,7829,7413
13,1990,1,19690.0,HA,Hawaiian Airlines Inc.,HA,Hawaiian Airlines Inc.,2,2.0,2416.0,477.0,2893,2655
17,1990,1,19790.0,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,3,3.0,56340.0,4226.0,60566,58453
18,1990,1,19805.0,AA,American Airlines Inc.,AA,American Airlines Inc.,3,3.0,68137.0,9039.0,77176,72657
21,1990,1,19874.0,8C,Air Transport International,8C,Air Transport International,2,2.0,108.0,4.0,112,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29564,2024,7,20304.0,OO,SkyWest Airlines Inc.,OO,SkyWest Airlines Inc.,3,3.0,12368.0,1731.0,14099,13234
29567,2024,7,20368.0,G4,Allegiant Air,G4,Allegiant Air,3,3.0,5449.0,975.0,6424,5937
29571,2024,7,20378.0,YV,Mesa Airlines Inc.,YV,Mesa Airlines Inc.,2,2.0,1936.0,14.0,1950,1943
29578,2024,7,20416.0,NK,Spirit Air Lines,NK,Spirit Air Lines,3,3.0,11739.0,400.0,12139,11939
29581,2024,7,20436.0,F9,Frontier Airlines Inc.,F9,Frontier Airlines Inc.,3,3.0,8116.0,55.0,8171,8144

In [32]:
# Filter for months 3, 6, 9, and 12
p1a = p1a[p1a['MONTH'].isin([3, 6, 9, 12])]

# Assign each of these months to its corresponding quarter
p1a['QUARTER'] = p1a['MONTH'] // 3  # Assigns March to Q1, June to Q2, etc.

/tmp/ipykernel_273/2944396406.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1a['QUARTER'] = p1a['MONTH'] // 3  # Assigns March to Q1, June to Q2, etc.

In [33]:
p1a

,YEAR,MONTH,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,EMPFULL,EMPPART,EMPTOTAL,EMPFTE,QUARTER
117,1990,3,19393.0,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,3,3.0,7090.0,833.0,7923,7507,1
126,1990,3,19690.0,HA,Hawaiian Airlines Inc.,HA,Hawaiian Airlines Inc.,2,2.0,2557.0,573.0,3130,2844,1
130,1990,3,19790.0,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,3,3.0,56700.0,4117.0,60817,58759,1
131,1990,3,19805.0,AA,American Airlines Inc.,AA,American Airlines Inc.,3,3.0,69509.0,9376.0,78885,74197,1
133,1990,3,19874.0,8C,Air Transport International,8C,Air Transport International,2,2.0,110.0,9.0,119,115,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29507,2024,6,20304.0,OO,SkyWest Airlines Inc.,OO,SkyWest Airlines Inc.,3,3.0,12271.0,1717.0,13988,13130,2
29510,2024,6,20368.0,G4,Allegiant Air,G4,Allegiant Air,3,3.0,5493.0,1000.0,6493,5993,2
29514,2024,6,20378.0,YV,Mesa Airlines Inc.,YV,Mesa Airlines Inc.,2,2.0,1884.0,12.0,1896,1890,2
29521,2024,6,20416.0,NK,Spirit Air Lines,NK,Spirit Air Lines,3,3.0,11880.0,389.0,12269,12075,2
29524,2024,6,20436.0,F9,Frontier Airlines Inc.,F9,Frontier Airlines Inc.,3,3.0,8072.0,56.0,8128,8100,2

In [34]:
# Step 4: Drop unnecessary columns if needed
p1a.drop(columns=['MONTH'], inplace=True)
p1a

/tmp/ipykernel_273/322162174.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1a.drop(columns=['MONTH'], inplace=True)

,YEAR,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,EMPFULL,EMPPART,EMPTOTAL,EMPFTE,QUARTER
117,1990,19393.0,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,3,3.0,7090.0,833.0,7923,7507,1
126,1990,19690.0,HA,Hawaiian Airlines Inc.,HA,Hawaiian Airlines Inc.,2,2.0,2557.0,573.0,3130,2844,1
130,1990,19790.0,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,3,3.0,56700.0,4117.0,60817,58759,1
131,1990,19805.0,AA,American Airlines Inc.,AA,American Airlines Inc.,3,3.0,69509.0,9376.0,78885,74197,1
133,1990,19874.0,8C,Air Transport International,8C,Air Transport International,2,2.0,110.0,9.0,119,115,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29507,2024,20304.0,OO,SkyWest Airlines Inc.,OO,SkyWest Airlines Inc.,3,3.0,12271.0,1717.0,13988,13130,2
29510,2024,20368.0,G4,Allegiant Air,G4,Allegiant Air,3,3.0,5493.0,1000.0,6493,5993,2
29514,2024,20378.0,YV,Mesa Airlines Inc.,YV,Mesa Airlines Inc.,2,2.0,1884.0,12.0,1896,1890,2
29521,2024,20416.0,NK,Spirit Air Lines,NK,Spirit Air Lines,3,3.0,11880.0,389.0,12269,12075,2
29524,2024,20436.0,F9,Frontier Airlines Inc.,F9,Frontier Airlines Inc.,3,3.0,8072.0,56.0,8128,8100,2

In [35]:
p1a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1300 entries, 117 to 29524
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   YEAR                 1300 non-null   int64
 1   AIRLINE_ID           1300 non-null   float64
 2   UNIQUE_CARRIER       1300 non-null   object
 3   UNIQUE_CARRIER_NAME  1300 non-null   object
 4   CARRIER              1300 non-null   object
 5   CARRIER_NAME         1300 non-null   object
 6   CARRIER_GROUP        1300 non-null   int64
 7   CARRIER_GROUP_NEW    1300 non-null   float64
 8   EMPFULL              1300 non-null   float64
 9   EMPPART              1300 non-null   float64
 10  EMPTOTAL             1300 non-null   int64
 11  EMPFTE               1300 non-null   int64
 12  QUARTER              1300 non-null   int64
dtypes: float64(4), int64(5), object(4)
memory usage: 142.2+ KB

In [36]:
#Cleaning p1.1 dataset 
p1_1 = pd.read_csv(obj5['Body'])
p1_1

,NET_INCOME,OP_PROFIT,OP_REVENUE_SCH_PAX,OP_REVENUE_SCH_OTH,OP_REVENUE_NON_SCH,OP_REVENUE_PUB_SVC,OP_REVENUE_OTHER,OP_REVENUE,OP_EXPENSE_FLYING,OP_EXPENSE_MAINT,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,-51730.39,-45864.14,22377.38,150.76,1031.75,NaN,NaN,23559.89,17631.63,8964.38,...,MY,MAXjet,MY,MAXjet,07050,D,4.0,1.0,2006,4
1,-35906.72,-36090.76,8666.54,100.45,1770.25,NaN,NaN,10537.24,11536.50,3676.43,...,E0,"EOS Airlines, Inc.",E0,"EOS Airlines, Inc.",16211,A,4.0,1.0,2006,2
2,-31695.82,-31892.90,23167.65,731.95,1871.04,NaN,NaN,25770.64,16897.72,4703.61,...,E0,"EOS Airlines, Inc.",E0,"EOS Airlines, Inc.",16211,A,4.0,1.0,2006,4
3,-30542.00,-30867.30,1084.91,NaN,NaN,NaN,NaN,1084.91,8283.19,2462.99,...,E0,"EOS Airlines, Inc.",E0,"EOS Airlines, Inc.",16211,A,4.0,1.0,2005,4
4,-28398.08,-28055.28,15048.34,NaN,2149.89,NaN,NaN,17198.22,15595.33,3423.29,...,MY,MAXjet,MY,MAXjet,07050,D,4.0,1.0,2006,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867,7205.03,12049.77,46708.71,967.85,485.19,NaN,145.18,48306.93,11655.40,4365.71,...,J7,Valujet Airlines Inc.,J7,Valujet Airlines Inc.,06917 (1),D,2.0,2.0,1994,2
868,13527.93,22497.34,82842.63,2200.17,239.81,NaN,311.77,85594.38,20842.62,10468.90,...,J7,Valujet Airlines Inc.,J7,Valujet Airlines Inc.,06917 (1),D,2.0,2.0,1994,4
869,14697.32,14697.32,NaN,23718.87,NaN,NaN,NaN,23718.87,7315.04,1783.40,...,N8,National Air Cargo Group Inc d/ba National Air...,MRQ,Murray Air,07029,D,4.0,1.0,2005,4
870,15591.26,15384.28,NaN,NaN,70008.27,NaN,85.30,70093.57,28742.68,6473.49,...,KAQ,Kalitta Air LLC,KAQ,Kalitta Air LLC,06683,D,4.0,1.0,2002,4
871,196472.51,251027.51,NaN,NaN,NaN,NaN,257603.00,257603.00,689.38,793.54,...,PCQ,Pace Airlines,PCQ,Pace Airlines,06764,S,4.0,1.0,2000,4

In [37]:
# Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = p1_1.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Checking for duplicate rows:
Number of duplicate rows: 0

In [38]:
#Removing any duplicate rows (future purpose)
p1_1 = p1_1.drop_duplicates()

In [39]:
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(p1_1.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
p1_1 = p1_1[~outliers]
p1_1

Number of outliers detected: 6

,NET_INCOME,OP_PROFIT,OP_REVENUE_SCH_PAX,OP_REVENUE_SCH_OTH,OP_REVENUE_NON_SCH,OP_REVENUE_PUB_SVC,OP_REVENUE_OTHER,OP_REVENUE,OP_EXPENSE_FLYING,OP_EXPENSE_MAINT,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
5,-23838.09,-23600.57,51432.00,1132.98,186.75,0.0,0.00,52751.73,50674.16,8131.66,...,XP,TEM Enterprises dba Avelo Airlines,XP,TEM Enterprises dba Avelo Airlines,06144,D,4.0,1.0,2022,2
6,-21917.13,-21558.45,9101.54,806.24,NaN,NaN,NaN,9907.78,21375.64,5723.90,...,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...",ZQ,Caribbean Sun Airlines,06077,S,4.0,1.0,2006,4
7,-19339.64,-19233.12,2359.26,0.00,186.75,0.0,0.00,2546.01,5432.87,1554.27,...,XP,TEM Enterprises dba Avelo Airlines,XP,TEM Enterprises dba Avelo Airlines,06144,D,4.0,1.0,2021,2
8,-19153.42,-18794.13,12394.52,NaN,NaN,NaN,526.16,12920.68,22299.06,4339.58,...,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...",ZQ,Caribbean Sun Airlines,06077,S,4.0,1.0,2006,2
9,-18734.59,-19418.08,18722.93,5.30,5727.47,0.0,0.00,24455.70,23215.20,4763.50,...,XP,TEM Enterprises dba Avelo Airlines,XP,TEM Enterprises dba Avelo Airlines,06144,D,4.0,1.0,2021,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,6872.45,7080.41,NaN,NaN,25964.53,NaN,214.32,26178.85,13743.59,1807.10,...,CTQ,Custom Air Transport,CTQ,Custom Air Transport,06175,D,4.0,1.0,2005,4
867,7205.03,12049.77,46708.71,967.85,485.19,NaN,145.18,48306.93,11655.40,4365.71,...,J7,Valujet Airlines Inc.,J7,Valujet Airlines Inc.,06917 (1),D,2.0,2.0,1994,2
868,13527.93,22497.34,82842.63,2200.17,239.81,NaN,311.77,85594.38,20842.62,10468.90,...,J7,Valujet Airlines Inc.,J7,Valujet Airlines Inc.,06917 (1),D,2.0,2.0,1994,4
869,14697.32,14697.32,NaN,23718.87,NaN,NaN,NaN,23718.87,7315.04,1783.40,...,N8,National Air Cargo Group Inc d/ba National Air...,MRQ,Murray Air,07029,D,4.0,1.0,2005,4
870,15591.26,15384.28,NaN,NaN,70008.27,NaN,85.30,70093.57,28742.68,6473.49,...,KAQ,Kalitta Air LLC,KAQ,Kalitta Air LLC,06683,D,4.0,1.0,2002,4

In [40]:
# Filter the b1 dataset for airlines of interest
p1_1 = p1_1[p1_1['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
p1_1

,NET_INCOME,OP_PROFIT,OP_REVENUE_SCH_PAX,OP_REVENUE_SCH_OTH,OP_REVENUE_NON_SCH,OP_REVENUE_PUB_SVC,OP_REVENUE_OTHER,OP_REVENUE,OP_EXPENSE_FLYING,OP_EXPENSE_MAINT,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
86,-3607.01,-3613.85,5505.43,NaN,1429.52,NaN,9.07,6944.02,4271.90,1629.30,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2000,4
89,-3534.06,-1702.28,1338.85,NaN,1921.70,NaN,3.80,3264.35,1872.20,1367.85,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2001,4
104,-3201.09,-3216.83,NaN,NaN,5319.86,NaN,NaN,5319.86,4526.75,2069.23,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,D,1.0,1.0,1999,4
154,-2071.26,-2086.30,1510.99,NaN,4779.93,NaN,7.24,6298.16,3153.04,1935.57,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2000,2
156,-2050.26,-808.81,3800.44,NaN,8645.90,NaN,691.81,13138.15,4210.39,2648.87,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2002,4
194,-1408.69,-1396.59,1304.96,NaN,1688.43,NaN,0.70,2994.10,1518.67,931.14,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2001,2
266,-703.84,-704.18,NaN,NaN,931.07,NaN,NaN,931.07,975.12,466.97,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,D,1.0,1.0,1998,4
270,-677.46,-679.17,NaN,NaN,1671.80,NaN,NaN,1671.80,1396.25,448.12,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,D,1.0,1.0,1999,2
333,-362.06,-2351.22,5680.29,NaN,899.33,NaN,12.72,6592.34,3223.27,1308.82,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,D,1.0,1.0,1993,2
485,73.62,177.63,2147.08,NaN,7435.50,NaN,360.25,9942.83,3859.60,1480.55,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2002,2
586,312.08,-1129.54,8904.40,NaN,256.73,NaN,5.98,9167.12,3804.28,1574.70,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,D,1.0,1.0,1993,4
642,494.86,426.01,NaN,7534.80,7941.41,NaN,NaN,15476.21,9606.83,4368.91,...,8C,Air Transport International,8C,Air Transport International,06028,S,2.0,2.0,1990,2
665,575.66,388.07,14190.61,NaN,19.67,NaN,38.97,14249.25,4658.06,2142.60,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,D,1.0,1.0,1994,2
702,735.98,1129.57,14976.57,NaN,15616.03,NaN,4335.20,34927.79,10938.25,6117.25,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2003,4
706,784.04,300.28,6544.36,NaN,10953.10,NaN,1738.27,19235.73,5955.87,3009.90,...,G4,Allegiant Air,G4,Allegiant Air,06035,D,4.0,1.0,2003,2
722,846.20,-2198.87,5636.39,NaN,668.11,NaN,NaN,6304.50,2993.91,1302.35,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,D,1.0,1.0,1992,4
755,1186.76,1412.18,19384.99,NaN,NaN,NaN,1465.93,20850.91,7128.04,3426.58,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,D,1.0,1.0,1994,4
841,3343.73,3125.87,NaN,8374.44,19541.24,NaN,NaN,27915.68,16861.63,6435.08,...,8C,Air Transport International,8C,Air Transport International,06028,S,2.0,2.0,1991,2
858,5325.17,5222.64,NaN,7527.02,20057.07,NaN,NaN,27584.09,15479.73,5567.24,...,8C,Air Transport International,8C,Air Transport International,06028,S,2.0,2.0,1990,4

In [41]:
#mapping region values to description for ease of use
region_mapping = {
    'A': 'Atlantic',
    'D': 'Domestic',
    'I': 'International',
    'L': 'Latin America',
    'P': 'Pacific',
    'S': 'System'
}

# Replace values in the REGION column
p1_1['REGION'] = p1_1['REGION'].replace(region_mapping)

/tmp/ipykernel_273/1922116762.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1_1['REGION'] = p1_1['REGION'].replace(region_mapping)

In [42]:
p1_1

,NET_INCOME,OP_PROFIT,OP_REVENUE_SCH_PAX,OP_REVENUE_SCH_OTH,OP_REVENUE_NON_SCH,OP_REVENUE_PUB_SVC,OP_REVENUE_OTHER,OP_REVENUE,OP_EXPENSE_FLYING,OP_EXPENSE_MAINT,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
86,-3607.01,-3613.85,5505.43,NaN,1429.52,NaN,9.07,6944.02,4271.90,1629.30,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,1.0,2000,4
89,-3534.06,-1702.28,1338.85,NaN,1921.70,NaN,3.80,3264.35,1872.20,1367.85,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,1.0,2001,4
104,-3201.09,-3216.83,NaN,NaN,5319.86,NaN,NaN,5319.86,4526.75,2069.23,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,Domestic,1.0,1.0,1999,4
154,-2071.26,-2086.30,1510.99,NaN,4779.93,NaN,7.24,6298.16,3153.04,1935.57,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,1.0,2000,2
156,-2050.26,-808.81,3800.44,NaN,8645.90,NaN,691.81,13138.15,4210.39,2648.87,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,1.0,2002,4
194,-1408.69,-1396.59,1304.96,NaN,1688.43,NaN,0.70,2994.10,1518.67,931.14,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,1.0,2001,2
266,-703.84,-704.18,NaN,NaN,931.07,NaN,NaN,931.07,975.12,466.97,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,Domestic,1.0,1.0,1998,4
270,-677.46,-679.17,NaN,NaN,1671.80,NaN,NaN,1671.80,1396.25,448.12,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,Domestic,1.0,1.0,1999,2
333,-362.06,-2351.22,5680.29,NaN,899.33,NaN,12.72,6592.34,3223.27,1308.82,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,1.0,1993,2
485,73.62,177.63,2147.08,NaN,7435.50,NaN,360.25,9942.83,3859.60,1480.55,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,1.0,2002,2
586,312.08,-1129.54,8904.40,NaN,256.73,NaN,5.98,9167.12,3804.28,1574.70,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,1.0,1993,4
642,494.86,426.01,NaN,7534.80,7941.41,NaN,NaN,15476.21,9606.83,4368.91,...,8C,Air Transport International,8C,Air Transport International,06028,System,2.0,2.0,1990,2
665,575.66,388.07,14190.61,NaN,19.67,NaN,38.97,14249.25,4658.06,2142.60,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,1.0,1994,2
702,735.98,1129.57,14976.57,NaN,15616.03,NaN,4335.20,34927.79,10938.25,6117.25,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,1.0,2003,4
706,784.04,300.28,6544.36,NaN,10953.10,NaN,1738.27,19235.73,5955.87,3009.90,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,1.0,2003,2
722,846.20,-2198.87,5636.39,NaN,668.11,NaN,NaN,6304.50,2993.91,1302.35,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,1.0,1992,4
755,1186.76,1412.18,19384.99,NaN,NaN,NaN,1465.93,20850.91,7128.04,3426.58,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,1.0,1994,4
841,3343.73,3125.87,NaN,8374.44,19541.24,NaN,NaN,27915.68,16861.63,6435.08,...,8C,Air Transport International,8C,Air Transport International,06028,System,2.0,2.0,1991,2
858,5325.17,5222.64,NaN,7527.02,20057.07,NaN,NaN,27584.09,15479.73,5567.24,...,8C,Air Transport International,8C,Air Transport International,06028,System,2.0,2.0,1990,4

In [43]:
#mapping carrier_group values to description for easse of use
carrier_group_mapping = {
    0: 'International Carriers',
    1: 'Regional Carriers (including Large, Medium, Commuter, Small Certified)',
    2: 'National Carriers',
    3: 'Major Carriers',
    7: 'Domestic Only - All Cargo Carriers'
}
#replace carrier group values to description
p1_1["CARRIER_GROUP"] = p1_1["CARRIER_GROUP"].replace(carrier_group_mapping)
p1_1

/tmp/ipykernel_273/2369337709.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1_1["CARRIER_GROUP"] = p1_1["CARRIER_GROUP"].replace(carrier_group_mapping)

,NET_INCOME,OP_PROFIT,OP_REVENUE_SCH_PAX,OP_REVENUE_SCH_OTH,OP_REVENUE_NON_SCH,OP_REVENUE_PUB_SVC,OP_REVENUE_OTHER,OP_REVENUE,OP_EXPENSE_FLYING,OP_EXPENSE_MAINT,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
86,-3607.01,-3613.85,5505.43,NaN,1429.52,NaN,9.07,6944.02,4271.90,1629.30,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2000,4
89,-3534.06,-1702.28,1338.85,NaN,1921.70,NaN,3.80,3264.35,1872.20,1367.85,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2001,4
104,-3201.09,-3216.83,NaN,NaN,5319.86,NaN,NaN,5319.86,4526.75,2069.23,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1999,4
154,-2071.26,-2086.30,1510.99,NaN,4779.93,NaN,7.24,6298.16,3153.04,1935.57,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2000,2
156,-2050.26,-808.81,3800.44,NaN,8645.90,NaN,691.81,13138.15,4210.39,2648.87,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2002,4
194,-1408.69,-1396.59,1304.96,NaN,1688.43,NaN,0.70,2994.10,1518.67,931.14,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2001,2
266,-703.84,-704.18,NaN,NaN,931.07,NaN,NaN,931.07,975.12,466.97,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1998,4
270,-677.46,-679.17,NaN,NaN,1671.80,NaN,NaN,1671.80,1396.25,448.12,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1999,2
333,-362.06,-2351.22,5680.29,NaN,899.33,NaN,12.72,6592.34,3223.27,1308.82,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1993,2
485,73.62,177.63,2147.08,NaN,7435.50,NaN,360.25,9942.83,3859.60,1480.55,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2002,2
586,312.08,-1129.54,8904.40,NaN,256.73,NaN,5.98,9167.12,3804.28,1574.70,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1993,4
642,494.86,426.01,NaN,7534.80,7941.41,NaN,NaN,15476.21,9606.83,4368.91,...,8C,Air Transport International,8C,Air Transport International,06028,System,2.0,National Carriers,1990,2
665,575.66,388.07,14190.61,NaN,19.67,NaN,38.97,14249.25,4658.06,2142.60,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1994,2
702,735.98,1129.57,14976.57,NaN,15616.03,NaN,4335.20,34927.79,10938.25,6117.25,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2003,4
706,784.04,300.28,6544.36,NaN,10953.10,NaN,1738.27,19235.73,5955.87,3009.90,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,4.0,"Regional Carriers (including Large, Medium, Co...",2003,2
722,846.20,-2198.87,5636.39,NaN,668.11,NaN,NaN,6304.50,2993.91,1302.35,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1992,4
755,1186.76,1412.18,19384.99,NaN,NaN,NaN,1465.93,20850.91,7128.04,3426.58,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",1994,4
841,3343.73,3125.87,NaN,8374.44,19541.24,NaN,NaN,27915.68,16861.63,6435.08,...,8C,Air Transport International,8C,Air Transport International,06028,System,2.0,National Carriers,1991,2
858,5325.17,5222.64,NaN,7527.02,20057.07,NaN,NaN,27584.09,15479.73,5567.24,...,8C,Air Transport International,8C,Air Transport International,06028,System,2.0,National Carriers,1990,4

In [44]:
#Cleaning p1.2 dataset 
p1_2 = pd.read_csv(obj6['Body'])
p1_2

,NET_INCOME,OP_PROFIT_LOSS,TRANS_REV_PAX,MAIL,TOTAL_PROPERTY,PROP_FREIGHT,PROP_BAG,TOTAL_CHARTER,CHARTER_PAX,CHARTER_PROP,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,RLQ,Reliant Airlines,RLQ,Reliant Airlines,06773,S,1.0,1.0,2001,2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,RLQ,Reliant Airlines,RLQ,Reliant Airlines,16770 (1),I,1.0,1.0,2001,2
2,NaN,-258.57,NaN,NaN,12373.21,12373.21,NaN,NaN,NaN,NaN,...,PO,Polar Air Cargo Airways,PO,Polar Air Cargo Airways,16758,P,2.0,2.0,2009,2
3,NaN,-225.66,NaN,NaN,44301.48,44301.48,NaN,NaN,NaN,NaN,...,PO,Polar Air Cargo Airways,PO,Polar Air Cargo Airways,16758,P,2.0,2.0,2010,3
4,NaN,-89.03,NaN,NaN,17477.20,17477.20,NaN,NaN,NaN,NaN,...,PO,Polar Air Cargo Airways,PO,Polar Air Cargo Airways,06758,D,2.0,2.0,2010,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14873,2894756.00,-11006.00,382206.0,8784.00,41221.00,39690.00,1531.0,6856.0,6856.00,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10874,A,3.0,3.0,2006,1
14874,3542267.09,855518.47,4700786.9,3591.98,NaN,25834.36,159601.2,NaN,21458.64,0.0,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3.0,3.0,2015,4
14875,5065921.00,-24774.00,652093.0,10475.00,72989.00,70036.00,2953.0,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3.0,3.0,2006,1
14876,5725232.00,580840.00,3673488.0,13491.00,NaN,54371.00,197882.0,NaN,87469.00,0.0,...,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,01260,D,3.0,3.0,2013,4
14877,13336718.00,-105350.00,1978673.0,15439.00,32336.00,26580.00,5756.0,2446.0,2446.00,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2006,1

In [45]:
# 2. Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = p1_2.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

#Removing any duplicate rows (future purpose)
p1_2 = p1_2.drop_duplicates()

Checking for duplicate rows:
Number of duplicate rows: 0

In [46]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(p1_2.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
p1_2 = p1_2[~outliers]
p1_2

Number of outliers detected: 0

,NET_INCOME,OP_PROFIT_LOSS,TRANS_REV_PAX,MAIL,TOTAL_PROPERTY,PROP_FREIGHT,PROP_BAG,TOTAL_CHARTER,CHARTER_PAX,CHARTER_PROP,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,RLQ,Reliant Airlines,RLQ,Reliant Airlines,06773,S,1.0,1.0,2001,2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,RLQ,Reliant Airlines,RLQ,Reliant Airlines,16770 (1),I,1.0,1.0,2001,2
2,NaN,-258.57,NaN,NaN,12373.21,12373.21,NaN,NaN,NaN,NaN,...,PO,Polar Air Cargo Airways,PO,Polar Air Cargo Airways,16758,P,2.0,2.0,2009,2
3,NaN,-225.66,NaN,NaN,44301.48,44301.48,NaN,NaN,NaN,NaN,...,PO,Polar Air Cargo Airways,PO,Polar Air Cargo Airways,16758,P,2.0,2.0,2010,3
4,NaN,-89.03,NaN,NaN,17477.20,17477.20,NaN,NaN,NaN,NaN,...,PO,Polar Air Cargo Airways,PO,Polar Air Cargo Airways,06758,D,2.0,2.0,2010,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14873,2894756.00,-11006.00,382206.0,8784.00,41221.00,39690.00,1531.0,6856.0,6856.00,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10874,A,3.0,3.0,2006,1
14874,3542267.09,855518.47,4700786.9,3591.98,NaN,25834.36,159601.2,NaN,21458.64,0.0,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3.0,3.0,2015,4
14875,5065921.00,-24774.00,652093.0,10475.00,72989.00,70036.00,2953.0,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3.0,3.0,2006,1
14876,5725232.00,580840.00,3673488.0,13491.00,NaN,54371.00,197882.0,NaN,87469.00,0.0,...,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,01260,D,3.0,3.0,2013,4
14877,13336718.00,-105350.00,1978673.0,15439.00,32336.00,26580.00,5756.0,2446.0,2446.00,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2006,1

In [47]:
# Filter the b1 dataset for airlines of interest
p1_2 = p1_2[p1_2['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
p1_2

,NET_INCOME,OP_PROFIT_LOSS,TRANS_REV_PAX,MAIL,TOTAL_PROPERTY,PROP_FREIGHT,PROP_BAG,TOTAL_CHARTER,CHARTER_PAX,CHARTER_PROP,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
14,NaN,5127.24,31262.61,0.00,NaN,0.00,5391.24,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,L,2.0,2.0,2011,1
15,NaN,5438.19,27989.78,0.00,NaN,0.00,5551.31,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,L,2.0,2.0,2012,1
16,NaN,5812.67,31849.75,0.00,NaN,0.00,5718.40,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,L,2.0,2.0,2011,2
17,NaN,6109.28,28663.54,0.00,NaN,0.00,5872.20,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,L,3.0,3.0,2013,1
18,NaN,7278.23,31411.63,0.00,NaN,0.00,6370.25,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,L,2.0,2.0,2012,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14873,2894756.00,-11006.00,382206.00,8784.00,41221.0,39690.00,1531.00,6856.0,6856.00,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10874,A,3.0,3.0,2006,1
14874,3542267.09,855518.47,4700786.90,3591.98,NaN,25834.36,159601.20,NaN,21458.64,0.0,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3.0,3.0,2015,4
14875,5065921.00,-24774.00,652093.00,10475.00,72989.0,70036.00,2953.00,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3.0,3.0,2006,1
14876,5725232.00,580840.00,3673488.00,13491.00,NaN,54371.00,197882.00,NaN,87469.00,0.0,...,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,01260,D,3.0,3.0,2013,4
14877,13336718.00,-105350.00,1978673.00,15439.00,32336.0,26580.00,5756.00,2446.0,2446.00,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2006,1

In [48]:
#mapping region values to description for ease of use
region_mapping = {
    'A': 'Atlantic',
    'D': 'Domestic',
    'I': 'International',
    'L': 'Latin America',
    'P': 'Pacific',
    'S': 'System'
}

# Replace values in the REGION column
p1_2['REGION'] = p1_2['REGION'].replace(region_mapping)
p1_2

/tmp/ipykernel_273/671132058.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1_2['REGION'] = p1_2['REGION'].replace(region_mapping)

,NET_INCOME,OP_PROFIT_LOSS,TRANS_REV_PAX,MAIL,TOTAL_PROPERTY,PROP_FREIGHT,PROP_BAG,TOTAL_CHARTER,CHARTER_PAX,CHARTER_PROP,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
14,NaN,5127.24,31262.61,0.00,NaN,0.00,5391.24,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,Latin America,2.0,2.0,2011,1
15,NaN,5438.19,27989.78,0.00,NaN,0.00,5551.31,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,Latin America,2.0,2.0,2012,1
16,NaN,5812.67,31849.75,0.00,NaN,0.00,5718.40,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,Latin America,2.0,2.0,2011,2
17,NaN,6109.28,28663.54,0.00,NaN,0.00,5872.20,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,Latin America,3.0,3.0,2013,1
18,NaN,7278.23,31411.63,0.00,NaN,0.00,6370.25,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,Latin America,2.0,2.0,2012,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14873,2894756.00,-11006.00,382206.00,8784.00,41221.0,39690.00,1531.00,6856.0,6856.00,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10874,Atlantic,3.0,3.0,2006,1
14874,3542267.09,855518.47,4700786.90,3591.98,NaN,25834.36,159601.20,NaN,21458.64,0.0,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,Domestic,3.0,3.0,2015,4
14875,5065921.00,-24774.00,652093.00,10475.00,72989.0,70036.00,2953.00,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,Pacific,3.0,3.0,2006,1
14876,5725232.00,580840.00,3673488.00,13491.00,NaN,54371.00,197882.00,NaN,87469.00,0.0,...,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,01260,Domestic,3.0,3.0,2013,4
14877,13336718.00,-105350.00,1978673.00,15439.00,32336.0,26580.00,5756.00,2446.0,2446.00,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,Domestic,3.0,3.0,2006,1

In [49]:
#mapping carrier_group values to description for easse of use
carrier_group_mapping = {
    0: 'International Carriers',
    1: 'Regional Carriers (including Large, Medium, Commuter, Small Certified)',
    2: 'National Carriers',
    3: 'Major Carriers',
    7: 'Domestic Only - All Cargo Carriers'
}
#replace carrier group values to description
p1_2["CARRIER_GROUP"] = p1_2["CARRIER_GROUP"].replace(carrier_group_mapping)
p1_2

/tmp/ipykernel_273/1007806742.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1_2["CARRIER_GROUP"] = p1_2["CARRIER_GROUP"].replace(carrier_group_mapping)

,NET_INCOME,OP_PROFIT_LOSS,TRANS_REV_PAX,MAIL,TOTAL_PROPERTY,PROP_FREIGHT,PROP_BAG,TOTAL_CHARTER,CHARTER_PAX,CHARTER_PROP,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
14,NaN,5127.24,31262.61,0.00,NaN,0.00,5391.24,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,Latin America,2.0,National Carriers,2011,1
15,NaN,5438.19,27989.78,0.00,NaN,0.00,5551.31,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,Latin America,2.0,National Carriers,2012,1
16,NaN,5812.67,31849.75,0.00,NaN,0.00,5718.40,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,Latin America,2.0,National Carriers,2011,2
17,NaN,6109.28,28663.54,0.00,NaN,0.00,5872.20,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,Latin America,3.0,Major Carriers,2013,1
18,NaN,7278.23,31411.63,0.00,NaN,0.00,6370.25,NaN,0.00,0.0,...,NK,Spirit Air Lines,NK,Spirit Air Lines,16831,Latin America,2.0,National Carriers,2012,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14873,2894756.00,-11006.00,382206.00,8784.00,41221.0,39690.00,1531.00,6856.0,6856.00,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10874,Atlantic,3.0,Major Carriers,2006,1
14874,3542267.09,855518.47,4700786.90,3591.98,NaN,25834.36,159601.20,NaN,21458.64,0.0,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,Domestic,3.0,Major Carriers,2015,4
14875,5065921.00,-24774.00,652093.00,10475.00,72989.0,70036.00,2953.00,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,Pacific,3.0,Major Carriers,2006,1
14876,5725232.00,580840.00,3673488.00,13491.00,NaN,54371.00,197882.00,NaN,87469.00,0.0,...,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,01260,Domestic,3.0,Major Carriers,2013,4
14877,13336718.00,-105350.00,1978673.00,15439.00,32336.0,26580.00,5756.00,2446.0,2446.00,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,Domestic,3.0,Major Carriers,2006,1

In [50]:
#Cleaning p10 dataset 
p10 = pd.read_csv(obj7['Body'])
p10

,YEAR,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,ENTITY,GENERAL_MANAGE,PILOTS_COPILOTS,OTHER_FLT_PERS,...,GEN_ARCFT_TRAF_HANDLING,AIRCRAFT_CONTROL,PASSENGER_HANDLING,CARGO_HANDLING,TRAINEES_INTRUCTOR,STATISTICAL,TRAFFIC_SOLICITERS,OTHER,TRANSPORT_RELATED,TOTAL
0,1990,NaN,NaN,NaN,WE,NaN,L,7,23,3,...,67,6,0,96,0,15,10,31,0,281
1,1990,19385.0,RV (1),Reeve Aleutian Airways Inc.,RV,Reeve Aleutian Airways Inc.,D,28,20,9,...,0,0,0,0,3,24,0,30,0,261
2,1990,19386.0,NW,Northwest Airlines Inc.,NW,Northwest Airlines Inc.,A,1,240,0,...,343,7,141,83,15,145,16,130,0,1785
3,1990,19386.0,NW,Northwest Airlines Inc.,NW,Northwest Airlines Inc.,D,35,3117,0,...,9028,219,2025,377,214,1959,255,1452,81,25279
4,1990,19386.0,NW,Northwest Airlines Inc.,NW,Northwest Airlines Inc.,P,1,1140,0,...,1279,74,1061,432,64,772,135,811,98,8711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,2023,21629.0,KD,Western Global,KD,Western Global,D,13,94,0,...,15,13,0,30,3,12,0,5,0,273
3364,2023,21652.0,27Q,"Jet Aviation Flight Services, Inc.",27Q,"Jet Aviation Flight Services, Inc.",D,1,342,0,...,0,0,0,0,0,2,0,0,331,851
3365,2023,21979.0,3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",D,6,150,0,...,0,0,0,0,0,7,0,0,0,239
3366,2023,21979.0,3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",I,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3367,2023,22080.0,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,D,8,428,43,...,37,0,572,0,51,6,0,258,0,1513

In [51]:
#Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = p10.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

#Removing any duplicate rows (future purpose)
p10 = p10.drop_duplicates()

Checking for duplicate rows:
Number of duplicate rows: 1

In [52]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(p10.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
p10 = p10[~outliers]
p10

Number of outliers detected: 409

,YEAR,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,ENTITY,GENERAL_MANAGE,PILOTS_COPILOTS,OTHER_FLT_PERS,...,GEN_ARCFT_TRAF_HANDLING,AIRCRAFT_CONTROL,PASSENGER_HANDLING,CARGO_HANDLING,TRAINEES_INTRUCTOR,STATISTICAL,TRAFFIC_SOLICITERS,OTHER,TRANSPORT_RELATED,TOTAL
0,1990,NaN,NaN,NaN,WE,NaN,L,7,23,3,...,67,6,0,96,0,15,10,31,0,281
1,1990,19385.0,RV (1),Reeve Aleutian Airways Inc.,RV,Reeve Aleutian Airways Inc.,D,28,20,9,...,0,0,0,0,3,24,0,30,0,261
2,1990,19386.0,NW,Northwest Airlines Inc.,NW,Northwest Airlines Inc.,A,1,240,0,...,343,7,141,83,15,145,16,130,0,1785
4,1990,19386.0,NW,Northwest Airlines Inc.,NW,Northwest Airlines Inc.,P,1,1140,0,...,1279,74,1061,432,64,772,135,811,98,8711
5,1990,19392.0,RIQ,Rich International Airways,RIQ,Rich International Airways,I,8,10,6,...,0,0,0,0,1,4,0,5,0,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,2023,21629.0,KD,Western Global,KD,Western Global,D,13,94,0,...,15,13,0,30,3,12,0,5,0,273
3364,2023,21652.0,27Q,"Jet Aviation Flight Services, Inc.",27Q,"Jet Aviation Flight Services, Inc.",D,1,342,0,...,0,0,0,0,0,2,0,0,331,851
3365,2023,21979.0,3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",D,6,150,0,...,0,0,0,0,0,7,0,0,0,239
3366,2023,21979.0,3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",3FQ,"Western Air Charter, Inc. d/b/a Jet Edge",I,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3367,2023,22080.0,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,D,8,428,43,...,37,0,572,0,51,6,0,258,0,1513

In [53]:
# Filter the b1 dataset for airlines of interest
p10 = p10[p10['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
p10

,YEAR,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,ENTITY,GENERAL_MANAGE,PILOTS_COPILOTS,OTHER_FLT_PERS,...,GEN_ARCFT_TRAF_HANDLING,AIRCRAFT_CONTROL,PASSENGER_HANDLING,CARGO_HANDLING,TRAINEES_INTRUCTOR,STATISTICAL,TRAFFIC_SOLICITERS,OTHER,TRANSPORT_RELATED,TOTAL
6,1990,19393.0,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,D,452,957,0,...,1130,48,3133,0,21,281,34,220,0,8267
15,1990,19790.0,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,A,0,0,0,...,26,0,400,2,0,0,64,0,0,492
17,1990,19790.0,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,L,0,0,0,...,81,0,145,163,0,0,16,0,0,405
18,1990,19790.0,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,P,0,0,0,...,2,0,35,0,0,0,6,1,0,44
19,1990,19805.0,AA,American Airlines Inc.,AA,American Airlines Inc.,A,0,0,0,...,321,0,731,230,0,57,0,1,0,1340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3334,2023,20378.0,YV,Mesa Airlines Inc.,YV,Mesa Airlines Inc.,L,14,83,0,...,6,3,0,0,2,11,0,10,236,467
3346,2023,20416.0,NK,Spirit Air Lines,NK,Spirit Air Lines,D,335,3187,0,...,0,90,262,334,80,36,0,1228,0,11772
3347,2023,20416.0,NK,Spirit Air Lines,NK,Spirit Air Lines,L,52,493,0,...,0,14,41,52,12,5,0,190,0,1821
3351,2023,20436.0,F9,Frontier Airlines Inc.,F9,Frontier Airlines Inc.,D,29,1946,0,...,147,11,0,0,57,288,0,194,0,6666
3352,2023,20436.0,F9,Frontier Airlines Inc.,F9,Frontier Airlines Inc.,L,2,166,0,...,12,1,0,0,5,25,0,17,0,569

In [54]:
#mapping region values to description for ease of use
entity_mapping = {
    'A': 'Atlantic',
    'D': 'Domestic',
    'I': 'International',
    'L': 'Latin America',
    'P': 'Pacific',
    'S': 'System'
}

# Replace values in the REGION column
p10['ENTITY'] = p10['ENTITY'].replace(entity_mapping)

p10

/tmp/ipykernel_273/2821494850.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p10['ENTITY'] = p10['ENTITY'].replace(entity_mapping)

,YEAR,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,ENTITY,GENERAL_MANAGE,PILOTS_COPILOTS,OTHER_FLT_PERS,...,GEN_ARCFT_TRAF_HANDLING,AIRCRAFT_CONTROL,PASSENGER_HANDLING,CARGO_HANDLING,TRAINEES_INTRUCTOR,STATISTICAL,TRAFFIC_SOLICITERS,OTHER,TRANSPORT_RELATED,TOTAL
6,1990,19393.0,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,Domestic,452,957,0,...,1130,48,3133,0,21,281,34,220,0,8267
15,1990,19790.0,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,Atlantic,0,0,0,...,26,0,400,2,0,0,64,0,0,492
17,1990,19790.0,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,Latin America,0,0,0,...,81,0,145,163,0,0,16,0,0,405
18,1990,19790.0,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,Pacific,0,0,0,...,2,0,35,0,0,0,6,1,0,44
19,1990,19805.0,AA,American Airlines Inc.,AA,American Airlines Inc.,Atlantic,0,0,0,...,321,0,731,230,0,57,0,1,0,1340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3334,2023,20378.0,YV,Mesa Airlines Inc.,YV,Mesa Airlines Inc.,Latin America,14,83,0,...,6,3,0,0,2,11,0,10,236,467
3346,2023,20416.0,NK,Spirit Air Lines,NK,Spirit Air Lines,Domestic,335,3187,0,...,0,90,262,334,80,36,0,1228,0,11772
3347,2023,20416.0,NK,Spirit Air Lines,NK,Spirit Air Lines,Latin America,52,493,0,...,0,14,41,52,12,5,0,190,0,1821
3351,2023,20436.0,F9,Frontier Airlines Inc.,F9,Frontier Airlines Inc.,Domestic,29,1946,0,...,147,11,0,0,57,288,0,194,0,6666
3352,2023,20436.0,F9,Frontier Airlines Inc.,F9,Frontier Airlines Inc.,Latin America,2,166,0,...,12,1,0,0,5,25,0,17,0,569

In [55]:
#Cleaning p12a dataset 
p12a = pd.read_csv(obj8['Body'])
p12a

,YEAR,QUARTER,MONTH,AIRLINE_ID,UNIQUE_CARRIER,CARRIER,CARRIER_NAME,CARRIER_GROUP_NEW,SALA_GALLONS,SDOM_GALLONS,...,NDOMT_COST,NATL_COST,NPAC_COST,NLAT_COST,MAC_COST,NINT_COST,TN_COST,TDOMT_COST,TINT_COST,TOTAL_COST
0,1990,1,1,19065.0,AJ,AJ,Air Micronesia Inc.,1,0.0,224686.0,...,294567.0,NaN,NaN,NaN,233916.0,233916.0,528483.0,486276.0,450135.0,936411.0
1,1990,1,1,19385.0,RV (1),RV,Reeve Aleutian Airways Inc.,1,0.0,330958.0,...,84098.0,NaN,NaN,NaN,NaN,0.0,84098.0,406542.0,0.0,406542.0
2,1990,1,1,19386.0,NW,NW,Northwest Airlines Inc.,3,0.0,89899968.0,...,16805.0,NaN,33995.0,NaN,1364362.0,1398357.0,1415162.0,69785471.0,39538984.0,109324455.0
3,1990,1,1,19392.0,RIQ,RIQ,Rich International Airways,1,0.0,0.0,...,0.0,100677.0,NaN,9577.0,NaN,110254.0,110254.0,0.0,110254.0,110254.0
4,1990,1,1,19393.0,WN,WN,Southwest Airlines Co.,3,0.0,24936003.0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,19839080.0,0.0,19839080.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23602,2024,2,6,21754.0,2PQ,2PQ,21 Air LLC,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23603,2024,2,6,21875.0,37Q,37Q,"Hillwood Airways, LLC f/k/a ATX Air Service...",1,0.0,0.0,...,50959.0,0.0,0.0,362651.0,0.0,362651.0,413610.0,50959.0,362651.0,413610.0
23604,2024,2,6,21974.0,3EQ,3EQ,"Scott Aviation, LLC d/b/a Silver Air",2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23605,2024,2,6,22080.0,MX,MX,Breeze Aviation Group DBA Breeze,2,0.0,5827454.0,...,502646.0,0.0,0.0,0.0,0.0,0.0,502646.0,17685903.0,0.0,17685903.0
23606,2024,2,6,22085.0,GCA,GCA,"Global Crossing Airlines, Inc.",2,0.0,0.0,...,1568678.0,0.0,0.0,2548044.0,0.0,2548044.0,4116722.0,1568678.0,2548044.0,4116722.0

In [56]:
#Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = p12a.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

#Removing any duplicate rows (future purpose)
p12a = p12a.drop_duplicates()

Checking for duplicate rows:
Number of duplicate rows: 0

In [57]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(p12a.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
p12a = p12a[~outliers]
p12a

Number of outliers detected: 28

,YEAR,QUARTER,MONTH,AIRLINE_ID,UNIQUE_CARRIER,CARRIER,CARRIER_NAME,CARRIER_GROUP_NEW,SALA_GALLONS,SDOM_GALLONS,...,NDOMT_COST,NATL_COST,NPAC_COST,NLAT_COST,MAC_COST,NINT_COST,TN_COST,TDOMT_COST,TINT_COST,TOTAL_COST
0,1990,1,1,19065.0,AJ,AJ,Air Micronesia Inc.,1,0.0,224686.0,...,294567.0,NaN,NaN,NaN,233916.0,233916.0,528483.0,486276.0,450135.0,936411.0
1,1990,1,1,19385.0,RV (1),RV,Reeve Aleutian Airways Inc.,1,0.0,330958.0,...,84098.0,NaN,NaN,NaN,NaN,0.0,84098.0,406542.0,0.0,406542.0
2,1990,1,1,19386.0,NW,NW,Northwest Airlines Inc.,3,0.0,89899968.0,...,16805.0,NaN,33995.0,NaN,1364362.0,1398357.0,1415162.0,69785471.0,39538984.0,109324455.0
3,1990,1,1,19392.0,RIQ,RIQ,Rich International Airways,1,0.0,0.0,...,0.0,100677.0,NaN,9577.0,NaN,110254.0,110254.0,0.0,110254.0,110254.0
4,1990,1,1,19393.0,WN,WN,Southwest Airlines Co.,3,0.0,24936003.0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,19839080.0,0.0,19839080.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23602,2024,2,6,21754.0,2PQ,2PQ,21 Air LLC,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23603,2024,2,6,21875.0,37Q,37Q,"Hillwood Airways, LLC f/k/a ATX Air Service...",1,0.0,0.0,...,50959.0,0.0,0.0,362651.0,0.0,362651.0,413610.0,50959.0,362651.0,413610.0
23604,2024,2,6,21974.0,3EQ,3EQ,"Scott Aviation, LLC d/b/a Silver Air",2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23605,2024,2,6,22080.0,MX,MX,Breeze Aviation Group DBA Breeze,2,0.0,5827454.0,...,502646.0,0.0,0.0,0.0,0.0,0.0,502646.0,17685903.0,0.0,17685903.0
23606,2024,2,6,22085.0,GCA,GCA,"Global Crossing Airlines, Inc.",2,0.0,0.0,...,1568678.0,0.0,0.0,2548044.0,0.0,2548044.0,4116722.0,1568678.0,2548044.0,4116722.0

In [58]:
# Filter the b1 dataset for airlines of interest
p12a = p12a[p12a['CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
p12a

,YEAR,QUARTER,MONTH,AIRLINE_ID,UNIQUE_CARRIER,CARRIER,CARRIER_NAME,CARRIER_GROUP_NEW,SALA_GALLONS,SDOM_GALLONS,...,NDOMT_COST,NATL_COST,NPAC_COST,NLAT_COST,MAC_COST,NINT_COST,TN_COST,TDOMT_COST,TINT_COST,TOTAL_COST
4,1990,1,1,19393.0,WN,WN,Southwest Airlines Co.,3,0.0,24936003.0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,19839080.0,0.0,19839080.0
9,1990,1,1,19690.0,HA,HA,Hawaiian Airlines Inc.,2,0.0,5660522.0,...,546747.0,28466.0,217236.0,NaN,473534.0,719236.0,1265983.0,4478670.0,1899864.0,6378534.0
12,1990,1,1,19790.0,DL,DL,Delta Air Lines Inc.,3,0.0,145571619.0,...,83937.0,NaN,NaN,NaN,NaN,0.0,83937.0,113774312.0,14524177.0,128298489.0
13,1990,1,1,19805.0,AA,AA,American Airlines Inc.,3,0.0,166697196.0,...,380424.0,NaN,NaN,NaN,NaN,0.0,380424.0,128672301.0,19468884.0,148141185.0
14,1990,1,1,19930.0,AS,AS,Alaska Airlines Inc.,3,0.0,16232053.0,...,48436.0,NaN,NaN,NaN,NaN,0.0,48436.0,11624038.0,0.0,11624038.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23575,2024,2,6,20304.0,OO,OO,SkyWest Airlines Inc.,3,0.0,2270965.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7183181.0,0.0,7183181.0
23578,2024,2,6,20368.0,G4,G4,Allegiant Air,3,0.0,22657493.0,...,1497610.0,39710.0,0.0,930136.0,0.0,969846.0,2467456.0,63041922.0,969846.0,64011768.0
23582,2024,2,6,20378.0,YV,YV,Mesa Airlines Inc.,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23589,2024,2,6,20416.0,NK,NK,Spirit Air Lines,3,0.0,44518011.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,116099917.0,13326278.0,129426195.0
23592,2024,2,6,20436.0,F9,F9,Frontier Airlines Inc.,3,0.0,31989611.0,...,0.0,0.0,0.0,60392.0,0.0,60392.0,60392.0,75799164.0,8132622.0,83931786.0

In [59]:
# Group by YEAR, QUARTER, and CARRIER_NAME
p12a = p12a.groupby(['YEAR', 'QUARTER', 'CARRIER_NAME'], as_index=False).agg({
    'AIRLINE_ID': 'first',                # Keep the first occurrence (or you could use another method like 'min', 'max')
    'UNIQUE_CARRIER': 'first',            # Same here
    'CARRIER': 'first',                   # And here
    'CARRIER_GROUP_NEW': 'first', 
    'MONTH': 'first', # And here
    # Sum all other numeric columns
    **{col: 'sum' for col in p12a.columns if col not in ['YEAR', 'MONTH','QUARTER', 'CARRIER_NAME', 'AIRLINE_ID', 'UNIQUE_CARRIER', 'CARRIER', 'CARRIER_GROUP_NEW']}
})

p12a

,YEAR,QUARTER,CARRIER_NAME,AIRLINE_ID,UNIQUE_CARRIER,CARRIER,CARRIER_GROUP_NEW,MONTH,SALA_GALLONS,SDOM_GALLONS,...,NDOMT_COST,NATL_COST,NPAC_COST,NLAT_COST,MAC_COST,NINT_COST,TN_COST,TDOMT_COST,TINT_COST,TOTAL_COST
0,1990,1,Alaska Airlines Inc.,19930.0,AS,AS,3,1,0.0,46768336.0,...,178398.0,0.0,0.0,0.0,0.0,0.0,178398.0,3.233093e+07,0.000000e+00,3.233093e+07
1,1990,1,American Airlines Inc.,19805.0,AA,AA,3,1,0.0,491367134.0,...,1011598.0,0.0,0.0,0.0,0.0,0.0,1011598.0,3.498860e+08,5.428614e+07,4.041721e+08
2,1990,1,Delta Air Lines Inc.,19790.0,DL,DL,3,1,0.0,425629684.0,...,121909.0,0.0,0.0,0.0,0.0,0.0,121909.0,3.126592e+08,4.204174e+07,3.547009e+08
3,1990,1,Hawaiian Airlines Inc.,19690.0,HA,HA,2,1,0.0,16446485.0,...,1711676.0,186823.0,501088.0,0.0,839089.0,1527000.0,3238676.0,1.323034e+07,4.748514e+06,1.797885e+07
4,1990,1,Southwest Airlines Co.,19393.0,WN,WN,3,1,0.0,73684663.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.251223e+07,0.000000e+00,5.251223e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503,2024,2,Mesa Airlines Inc.,20378.0,YV,YV,2,4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00
1504,2024,2,SkyWest Airlines Inc.,20304.0,OO,OO,3,4,0.0,6353946.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.108943e+07,0.000000e+00,2.108943e+07
1505,2024,2,Southwest Airlines Co.,19393.0,WN,WN,3,4,0.0,569262811.0,...,34861.0,0.0,0.0,0.0,0.0,0.0,34861.0,1.505015e+09,2.388173e+07,1.528897e+09
1506,2024,2,Spirit Air Lines,20416.0,NK,NK,3,4,0.0,130488127.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.622054e+08,4.509045e+07,4.072958e+08
1507,2024,2,United Air Lines Inc.,19977.0,UA,UA,3,4,0.0,485597546.0,...,7694675.0,888639.0,2712274.0,943998.0,53337.0,4598248.0,12292923.0,1.269088e+09,1.402912e+09,2.672001e+09

In [60]:
#Cleaning b1.1 dataset 
p5_1 = pd.read_csv(obj9['Body'])
p5_1

,PILOTEXPENSE,AIRCRAFT_FUEL,OTHER_EXPENSES,TOTAL_DIRECT_LESS_RENT,MAINTENANCE,DEPAND_RENTAL,TOTAL_DIRECT,FLIGHT_ATTENDANTS,TRAFFIC,DEPARTURE,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23Q,Songbird Airways Inc.,23Q,Sky King Inc.,11044,I,1.0,1.0,2015,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,06144,D,1.0,1.0,2013,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,11034,L,1.0,1.0,2013,3
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,06144,D,1.0,1.0,2013,4
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23Q,Songbird Airways Inc.,23Q,Songbird Airways Inc.,11044,I,1.0,1.0,2015,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11215,12218.61,19997.17,1373.27,33589.05,4680.70,9315.45,47585.21,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,D,1.0,1.0,2023,1
11216,15786.89,30642.05,1205.86,47634.80,7213.37,13636.86,68485.03,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,D,1.0,1.0,2023,3
11217,16192.97,21399.49,1366.65,38959.11,5934.70,11415.47,56309.28,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,D,1.0,1.0,2023,2
11218,16211.21,13589.50,1083.52,30884.23,9833.11,NaN,40717.35,NaN,NaN,NaN,...,F2,Omega Air Holdings d/b/a Focus Air,F2,Omega Air Holdings d/b/a Focus Air,06006,D,1.0,1.0,2007,2
11219,16865.23,34571.53,3654.41,55091.17,8015.61,17492.91,80599.69,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,D,1.0,1.0,2023,4

In [61]:
# 2. Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = p5_1.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

#Removing any duplicate rows (future purpose)
p5_1 = p5_1.drop_duplicates()

Checking for duplicate rows:
Number of duplicate rows: 0

In [62]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(p5_1.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
p5_1 = p5_1[~outliers]
p5_1

Number of outliers detected: 110

,PILOTEXPENSE,AIRCRAFT_FUEL,OTHER_EXPENSES,TOTAL_DIRECT_LESS_RENT,MAINTENANCE,DEPAND_RENTAL,TOTAL_DIRECT,FLIGHT_ATTENDANTS,TRAFFIC,DEPARTURE,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23Q,Songbird Airways Inc.,23Q,Sky King Inc.,11044,I,1.0,1.0,2015,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,06144,D,1.0,1.0,2013,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,11034,L,1.0,1.0,2013,3
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,06144,D,1.0,1.0,2013,4
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23Q,Songbird Airways Inc.,23Q,Songbird Airways Inc.,11044,I,1.0,1.0,2015,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11215,12218.61,19997.17,1373.27,33589.05,4680.70,9315.45,47585.21,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,D,1.0,1.0,2023,1
11216,15786.89,30642.05,1205.86,47634.80,7213.37,13636.86,68485.03,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,D,1.0,1.0,2023,3
11217,16192.97,21399.49,1366.65,38959.11,5934.70,11415.47,56309.28,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,D,1.0,1.0,2023,2
11218,16211.21,13589.50,1083.52,30884.23,9833.11,NaN,40717.35,NaN,NaN,NaN,...,F2,Omega Air Holdings d/b/a Focus Air,F2,Omega Air Holdings d/b/a Focus Air,06006,D,1.0,1.0,2007,2
11219,16865.23,34571.53,3654.41,55091.17,8015.61,17492.91,80599.69,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,D,1.0,1.0,2023,4

In [63]:
#mapping region values to description for ease of use
region_mapping = {
    'A': 'Atlantic',
    'D': 'Domestic',
    'I': 'International',
    'L': 'Latin America',
    'P': 'Pacific',
    'S': 'System'
}

# Replace values in the REGION column
p5_1['REGION'] = p5_1['REGION'].replace(region_mapping)
p5_1

,PILOTEXPENSE,AIRCRAFT_FUEL,OTHER_EXPENSES,TOTAL_DIRECT_LESS_RENT,MAINTENANCE,DEPAND_RENTAL,TOTAL_DIRECT,FLIGHT_ATTENDANTS,TRAFFIC,DEPARTURE,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23Q,Songbird Airways Inc.,23Q,Sky King Inc.,11044,International,1.0,1.0,2015,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,06144,Domestic,1.0,1.0,2013,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,11034,Latin America,1.0,1.0,2013,3
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,06144,Domestic,1.0,1.0,2013,4
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23Q,Songbird Airways Inc.,23Q,Songbird Airways Inc.,11044,International,1.0,1.0,2015,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11215,12218.61,19997.17,1373.27,33589.05,4680.70,9315.45,47585.21,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,1.0,1.0,2023,1
11216,15786.89,30642.05,1205.86,47634.80,7213.37,13636.86,68485.03,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,1.0,1.0,2023,3
11217,16192.97,21399.49,1366.65,38959.11,5934.70,11415.47,56309.28,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,1.0,1.0,2023,2
11218,16211.21,13589.50,1083.52,30884.23,9833.11,NaN,40717.35,NaN,NaN,NaN,...,F2,Omega Air Holdings d/b/a Focus Air,F2,Omega Air Holdings d/b/a Focus Air,06006,Domestic,1.0,1.0,2007,2
11219,16865.23,34571.53,3654.41,55091.17,8015.61,17492.91,80599.69,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,1.0,1.0,2023,4

In [64]:
print(p5_1["CARRIER_GROUP_NEW"].unique())
print(p5_1["CARRIER_GROUP"].unique())

[ 1.  4. nan  2.]
[ 1. nan  2.]

In [65]:
#mapping carrier_group values to description for easse of use
carrier_group_mapping = {
    0: 'International Carriers',
    1: 'Regional Carriers (including Large, Medium, Commuter, Small Certified)',
    2: 'National Carriers',
    3: 'Major Carriers',
    7: 'Domestic Only - All Cargo Carriers'
}
#replace carrier group values to description
p5_1["CARRIER_GROUP"] = p5_1["CARRIER_GROUP"].replace(carrier_group_mapping)
p5_1

,PILOTEXPENSE,AIRCRAFT_FUEL,OTHER_EXPENSES,TOTAL_DIRECT_LESS_RENT,MAINTENANCE,DEPAND_RENTAL,TOTAL_DIRECT,FLIGHT_ATTENDANTS,TRAFFIC,DEPARTURE,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23Q,Songbird Airways Inc.,23Q,Sky King Inc.,11044,International,1.0,"Regional Carriers (including Large, Medium, Co...",2015,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,06144,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",2013,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,11034,Latin America,1.0,"Regional Carriers (including Large, Medium, Co...",2013,3
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,06144,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",2013,4
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23Q,Songbird Airways Inc.,23Q,Songbird Airways Inc.,11044,International,1.0,"Regional Carriers (including Large, Medium, Co...",2015,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11215,12218.61,19997.17,1373.27,33589.05,4680.70,9315.45,47585.21,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",2023,1
11216,15786.89,30642.05,1205.86,47634.80,7213.37,13636.86,68485.03,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",2023,3
11217,16192.97,21399.49,1366.65,38959.11,5934.70,11415.47,56309.28,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",2023,2
11218,16211.21,13589.50,1083.52,30884.23,9833.11,NaN,40717.35,NaN,NaN,NaN,...,F2,Omega Air Holdings d/b/a Focus Air,F2,Omega Air Holdings d/b/a Focus Air,06006,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",2007,2
11219,16865.23,34571.53,3654.41,55091.17,8015.61,17492.91,80599.69,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,1.0,"Regional Carriers (including Large, Medium, Co...",2023,4

In [66]:
#mapping carrier_group_new to description for ease of use
carrier_group_new = {
    0: "Foreign Carriers",
    1: "Large Regional Carriers (carriers with annual revenue of $20 million to $100 million)",
    2: "National Carriers (carriers with annual revenue over $100 million to $1 billion)",
    3: "Major Carriers (carriers with annual revenue over $1 billion)",
    4: "Medium Regional Carriers (carriers with annual revenue under $20 million)",
    5: "Small Certificated Carrier",
    6: "Commuter Carriers",
    7: "All Cargo Carriers",
    9: "Commuter Carriers"
}    
#replace carrier group new values to description
p5_1["CARRIER_GROUP_NEW"] = p5_1["CARRIER_GROUP_NEW"].replace(carrier_group_new)
p5_1

,PILOTEXPENSE,AIRCRAFT_FUEL,OTHER_EXPENSES,TOTAL_DIRECT_LESS_RENT,MAINTENANCE,DEPAND_RENTAL,TOTAL_DIRECT,FLIGHT_ATTENDANTS,TRAFFIC,DEPARTURE,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23Q,Songbird Airways Inc.,23Q,Sky King Inc.,11044,International,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",2015,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,06144,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",2013,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,11034,Latin America,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",2013,3
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XP,TEM Enterprises dba Avelo Airlines,XP,Casino Express,06144,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",2013,4
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23Q,Songbird Airways Inc.,23Q,Songbird Airways Inc.,11044,International,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",2015,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11215,12218.61,19997.17,1373.27,33589.05,4680.70,9315.45,47585.21,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",2023,1
11216,15786.89,30642.05,1205.86,47634.80,7213.37,13636.86,68485.03,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",2023,3
11217,16192.97,21399.49,1366.65,38959.11,5934.70,11415.47,56309.28,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",2023,2
11218,16211.21,13589.50,1083.52,30884.23,9833.11,NaN,40717.35,NaN,NaN,NaN,...,F2,Omega Air Holdings d/b/a Focus Air,F2,Omega Air Holdings d/b/a Focus Air,06006,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",2007,2
11219,16865.23,34571.53,3654.41,55091.17,8015.61,17492.91,80599.69,NaN,NaN,NaN,...,MX,Breeze Aviation Group DBA Breeze,MX,Breeze Aviation Group DBA Breeze,01268,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",2023,4

In [67]:
# Filter the b1 dataset for airlines of interest
p5_1 = p5_1[p5_1['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
p5_1

,PILOTEXPENSE,AIRCRAFT_FUEL,OTHER_EXPENSES,TOTAL_DIRECT_LESS_RENT,MAINTENANCE,DEPAND_RENTAL,TOTAL_DIRECT,FLIGHT_ATTENDANTS,TRAFFIC,DEPARTURE,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.00,24.04,25.07,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",1998,4
570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.32,25.25,182.51,...,G4,Allegiant Air,GLQ,Allegiant Air,06035,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",1999,2
631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.45,71.59,234.14,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,Medium Regional Carriers (carriers with annual...,"Regional Carriers (including Large, Medium, Co...",2001,2
729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232.97,90.76,278.74,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,Medium Regional Carriers (carriers with annual...,"Regional Carriers (including Large, Medium, Co...",2001,4
790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311.60,1848.31,1362.44,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",1993,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10865,2339.11,NaN,282.59,2621.70,3014.09,NaN,5635.79,NaN,NaN,NaN,...,8C,Air Transport International,8C,Air Transport International,06029,Domestic,National Carriers (carriers with annual revenu...,National Carriers,1994,2
10872,2359.32,NaN,NaN,2359.32,NaN,1382.03,3741.35,NaN,NaN,NaN,...,8C,Air Transport International,8C,Air Transport International,06029,Domestic,National Carriers (carriers with annual revenu...,National Carriers,1995,3
10893,2427.27,NaN,89.36,2516.63,1554.07,NaN,4070.70,NaN,NaN,NaN,...,8C,Air Transport International,8C,Air Transport International,06029,Domestic,National Carriers (carriers with annual revenu...,National Carriers,1994,4
10928,2553.00,16093.0,775.00,19421.00,2796.00,2785.00,25002.00,NaN,NaN,NaN,...,G4,Allegiant Air,G4,Allegiant Air,06035,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",2005,4
10935,2608.38,5584.3,3714.07,11906.75,8168.45,4236.62,24311.82,NaN,NaN,NaN,...,NK,Spirit Air Lines,NK,Spirit Air Lines,06830,Domestic,Large Regional Carriers (carriers with annual ...,"Regional Carriers (including Large, Medium, Co...",1998,4

In [68]:
#Cleaning p5.2 dataset 
p5_2 = pd.read_csv(obj10['Body'])
p5_2

,PILOT_FLY_OPS,OTH_FLT_FLY_OPS,TRAIN_FLY_OPS,PERS_EXP_FLY_OPS,PRO_FLY_OPS,INTERCHG_FLY_OPS,FUEL_FLY_OPS,OIL_FLY_OPS,RENTAL_FLY_OPS,OTHER_FLY_OPS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10874,A,3,3,2018,3
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,US,US Airways Inc.,US,US Airways Inc.,12040,A,3,3,2005,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3,3,2018,4
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3,3,2019,2
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3,3,2018,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63473,427121.0,0.0,6365.0,24399.0,0.0,0.0,688074.0,1326.0,12924.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2024,2
63474,443508.0,0.0,4694.0,19995.0,0.0,0.0,780867.0,1953.0,12174.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2022,4
63475,447696.0,0.0,4739.0,14028.0,0.0,0.0,150549.0,688.0,30456.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2020,2
63476,552064.0,0.0,5012.0,22442.0,0.0,0.0,758901.0,1471.0,12375.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2023,4
63477,606178.0,0.0,4384.0,15172.0,0.0,0.0,223076.0,1085.0,35820.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2020,3

In [69]:
# 2. Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = p5_2.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

#Removing any duplicate rows (future purpose)
p5_2 = p5_2.drop_duplicates()

Checking for duplicate rows:
Number of duplicate rows: 0

In [70]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(p5_2.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
p5_2 = p5_2[~outliers]
p5_2

Number of outliers detected: 2779

,PILOT_FLY_OPS,OTH_FLT_FLY_OPS,TRAIN_FLY_OPS,PERS_EXP_FLY_OPS,PRO_FLY_OPS,INTERCHG_FLY_OPS,FUEL_FLY_OPS,OIL_FLY_OPS,RENTAL_FLY_OPS,OTHER_FLY_OPS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10874,A,3,3,2018,3
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,US,US Airways Inc.,US,US Airways Inc.,12040,A,3,3,2005,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3,3,2018,4
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3,3,2019,2
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3,3,2018,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63473,427121.0,0.0,6365.0,24399.0,0.0,0.0,688074.0,1326.0,12924.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2024,2
63474,443508.0,0.0,4694.0,19995.0,0.0,0.0,780867.0,1953.0,12174.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2022,4
63475,447696.0,0.0,4739.0,14028.0,0.0,0.0,150549.0,688.0,30456.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2020,2
63476,552064.0,0.0,5012.0,22442.0,0.0,0.0,758901.0,1471.0,12375.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2023,4
63477,606178.0,0.0,4384.0,15172.0,0.0,0.0,223076.0,1085.0,35820.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2020,3

In [71]:
# Filter the b1 dataset for airlines of interest
p5_2 = p5_2[p5_2['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
p5_2

,PILOT_FLY_OPS,OTH_FLT_FLY_OPS,TRAIN_FLY_OPS,PERS_EXP_FLY_OPS,PRO_FLY_OPS,INTERCHG_FLY_OPS,FUEL_FLY_OPS,OIL_FLY_OPS,RENTAL_FLY_OPS,OTHER_FLY_OPS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10874,A,3,3,2018,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3,3,2018,4
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3,3,2019,2
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3,3,2018,4
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3,3,2019,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63473,427121.0,0.0,6365.0,24399.0,0.0,0.0,688074.0,1326.0,12924.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2024,2
63474,443508.0,0.0,4694.0,19995.0,0.0,0.0,780867.0,1953.0,12174.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2022,4
63475,447696.0,0.0,4739.0,14028.0,0.0,0.0,150549.0,688.0,30456.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2020,2
63476,552064.0,0.0,5012.0,22442.0,0.0,0.0,758901.0,1471.0,12375.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2023,4
63477,606178.0,0.0,4384.0,15172.0,0.0,0.0,223076.0,1085.0,35820.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2020,3

In [72]:
#mapping region values to description for ease of use
region_mapping = {
    'A': 'Atlantic',
    'D': 'Domestic',
    'I': 'International',
    'L': 'Latin America',
    'P': 'Pacific',
    'S': 'System'
}

# Replace values in the REGION column
p5_2['REGION'] = p5_2['REGION'].replace(region_mapping)
p5_2

/tmp/ipykernel_273/1447826615.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p5_2['REGION'] = p5_2['REGION'].replace(region_mapping)

,PILOT_FLY_OPS,OTH_FLT_FLY_OPS,TRAIN_FLY_OPS,PERS_EXP_FLY_OPS,PRO_FLY_OPS,INTERCHG_FLY_OPS,FUEL_FLY_OPS,OIL_FLY_OPS,RENTAL_FLY_OPS,OTHER_FLY_OPS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10874,Atlantic,3,3,2018,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,Pacific,3,3,2018,4
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,Pacific,3,3,2019,2
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,Pacific,3,3,2018,4
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,Pacific,3,3,2019,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63473,427121.0,0.0,6365.0,24399.0,0.0,0.0,688074.0,1326.0,12924.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,3,3,2024,2
63474,443508.0,0.0,4694.0,19995.0,0.0,0.0,780867.0,1953.0,12174.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,3,3,2022,4
63475,447696.0,0.0,4739.0,14028.0,0.0,0.0,150549.0,688.0,30456.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,3,3,2020,2
63476,552064.0,0.0,5012.0,22442.0,0.0,0.0,758901.0,1471.0,12375.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,3,3,2023,4
63477,606178.0,0.0,4384.0,15172.0,0.0,0.0,223076.0,1085.0,35820.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,3,3,2020,3

In [73]:
#mapping carrier_group values to description for easse of use
carrier_group_mapping = {
    0: 'International Carriers',
    1: 'Regional Carriers (including Large, Medium, Commuter, Small Certified)',
    2: 'National Carriers',
    3: 'Major Carriers',
    7: 'Domestic Only - All Cargo Carriers'
}
#replace carrier group values to description
p5_2["CARRIER_GROUP"] = p5_2["CARRIER_GROUP"].replace(carrier_group_mapping)

#mapping carrier_group_new to description for ease of use
carrier_group_new = {
    0: "Foreign Carriers",
    1: "Large Regional Carriers (carriers with annual revenue of $20 million to $100 million)",
    2: "National Carriers (carriers with annual revenue over $100 million to $1 billion)",
    3: "Major Carriers (carriers with annual revenue over $1 billion)",
    4: "Medium Regional Carriers (carriers with annual revenue under $20 million)",
    5: "Small Certificated Carrier",
    6: "Commuter Carriers",
    7: "All Cargo Carriers",
    9: "Commuter Carriers"
}    
#replace carrier group new values to description
p5_2["CARRIER_GROUP_NEW"] = p5_2["CARRIER_GROUP_NEW"].replace(carrier_group_new)
p5_2

/tmp/ipykernel_273/4214709213.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p5_2["CARRIER_GROUP"] = p5_2["CARRIER_GROUP"].replace(carrier_group_mapping)
/tmp/ipykernel_273/4214709213.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p5_2["CARRIER_GROUP_NEW"] = p5_2["CARRIER_GROUP_NEW"].replace(carrier_group_new)

,PILOT_FLY_OPS,OTH_FLT_FLY_OPS,TRAIN_FLY_OPS,PERS_EXP_FLY_OPS,PRO_FLY_OPS,INTERCHG_FLY_OPS,FUEL_FLY_OPS,OIL_FLY_OPS,RENTAL_FLY_OPS,OTHER_FLY_OPS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10874,Atlantic,Major Carriers (carriers with annual revenue o...,Major Carriers,2018,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,Pacific,Major Carriers (carriers with annual revenue o...,Major Carriers,2018,4
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,Pacific,Major Carriers (carriers with annual revenue o...,Major Carriers,2019,2
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,Pacific,Major Carriers (carriers with annual revenue o...,Major Carriers,2018,4
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,Pacific,Major Carriers (carriers with annual revenue o...,Major Carriers,2019,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63473,427121.0,0.0,6365.0,24399.0,0.0,0.0,688074.0,1326.0,12924.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2024,2
63474,443508.0,0.0,4694.0,19995.0,0.0,0.0,780867.0,1953.0,12174.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2022,4
63475,447696.0,0.0,4739.0,14028.0,0.0,0.0,150549.0,688.0,30456.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2020,2
63476,552064.0,0.0,5012.0,22442.0,0.0,0.0,758901.0,1471.0,12375.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2023,4
63477,606178.0,0.0,4384.0,15172.0,0.0,0.0,223076.0,1085.0,35820.0,0.0,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2020,3

In [74]:
#Cleaning p6 dataset 
p6 = pd.read_csv(obj11['Body'])
p6

,SALARIES_MGT,SALARIES_FLIGHT,SALARIES_MAINT,SALARIES_TRAFFIC,SALARIES_OTHER,SALARIES,BENEFITS_PERSONNEL,BENEFITS_PENSIONS,BENEFITS_PAYROLL,BENEFITS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,FCQ,Falcon Air Express,FCQ,Falcon Air Express,06400,D,1.0,1.0,2001,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,WI,Sky Lease Cargo,WI,Tradewinds Airlines,06884,D,1.0,1.0,2001,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,FF,Tower Air Inc.,FF,Tower Air Inc.,16881,L,2.0,2.0,1998,4
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,FL,AirTran Airways Corporation,FL,AirTran Airways Corporation,16030,L,3.0,3.0,2007,4
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XE,ExpressJet Airlines Inc.,RU,ExpressJet Airlines Inc.,16187,L,2.0,2.0,1997,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14767,49862.0,217255.0,155013.0,186509.0,114034.0,722673.0,47964.0,132477.0,52512.0,232953.0,...,FX,Federal Express Corporation,FX,Federal Express Corporation,06200,D,3.0,3.0,2022,3
14768,50037.0,215858.0,140249.0,193050.0,116760.0,715954.0,47395.0,131316.0,48454.0,227165.0,...,FX,Federal Express Corporation,FX,Federal Express Corporation,06200,D,3.0,3.0,2022,4
14769,50440.0,218756.0,141968.0,180989.0,116409.0,708562.0,48515.0,158034.0,52724.0,259273.0,...,FX,Federal Express Corporation,FX,Federal Express Corporation,06200,D,3.0,3.0,2022,2
14770,61890.0,307154.0,140110.0,163733.0,52118.0,725005.0,40218.0,247447.0,55186.0,342851.0,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3.0,3.0,2006,1
14771,68804.0,311068.0,147527.0,173381.0,53070.0,753850.0,41310.0,245346.0,64656.0,351312.0,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3.0,3.0,2005,4

In [75]:
# 2. Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = p6.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

#Removing any duplicate rows (future purpose)
p6 = p6.drop_duplicates()

Checking for duplicate rows:
Number of duplicate rows: 0

In [76]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(p6.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
p6 = p6[~outliers]
p6

Number of outliers detected: 0

,SALARIES_MGT,SALARIES_FLIGHT,SALARIES_MAINT,SALARIES_TRAFFIC,SALARIES_OTHER,SALARIES,BENEFITS_PERSONNEL,BENEFITS_PENSIONS,BENEFITS_PAYROLL,BENEFITS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,FCQ,Falcon Air Express,FCQ,Falcon Air Express,06400,D,1.0,1.0,2001,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,WI,Sky Lease Cargo,WI,Tradewinds Airlines,06884,D,1.0,1.0,2001,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,FF,Tower Air Inc.,FF,Tower Air Inc.,16881,L,2.0,2.0,1998,4
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,FL,AirTran Airways Corporation,FL,AirTran Airways Corporation,16030,L,3.0,3.0,2007,4
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XE,ExpressJet Airlines Inc.,RU,ExpressJet Airlines Inc.,16187,L,2.0,2.0,1997,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14767,49862.0,217255.0,155013.0,186509.0,114034.0,722673.0,47964.0,132477.0,52512.0,232953.0,...,FX,Federal Express Corporation,FX,Federal Express Corporation,06200,D,3.0,3.0,2022,3
14768,50037.0,215858.0,140249.0,193050.0,116760.0,715954.0,47395.0,131316.0,48454.0,227165.0,...,FX,Federal Express Corporation,FX,Federal Express Corporation,06200,D,3.0,3.0,2022,4
14769,50440.0,218756.0,141968.0,180989.0,116409.0,708562.0,48515.0,158034.0,52724.0,259273.0,...,FX,Federal Express Corporation,FX,Federal Express Corporation,06200,D,3.0,3.0,2022,2
14770,61890.0,307154.0,140110.0,163733.0,52118.0,725005.0,40218.0,247447.0,55186.0,342851.0,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3.0,3.0,2006,1
14771,68804.0,311068.0,147527.0,173381.0,53070.0,753850.0,41310.0,245346.0,64656.0,351312.0,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3.0,3.0,2005,4

In [77]:
# Filter the b1 dataset for airlines of interest
p6 = p6[p6['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
p6

,SALARIES_MGT,SALARIES_FLIGHT,SALARIES_MAINT,SALARIES_TRAFFIC,SALARIES_OTHER,SALARIES,BENEFITS_PERSONNEL,BENEFITS_PENSIONS,BENEFITS_PAYROLL,BENEFITS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
74,NaN,403.89,83.91,NaN,NaN,487.80,30.91,29.61,10.74,71.26,...,8C,Air Transport International,8C,Air Transport International,16028,A,2.0,2.0,1994,2
288,NaN,6127.48,1768.78,3095.84,496.64,11488.74,71.09,718.13,1575.96,2365.18,...,YV,Mesa Airlines Inc.,YV,Mesa Airlines Inc.,06689,D,2.0,2.0,1995,3
459,-11700.34,141341.69,58099.20,101604.78,146789.17,436134.51,32673.16,154459.81,27097.83,214230.79,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2011,4
461,-7408.07,147546.51,59641.98,109443.89,158434.10,467658.41,35238.34,122946.97,33190.68,191375.99,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,D,3.0,3.0,2011,3
464,-5814.05,76193.33,11046.24,16001.52,36296.59,133723.63,14110.50,67752.33,7341.96,89204.79,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,P,3.0,3.0,2011,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14755,44310.00,356093.00,41956.00,158147.00,37499.00,638005.00,47910.00,181450.00,39740.00,269100.00,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3.0,3.0,2008,3
14756,45022.00,447434.00,83637.00,217131.00,131019.00,924243.00,78640.00,289478.00,87720.00,455838.00,...,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,01260,D,3.0,3.0,2014,1
14762,48112.00,297359.00,36500.00,158993.00,30293.00,571257.00,40280.00,166319.00,39114.00,245713.00,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3.0,3.0,2006,4
14770,61890.00,307154.00,140110.00,163733.00,52118.00,725005.00,40218.00,247447.00,55186.00,342851.00,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3.0,3.0,2006,1
14771,68804.00,311068.00,147527.00,173381.00,53070.00,753850.00,41310.00,245346.00,64656.00,351312.00,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3.0,3.0,2005,4

In [78]:
#mapping region values to description for ease of use
region_mapping = {
    'A': 'Atlantic',
    'D': 'Domestic',
    'I': 'International',
    'L': 'Latin America',
    'P': 'Pacific',
    'S': 'System'
}

# Replace values in the REGION column
p6['REGION'] = p6['REGION'].replace(region_mapping)

/tmp/ipykernel_273/3442284035.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p6['REGION'] = p6['REGION'].replace(region_mapping)

In [79]:
#mapping carrier_group values to description for easse of use
carrier_group_mapping = {
    0: 'International Carriers',
    1: 'Regional Carriers (including Large, Medium, Commuter, Small Certified)',
    2: 'National Carriers',
    3: 'Major Carriers',
    7: 'Domestic Only - All Cargo Carriers'
}
#replace carrier group values to description
p6["CARRIER_GROUP"] = p6["CARRIER_GROUP"].replace(carrier_group_mapping)

#mapping carrier_group_new to description for ease of use
carrier_group_new = {
    0: "Foreign Carriers",
    1: "Large Regional Carriers (carriers with annual revenue of $20 million to $100 million)",
    2: "National Carriers (carriers with annual revenue over $100 million to $1 billion)",
    3: "Major Carriers (carriers with annual revenue over $1 billion)",
    4: "Medium Regional Carriers (carriers with annual revenue under $20 million)",
    5: "Small Certificated Carrier",
    6: "Commuter Carriers",
    7: "All Cargo Carriers",
    9: "Commuter Carriers"
}    
#replace carrier group new values to description
p6["CARRIER_GROUP_NEW"] = p6["CARRIER_GROUP_NEW"].replace(carrier_group_new)
p6

/tmp/ipykernel_273/2461064408.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p6["CARRIER_GROUP"] = p6["CARRIER_GROUP"].replace(carrier_group_mapping)
/tmp/ipykernel_273/2461064408.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p6["CARRIER_GROUP_NEW"] = p6["CARRIER_GROUP_NEW"].replace(carrier_group_new)

,SALARIES_MGT,SALARIES_FLIGHT,SALARIES_MAINT,SALARIES_TRAFFIC,SALARIES_OTHER,SALARIES,BENEFITS_PERSONNEL,BENEFITS_PENSIONS,BENEFITS_PAYROLL,BENEFITS,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
74,NaN,403.89,83.91,NaN,NaN,487.80,30.91,29.61,10.74,71.26,...,8C,Air Transport International,8C,Air Transport International,16028,Atlantic,National Carriers (carriers with annual revenu...,National Carriers,1994,2
288,NaN,6127.48,1768.78,3095.84,496.64,11488.74,71.09,718.13,1575.96,2365.18,...,YV,Mesa Airlines Inc.,YV,Mesa Airlines Inc.,06689,Domestic,National Carriers (carriers with annual revenu...,National Carriers,1995,3
459,-11700.34,141341.69,58099.20,101604.78,146789.17,436134.51,32673.16,154459.81,27097.83,214230.79,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2011,4
461,-7408.07,147546.51,59641.98,109443.89,158434.10,467658.41,35238.34,122946.97,33190.68,191375.99,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,0A875,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2011,3
464,-5814.05,76193.33,11046.24,16001.52,36296.59,133723.63,14110.50,67752.33,7341.96,89204.79,...,UA,United Air Lines Inc.,UA,United Air Lines Inc.,10877,Pacific,Major Carriers (carriers with annual revenue o...,Major Carriers,2011,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14755,44310.00,356093.00,41956.00,158147.00,37499.00,638005.00,47910.00,181450.00,39740.00,269100.00,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2008,3
14756,45022.00,447434.00,83637.00,217131.00,131019.00,924243.00,78640.00,289478.00,87720.00,455838.00,...,DL,Delta Air Lines Inc.,DL,Delta Air Lines Inc.,01260,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2014,1
14762,48112.00,297359.00,36500.00,158993.00,30293.00,571257.00,40280.00,166319.00,39114.00,245713.00,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2006,4
14770,61890.00,307154.00,140110.00,163733.00,52118.00,725005.00,40218.00,247447.00,55186.00,342851.00,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2006,1
14771,68804.00,311068.00,147527.00,173381.00,53070.00,753850.00,41310.00,245346.00,64656.00,351312.00,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2005,4

In [80]:
#Cleaning p7 dataset 
p7= pd.read_csv(obj12['Body'])
p7

,AIR_OP_EXPENSE,FL_ATT_EXPENSE,FOOD_EXPENSE,OTH_IN_FL_EXPENSE,PAX_SVC_EXPENSE,LINE_SVC_EXPENSE,CONTROL_EXPENSE,LANDING_FEES,AIR_SVC_EXPENSE,TRAFFIC_EXP_PAX,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00,15.00,NaN,...,FL,AirTran Airways Corporation,FL,AirTran Airways Corporation,16030,L,3,3,2007,4
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,PO,Polar Air Cargo Airways,PO,Polar Air Cargo Airways,16757,A,3,3,2022,3
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,PO,Polar Air Cargo Airways,PO,Polar Air Cargo Airways,16757,A,3,3,2024,2
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,YX,Republic Airline,YX,Republic Airline,11029,L,3,3,2024,1
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,YX,Republic Airline,YX,Republic Airline,11029,L,3,3,2024,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6438,3971879.10,376266.42,182006.47,24946.38,583219.27,104623.50,70924.24,157206.67,332754.40,157498.69,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2024,1
6439,3994483.15,379036.27,183826.68,16096.26,578959.21,96561.91,71426.19,148924.92,316913.02,144279.95,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2023,4
6440,3999865.03,397143.71,203157.99,29967.98,630269.67,104734.62,75042.71,179499.28,359276.61,161220.69,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2024,2
6441,4059299.73,374864.88,188028.96,26366.79,589260.62,96189.99,73282.28,139603.22,309075.49,151370.74,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2023,3
6442,4154307.00,500713.00,19035.00,10321.00,530069.00,633957.00,24209.00,185318.00,843484.00,385047.00,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2024,2

In [81]:
# 2. Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = p7.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

#Removing any duplicate rows (future purpose)
p7 = p7.drop_duplicates()

Checking for duplicate rows:
Number of duplicate rows: 0

In [82]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(p7.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
p7 = p7[~outliers]
p7

Number of outliers detected: 532

,AIR_OP_EXPENSE,FL_ATT_EXPENSE,FOOD_EXPENSE,OTH_IN_FL_EXPENSE,PAX_SVC_EXPENSE,LINE_SVC_EXPENSE,CONTROL_EXPENSE,LANDING_FEES,AIR_SVC_EXPENSE,TRAFFIC_EXP_PAX,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00,15.00,NaN,...,FL,AirTran Airways Corporation,FL,AirTran Airways Corporation,16030,L,3,3,2007,4
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,PO,Polar Air Cargo Airways,PO,Polar Air Cargo Airways,16757,A,3,3,2022,3
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,PO,Polar Air Cargo Airways,PO,Polar Air Cargo Airways,16757,A,3,3,2024,2
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,YX,Republic Airline,YX,Republic Airline,11029,L,3,3,2024,1
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,YX,Republic Airline,YX,Republic Airline,11029,L,3,3,2024,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6438,3971879.10,376266.42,182006.47,24946.38,583219.27,104623.50,70924.24,157206.67,332754.40,157498.69,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2024,1
6439,3994483.15,379036.27,183826.68,16096.26,578959.21,96561.91,71426.19,148924.92,316913.02,144279.95,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2023,4
6440,3999865.03,397143.71,203157.99,29967.98,630269.67,104734.62,75042.71,179499.28,359276.61,161220.69,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2024,2
6441,4059299.73,374864.88,188028.96,26366.79,589260.62,96189.99,73282.28,139603.22,309075.49,151370.74,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2023,3
6442,4154307.00,500713.00,19035.00,10321.00,530069.00,633957.00,24209.00,185318.00,843484.00,385047.00,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2024,2

In [83]:
# Filter the b1 dataset for airlines of interest
p7 = p7[p7['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
p7

,AIR_OP_EXPENSE,FL_ATT_EXPENSE,FOOD_EXPENSE,OTH_IN_FL_EXPENSE,PAX_SVC_EXPENSE,LINE_SVC_EXPENSE,CONTROL_EXPENSE,LANDING_FEES,AIR_SVC_EXPENSE,TRAFFIC_EXP_PAX,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,F9,Frontier Airlines Inc.,F9,Frontier Airlines Inc.,16461,L,3,3,2020,2
61,697.00,135.00,1.00,2.00,138.00,145.00,6.00,26.00,177.00,94.00,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,11033,L,3,3,2020,2
102,1477.00,99.00,7.00,36.00,142.00,0.00,0.00,64.00,64.00,76.00,...,OO,SkyWest Airlines Inc.,OO,SkyWest Airlines Inc.,11025,L,3,3,2013,1
111,1561.78,169.96,61.71,0.00,231.67,12.18,7.80,410.07,430.05,625.73,...,F9,Frontier Airlines Inc.,F9,Frontier Airlines Inc.,16461,L,3,3,2011,3
123,1744.76,74.62,0.12,47.79,122.54,0.00,0.00,0.22,0.22,14.00,...,OO,SkyWest Airlines Inc.,OO,SkyWest Airlines Inc.,11025,L,3,3,2020,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6438,3971879.10,376266.42,182006.47,24946.38,583219.27,104623.50,70924.24,157206.67,332754.40,157498.69,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2024,1
6439,3994483.15,379036.27,183826.68,16096.26,578959.21,96561.91,71426.19,148924.92,316913.02,144279.95,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2023,4
6440,3999865.03,397143.71,203157.99,29967.98,630269.67,104734.62,75042.71,179499.28,359276.61,161220.69,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2024,2
6441,4059299.73,374864.88,188028.96,26366.79,589260.62,96189.99,73282.28,139603.22,309075.49,151370.74,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,D,3,3,2023,3
6442,4154307.00,500713.00,19035.00,10321.00,530069.00,633957.00,24209.00,185318.00,843484.00,385047.00,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,D,3,3,2024,2

In [84]:
#mapping region values to description for ease of use
region_mapping = {
    'A': 'Atlantic',
    'D': 'Domestic',
    'I': 'International',
    'L': 'Latin America',
    'P': 'Pacific',
    'S': 'System'
}

# Replace values in the REGION column
p7['REGION'] = p7['REGION'].replace(region_mapping)

#mapping carrier_group values to description for easse of use
carrier_group_mapping = {
    0: 'International Carriers',
    1: 'Regional Carriers (including Large, Medium, Commuter, Small Certified)',
    2: 'National Carriers',
    3: 'Major Carriers',
    7: 'Domestic Only - All Cargo Carriers'
}
#replace carrier group values to description
p7["CARRIER_GROUP"] = p7["CARRIER_GROUP"].replace(carrier_group_mapping)

#mapping carrier_group_new to description for ease of use
carrier_group_new = {
    0: "Foreign Carriers",
    1: "Large Regional Carriers (carriers with annual revenue of $20 million to $100 million)",
    2: "National Carriers (carriers with annual revenue over $100 million to $1 billion)",
    3: "Major Carriers (carriers with annual revenue over $1 billion)",
    4: "Medium Regional Carriers (carriers with annual revenue under $20 million)",
    5: "Small Certificated Carrier",
    6: "Commuter Carriers",
    7: "All Cargo Carriers",
    9: "Commuter Carriers"
}    
#replace carrier group new values to description
p7["CARRIER_GROUP_NEW"] = p7["CARRIER_GROUP_NEW"].replace(carrier_group_new)
p7

/tmp/ipykernel_273/313635709.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p7['REGION'] = p7['REGION'].replace(region_mapping)
/tmp/ipykernel_273/313635709.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p7["CARRIER_GROUP"] = p7["CARRIER_GROUP"].replace(carrier_group_mapping)
/tmp/ipykernel_273/313635709.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p7["CARRIER_GROUP_NEW"] = p7["CARRIER_GROUP_NEW"].replace(carrier_group_new)

,AIR_OP_EXPENSE,FL_ATT_EXPENSE,FOOD_EXPENSE,OTH_IN_FL_EXPENSE,PAX_SVC_EXPENSE,LINE_SVC_EXPENSE,CONTROL_EXPENSE,LANDING_FEES,AIR_SVC_EXPENSE,TRAFFIC_EXP_PAX,...,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_GROUP_NEW,CARRIER_GROUP,YEAR,QUARTER
5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,F9,Frontier Airlines Inc.,F9,Frontier Airlines Inc.,16461,Latin America,Major Carriers (carriers with annual revenue o...,Major Carriers,2020,2
61,697.00,135.00,1.00,2.00,138.00,145.00,6.00,26.00,177.00,94.00,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,11033,Latin America,Major Carriers (carriers with annual revenue o...,Major Carriers,2020,2
102,1477.00,99.00,7.00,36.00,142.00,0.00,0.00,64.00,64.00,76.00,...,OO,SkyWest Airlines Inc.,OO,SkyWest Airlines Inc.,11025,Latin America,Major Carriers (carriers with annual revenue o...,Major Carriers,2013,1
111,1561.78,169.96,61.71,0.00,231.67,12.18,7.80,410.07,430.05,625.73,...,F9,Frontier Airlines Inc.,F9,Frontier Airlines Inc.,16461,Latin America,Major Carriers (carriers with annual revenue o...,Major Carriers,2011,3
123,1744.76,74.62,0.12,47.79,122.54,0.00,0.00,0.22,0.22,14.00,...,OO,SkyWest Airlines Inc.,OO,SkyWest Airlines Inc.,11025,Latin America,Major Carriers (carriers with annual revenue o...,Major Carriers,2020,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6438,3971879.10,376266.42,182006.47,24946.38,583219.27,104623.50,70924.24,157206.67,332754.40,157498.69,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2024,1
6439,3994483.15,379036.27,183826.68,16096.26,578959.21,96561.91,71426.19,148924.92,316913.02,144279.95,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2023,4
6440,3999865.03,397143.71,203157.99,29967.98,630269.67,104734.62,75042.71,179499.28,359276.61,161220.69,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2024,2
6441,4059299.73,374864.88,188028.96,26366.79,589260.62,96189.99,73282.28,139603.22,309075.49,151370.74,...,AA,American Airlines Inc.,AA,American Airlines Inc.,0A050,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2023,3
6442,4154307.00,500713.00,19035.00,10321.00,530069.00,633957.00,24209.00,185318.00,843484.00,385047.00,...,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,06725,Domestic,Major Carriers (carriers with annual revenue o...,Major Carriers,2024,2

In [85]:
#Cleaning RAA dataset 
RAA= pd.read_csv(obj13['Body'])
RAA

,YEAR,MONTH,QUARTER,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,CARRIER,CARRIER_NAME,CARRIER_GROUP,K110_REV_PAX_ENPLANED,V110_REV_PAX_ENPLANED,Z140_REV_PAX_MILES,Z320_AVAIL_SEAT_MILES,Z510_RAD_PERFORMED,Z520_RAD_SCHEDULED,DATA_SOURCE
0,1990,1,1,19687,QX,Horizon Air,37960,QX,Horizon Air,2,12404.0,0.0,1284018.0,2090636.0,860.0,879.0,IU
1,1990,1,1,19687,QX,Horizon Air,37960,QX,Horizon Air,2,120623.0,0.0,25068654.0,53527642.0,13143.0,14240.0,DU
2,1990,1,1,20046,ZW,Air Wisconsin Airlines Corp,30124,ZW,Air Wisconsin Inc.,2,159601.0,0.0,31539076.0,84443014.0,7361.0,7936.0,DU
3,1990,2,1,19687,QX,Horizon Air,37960,QX,Horizon Air,2,11657.0,0.0,1211339.0,1850221.0,748.0,807.0,IU
4,1990,2,1,19687,QX,Horizon Air,37960,QX,Horizon Air,2,111498.0,0.0,23220309.0,47283827.0,11727.0,12806.0,DU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22612,2024,7,3,20445,C5,CommuteAir LLC dba CommuteAir,6944,C5,CommuteAir LLC dba CommuteAir,2,279799.0,0.0,103581029.0,118823150.0,6429.0,6813.0,DU
22613,2024,7,3,20455,GV,Grant Aviation,6985,GV,Grant Aviation,1,27113.0,377.0,2063393.0,4409345.0,8675.0,8421.0,DU
22614,2024,7,3,20500,G7,GoJet Airlines LLC d/b/a United Express,7041,G7,GoJet Airlines LLC d/b/a United Express,2,7747.0,0.0,3478403.0,3996100.0,178.0,178.0,IU
22615,2024,7,3,20500,G7,GoJet Airlines LLC d/b/a United Express,7041,G7,GoJet Airlines LLC d/b/a United Express,2,194231.0,0.0,67076586.0,78505100.0,4600.0,4753.0,DU
22616,2024,7,3,21022,Z3Q,"PM Air, LLC",1100,Z3Q,"PM Air, LLC",1,0.0,4162.0,291340.0,379400.0,542.0,0.0,DU

In [86]:
# Check for duplicate rows in the dataset
duplicate_rows = RAA[RAA.duplicated()]

# Display the number of duplicate rows and show the first few if there are any
duplicate_count = duplicate_rows.shape[0]
duplicate_rows.head(), duplicate_count

(Empty DataFrame
 Columns: [YEAR, MONTH, QUARTER, AIRLINE_ID, UNIQUE_CARRIER, UNIQUE_CARRIER_NAME, UNIQUE_CARRIER_ENTITY, CARRIER, CARRIER_NAME, CARRIER_GROUP, K110_REV_PAX_ENPLANED, V110_REV_PAX_ENPLANED, Z140_REV_PAX_MILES, Z320_AVAIL_SEAT_MILES, Z510_RAD_PERFORMED, Z520_RAD_SCHEDULED, DATA_SOURCE]
 Index: [],
 0)

In [87]:
#Cleaning T1 dataset 
T1= pd.read_csv(obj14['Body'])
T1

,YEAR,QUARTER,MONTH,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,...,AVL_TON_MILES_280,AVL_SEAT_MILES_320,AVL_SEAT_MILES_FIRST,AVL_SEAT_MILES_COACH,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_MILES_SCH_430,REV_ACRFT_MILES_SCH_COMPLETED,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,ACRFT_HRS_RAMPTORAMP_630
0,1974,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2230.0,20000.0,20000.0,NaN,4901.0,5294.0,4459.0,326.0,49.0,NaN
1,1974,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29818.0,160000.0,160000.0,NaN,47453.0,49948.0,37304.0,1254.0,436.0,NaN
2,1974,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121513.0,1028000.0,1028000.0,NaN,23368.0,23920.0,23368.0,254.0,145.0,NaN
3,1974,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77998.0,774000.0,774000.0,NaN,31610.0,32054.0,31610.0,2412.0,314.0,NaN
4,1974,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,125290.0,1253000.0,1253000.0,NaN,50116.0,51121.0,45584.0,3893.0,455.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333074,2024,3,7,22105.0,6F,"FOX AIRCRAFT, LLC",01288,D,6F,"FOX AIRCRAFT, LLC",...,49756.0,470643.0,470643.0,0.0,64983.0,0.0,NaN,936.0,533.0,605.0
333075,2024,3,7,22105.0,6F,"FOX AIRCRAFT, LLC",01288,D,6F,"FOX AIRCRAFT, LLC",...,51138.0,484467.0,484467.0,0.0,67287.0,0.0,NaN,963.0,554.0,628.0
333076,2024,3,7,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,...,51080.0,204318.0,204318.0,0.0,22702.0,0.0,NaN,88.0,96.0,111.0
333077,2024,3,7,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,...,51080.0,204318.0,204318.0,0.0,22702.0,0.0,NaN,88.0,96.0,111.0
333078,2024,3,7,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,...,51080.0,204318.0,204318.0,0.0,22702.0,0.0,NaN,88.0,96.0,111.0

In [88]:
# 1. Check for missing values
print("Missing Values in Each Column:")
missing_values = T1.isnull().sum()
print(missing_values)


# Percentage of missing values per column
missing_percentage = (missing_values / len(T1)) * 100
print("\nPercentage of Missing Values:")
print(missing_percentage)

Missing Values in Each Column:
YEAR                                  0
QUARTER                               0
MONTH                                 0
AIRLINE_ID                        11078
UNIQUE_CARRIER                    12708
UNIQUE_CARRIER_NAME               11078
UNIQUE_CARRIER_ENTITY             11078
REGION                            11078
CARRIER                           12573
CARRIER_NAME                      11078
CARRIER_GROUP                     11041
CARRIER_GROUP_NEW                 11078
SERVICE_CLASS                         0
REV_PAX_ENP_110                    1301
REV_PAX_MILES_140                   521
REV_PAX_MILES_COACH               49825
REV_PAX_MILES_FIRST               49986
NON_REV_PAX_MILES                191168
REV_TON_MILES_240                   521
REV_TON_MILES_FREIGHT_247           521
REV_TON_MILES_PAX_241               521
REV_TON_MILES_USPR_MAIL          191168
REV_TON_MILES_USNONPR_MAIL       191168
REV_TON_MILES_MAIL_249              521
REV_TON_MILES_FOREIGN_MAIL       191168
REV_TON_MILES_EXPRESS_MAIL       191168
NON_REV_TON_MILES                191168
AVL_TON_MILES_280                   521
AVL_SEAT_MILES_320                  521
AVL_SEAT_MILES_FIRST              49986
AVL_SEAT_MILES_COACH              49825
REV_ACRFT_MILES_FLOWN_410           521
REV_ACRFT_MILES_SCH_430           47169
REV_ACRFT_MILES_SCH_COMPLETED    237816
REV_ACRFT_DEP_PERF_510              521
REV_ACRFT_HRS_AIRBORNE_610          521
ACRFT_HRS_RAMPTORAMP_630         150808
dtype: int64

Percentage of Missing Values:
YEAR                              0.000000
QUARTER                           0.000000
MONTH                             0.000000
AIRLINE_ID                        3.325938
UNIQUE_CARRIER                    3.815311
UNIQUE_CARRIER_NAME               3.325938
UNIQUE_CARRIER_ENTITY             3.325938
REGION                            3.325938
CARRIER                           3.774780
CARRIER_NAME                      3.325938
CARRIER_GROUP                     3.314829
CARRIER_GROUP_NEW                 3.325938
SERVICE_CLASS                     0.000000
REV_PAX_ENP_110                   0.390598
REV_PAX_MILES_140                 0.156419
REV_PAX_MILES_COACH              14.958914
REV_PAX_MILES_FIRST              15.007251
NON_REV_PAX_MILES                57.394192
REV_TON_MILES_240                 0.156419
REV_TON_MILES_FREIGHT_247         0.156419
REV_TON_MILES_PAX_241             0.156419
REV_TON_MILES_USPR_MAIL          57.394192
REV_TON_MILES_USNONPR_MAIL       57.394192
REV_TON_MILES_MAIL_249            0.156419
REV_TON_MILES_FOREIGN_MAIL       57.394192
REV_TON_MILES_EXPRESS_MAIL       57.394192
NON_REV_TON_MILES                57.394192
AVL_TON_MILES_280                 0.156419
AVL_SEAT_MILES_320                0.156419
AVL_SEAT_MILES_FIRST             15.007251
AVL_SEAT_MILES_COACH             14.958914
REV_ACRFT_MILES_FLOWN_410         0.156419
REV_ACRFT_MILES_SCH_430          14.161505
REV_ACRFT_MILES_SCH_COMPLETED    71.399278
REV_ACRFT_DEP_PERF_510            0.156419
REV_ACRFT_HRS_AIRBORNE_610        0.156419
ACRFT_HRS_RAMPTORAMP_630         45.276946
dtype: float64

In [89]:
# 2. Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = T1.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

#Removing any duplicate rows (future purpose)
T1 = T1.drop_duplicates()

Checking for duplicate rows:
Number of duplicate rows: 0

In [90]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(T1.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
T1 = T1[~outliers]
T1

Number of outliers detected: 0

,YEAR,QUARTER,MONTH,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,...,AVL_TON_MILES_280,AVL_SEAT_MILES_320,AVL_SEAT_MILES_FIRST,AVL_SEAT_MILES_COACH,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_MILES_SCH_430,REV_ACRFT_MILES_SCH_COMPLETED,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,ACRFT_HRS_RAMPTORAMP_630
0,1974,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2230.0,20000.0,20000.0,NaN,4901.0,5294.0,4459.0,326.0,49.0,NaN
1,1974,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29818.0,160000.0,160000.0,NaN,47453.0,49948.0,37304.0,1254.0,436.0,NaN
2,1974,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121513.0,1028000.0,1028000.0,NaN,23368.0,23920.0,23368.0,254.0,145.0,NaN
3,1974,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77998.0,774000.0,774000.0,NaN,31610.0,32054.0,31610.0,2412.0,314.0,NaN
4,1974,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,125290.0,1253000.0,1253000.0,NaN,50116.0,51121.0,45584.0,3893.0,455.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333074,2024,3,7,22105.0,6F,"FOX AIRCRAFT, LLC",01288,D,6F,"FOX AIRCRAFT, LLC",...,49756.0,470643.0,470643.0,0.0,64983.0,0.0,NaN,936.0,533.0,605.0
333075,2024,3,7,22105.0,6F,"FOX AIRCRAFT, LLC",01288,D,6F,"FOX AIRCRAFT, LLC",...,51138.0,484467.0,484467.0,0.0,67287.0,0.0,NaN,963.0,554.0,628.0
333076,2024,3,7,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,...,51080.0,204318.0,204318.0,0.0,22702.0,0.0,NaN,88.0,96.0,111.0
333077,2024,3,7,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,...,51080.0,204318.0,204318.0,0.0,22702.0,0.0,NaN,88.0,96.0,111.0
333078,2024,3,7,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,...,51080.0,204318.0,204318.0,0.0,22702.0,0.0,NaN,88.0,96.0,111.0

In [91]:
# Filter the b1 dataset for airlines of interest
T1 = T1[T1['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
T1

,YEAR,QUARTER,MONTH,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,...,AVL_TON_MILES_280,AVL_SEAT_MILES_320,AVL_SEAT_MILES_FIRST,AVL_SEAT_MILES_COACH,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_MILES_SCH_430,REV_ACRFT_MILES_SCH_COMPLETED,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,ACRFT_HRS_RAMPTORAMP_630
139,1974,1,3,19690.0,HA,Hawaiian Airlines Inc.,05375,D,HA,Hawaiian Airlines Inc.,...,5168301.0,4.845200e+07,4.845200e+07,NaN,423520.0,295120.0,283648.0,3382.0,1305.0,NaN
140,1974,1,3,19690.0,HA,Hawaiian Airlines Inc.,05375,D,HA,Hawaiian Airlines Inc.,...,5168301.0,4.845200e+07,4.845200e+07,0.0,423520.0,295120.0,283648.0,3382.0,1305.0,NaN
141,1974,1,3,19690.0,HA,Hawaiian Airlines Inc.,05375,D,HA,Hawaiian Airlines Inc.,...,681962.0,0.000000e+00,0.000000e+00,0.0,49073.0,51925.0,40565.0,381.0,155.0,NaN
142,1974,1,3,19690.0,HA,Hawaiian Airlines Inc.,05375,D,HA,Hawaiian Airlines Inc.,...,5850263.0,4.845200e+07,4.845200e+07,0.0,472593.0,347045.0,324213.0,3763.0,1460.0,NaN
143,1974,1,3,19690.0,HA,Hawaiian Airlines Inc.,05375,D,HA,Hawaiian Airlines Inc.,...,5850263.0,4.845200e+07,4.845200e+07,0.0,472593.0,347045.0,324213.0,3763.0,1460.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332906,2024,3,7,20436.0,F9,Frontier Airlines Inc.,06460,D,F9,Frontier Airlines Inc.,...,335636324.0,3.356363e+09,3.356363e+09,0.0,16265000.0,16265000.0,NaN,18623.0,37002.0,46938.0
332907,2024,3,7,20436.0,F9,Frontier Airlines Inc.,06460,D,F9,Frontier Airlines Inc.,...,335636324.0,3.356363e+09,3.356363e+09,0.0,16265000.0,16265000.0,NaN,18623.0,37002.0,46938.0
332908,2024,3,7,20436.0,F9,Frontier Airlines Inc.,16461,L,F9,Frontier Airlines Inc.,...,34049122.0,3.404912e+08,3.404912e+08,0.0,1597547.0,1597547.0,NaN,1466.0,3587.0,4347.0
332909,2024,3,7,20436.0,F9,Frontier Airlines Inc.,16461,L,F9,Frontier Airlines Inc.,...,34049122.0,3.404912e+08,3.404912e+08,0.0,1597547.0,1597547.0,NaN,1466.0,3587.0,4347.0
332910,2024,3,7,20436.0,F9,Frontier Airlines Inc.,16461,L,F9,Frontier Airlines Inc.,...,34049122.0,3.404912e+08,3.404912e+08,0.0,1597547.0,1597547.0,NaN,1466.0,3587.0,4347.0

In [92]:
#mapping region values to description for ease of use
region_mapping = {
    'A': 'Atlantic',
    'D': 'Domestic',
    'I': 'International',
    'L': 'Latin America',
    'P': 'Pacific',
    'S': 'System'
}

# Replace values in the REGION column
T1['REGION'] = T1['REGION'].replace(region_mapping)

/tmp/ipykernel_273/2617872415.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T1['REGION'] = T1['REGION'].replace(region_mapping)

In [93]:
# Define the mapping dictionary
service_class_mapping = {
    'A': 'Scheduled First Class Passenger/ Cargo Service A',
    'C': 'Scheduled Coach Passenger/ Cargo Service C',
    'E': 'Scheduled Mixed First Class And Coach, Passenger/ Cargo Service E',
    'F': 'Scheduled Passenger/ Cargo Service F',
    'G': 'Scheduled All Cargo Service G',
    'K': 'Scheduled Service K (F+G)',
    'L': 'Non-Scheduled Civilian Passenger/ Cargo Service L',
    'P': 'Non-Scheduled Civilian All Cargo Service P',
    'V': 'Non-Scheduled Service V (L+N+P+R) For U.S. Carrier And (L+P+Q) For Foreign Carrier',
    'Z': 'All Service Z (K+V)'
}

# Map the SERVICE_CLASS column using the mapping dictionary
T1['SERVICE_CLASS'] = T1['SERVICE_CLASS'].map(service_class_mapping)

/tmp/ipykernel_273/169264081.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T1['SERVICE_CLASS'] = T1['SERVICE_CLASS'].map(service_class_mapping)

In [94]:
# Define the mapping dictionary for CARRIER_GROUP_NEW
carrier_group_new_mapping = {
    1: 'Large Regional Carriers (carriers with annual revenue of $20 million to $100 million)',
    2: 'National Carriers (carriers with annual revenue over $100 million to $1 billion)',
    3: 'Major Carriers (carriers with annual revenue over $1 billion)',
    4: 'Medium Regional Carriers (carriers with annual revenue under $20 million)',
    5: 'Small Certificated Carriers (carrier holding certificate issued under 49 U.S.C. section 41101 and operating aircraft designed to have a maximum seating capacity of 60 or less seat or a maximum payload of 18,000 pounds or less.)',
    6: 'Commuter Carriers (air taxi operator which performs at least five round trips per week between two or more points and publishes flight schedules which specify the times, days of the weeks and plans between which such flights are performed.)',
    7: 'All Cargo Carriers operating under certificates issued under 49 U.S.C. section 41103',
    9: 'Commuter Carriers (Air Taxi providing Essential Air Service)'
}

# Map the CARRIER_GROUP_NEW column using the mapping dictionary
T1['CARRIER_GROUP_NEW'] = T1['CARRIER_GROUP_NEW'].map(carrier_group_new_mapping)


# Define the mapping dictionary for CARRIER_GROUP
carrier_group_mapping = {
    1: 'Regional Carriers (including Large, Medium, Commuter, Small Certified)',
    2: 'National Carriers',
    3: 'Major Carriers',
    7: 'Domestic Only - All Cargo Carriers'
}

# Map the CARRIER_GROUP column using the mapping dictionary
T1['CARRIER_GROUP'] = T1['CARRIER_GROUP'].map(carrier_group_mapping)

/tmp/ipykernel_273/2832795025.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T1['CARRIER_GROUP_NEW'] = T1['CARRIER_GROUP_NEW'].map(carrier_group_new_mapping)
/tmp/ipykernel_273/2832795025.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T1['CARRIER_GROUP'] = T1['CARRIER_GROUP'].map(carrier_group_mapping)

In [95]:
T1

,YEAR,QUARTER,MONTH,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,...,AVL_TON_MILES_280,AVL_SEAT_MILES_320,AVL_SEAT_MILES_FIRST,AVL_SEAT_MILES_COACH,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_MILES_SCH_430,REV_ACRFT_MILES_SCH_COMPLETED,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,ACRFT_HRS_RAMPTORAMP_630
139,1974,1,3,19690.0,HA,Hawaiian Airlines Inc.,05375,Domestic,HA,Hawaiian Airlines Inc.,...,5168301.0,4.845200e+07,4.845200e+07,NaN,423520.0,295120.0,283648.0,3382.0,1305.0,NaN
140,1974,1,3,19690.0,HA,Hawaiian Airlines Inc.,05375,Domestic,HA,Hawaiian Airlines Inc.,...,5168301.0,4.845200e+07,4.845200e+07,0.0,423520.0,295120.0,283648.0,3382.0,1305.0,NaN
141,1974,1,3,19690.0,HA,Hawaiian Airlines Inc.,05375,Domestic,HA,Hawaiian Airlines Inc.,...,681962.0,0.000000e+00,0.000000e+00,0.0,49073.0,51925.0,40565.0,381.0,155.0,NaN
142,1974,1,3,19690.0,HA,Hawaiian Airlines Inc.,05375,Domestic,HA,Hawaiian Airlines Inc.,...,5850263.0,4.845200e+07,4.845200e+07,0.0,472593.0,347045.0,324213.0,3763.0,1460.0,NaN
143,1974,1,3,19690.0,HA,Hawaiian Airlines Inc.,05375,Domestic,HA,Hawaiian Airlines Inc.,...,5850263.0,4.845200e+07,4.845200e+07,0.0,472593.0,347045.0,324213.0,3763.0,1460.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332906,2024,3,7,20436.0,F9,Frontier Airlines Inc.,06460,Domestic,F9,Frontier Airlines Inc.,...,335636324.0,3.356363e+09,3.356363e+09,0.0,16265000.0,16265000.0,NaN,18623.0,37002.0,46938.0
332907,2024,3,7,20436.0,F9,Frontier Airlines Inc.,06460,Domestic,F9,Frontier Airlines Inc.,...,335636324.0,3.356363e+09,3.356363e+09,0.0,16265000.0,16265000.0,NaN,18623.0,37002.0,46938.0
332908,2024,3,7,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,...,34049122.0,3.404912e+08,3.404912e+08,0.0,1597547.0,1597547.0,NaN,1466.0,3587.0,4347.0
332909,2024,3,7,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,...,34049122.0,3.404912e+08,3.404912e+08,0.0,1597547.0,1597547.0,NaN,1466.0,3587.0,4347.0
332910,2024,3,7,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,...,34049122.0,3.404912e+08,3.404912e+08,0.0,1597547.0,1597547.0,NaN,1466.0,3587.0,4347.0

In [96]:
T1.dtypes

YEAR                               int64
QUARTER                            int64
MONTH                              int64
AIRLINE_ID                       float64
UNIQUE_CARRIER                    object
UNIQUE_CARRIER_NAME               object
UNIQUE_CARRIER_ENTITY             object
REGION                            object
CARRIER                           object
CARRIER_NAME                      object
CARRIER_GROUP                     object
CARRIER_GROUP_NEW                 object
SERVICE_CLASS                     object
REV_PAX_ENP_110                  float64
REV_PAX_MILES_140                float64
REV_PAX_MILES_COACH              float64
REV_PAX_MILES_FIRST              float64
NON_REV_PAX_MILES                float64
REV_TON_MILES_240                float64
REV_TON_MILES_FREIGHT_247        float64
REV_TON_MILES_PAX_241            float64
REV_TON_MILES_USPR_MAIL          float64
REV_TON_MILES_USNONPR_MAIL       float64
REV_TON_MILES_MAIL_249           float64
REV_TON_MILES_FOREIGN_MAIL       float64
REV_TON_MILES_EXPRESS_MAIL       float64
NON_REV_TON_MILES                float64
AVL_TON_MILES_280                float64
AVL_SEAT_MILES_320               float64
AVL_SEAT_MILES_FIRST             float64
AVL_SEAT_MILES_COACH             float64
REV_ACRFT_MILES_FLOWN_410        float64
REV_ACRFT_MILES_SCH_430          float64
REV_ACRFT_MILES_SCH_COMPLETED    float64
REV_ACRFT_DEP_PERF_510           float64
REV_ACRFT_HRS_AIRBORNE_610       float64
ACRFT_HRS_RAMPTORAMP_630         float64
dtype: object

In [97]:
# Drop the 'MONTH' column from T_SCHEDULE_T1
T1 = T1.drop(columns=['MONTH'])
T1

,YEAR,QUARTER,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,...,AVL_TON_MILES_280,AVL_SEAT_MILES_320,AVL_SEAT_MILES_FIRST,AVL_SEAT_MILES_COACH,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_MILES_SCH_430,REV_ACRFT_MILES_SCH_COMPLETED,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,ACRFT_HRS_RAMPTORAMP_630
139,1974,1,19690.0,HA,Hawaiian Airlines Inc.,05375,Domestic,HA,Hawaiian Airlines Inc.,National Carriers,...,5168301.0,4.845200e+07,4.845200e+07,NaN,423520.0,295120.0,283648.0,3382.0,1305.0,NaN
140,1974,1,19690.0,HA,Hawaiian Airlines Inc.,05375,Domestic,HA,Hawaiian Airlines Inc.,National Carriers,...,5168301.0,4.845200e+07,4.845200e+07,0.0,423520.0,295120.0,283648.0,3382.0,1305.0,NaN
141,1974,1,19690.0,HA,Hawaiian Airlines Inc.,05375,Domestic,HA,Hawaiian Airlines Inc.,National Carriers,...,681962.0,0.000000e+00,0.000000e+00,0.0,49073.0,51925.0,40565.0,381.0,155.0,NaN
142,1974,1,19690.0,HA,Hawaiian Airlines Inc.,05375,Domestic,HA,Hawaiian Airlines Inc.,National Carriers,...,5850263.0,4.845200e+07,4.845200e+07,0.0,472593.0,347045.0,324213.0,3763.0,1460.0,NaN
143,1974,1,19690.0,HA,Hawaiian Airlines Inc.,05375,Domestic,HA,Hawaiian Airlines Inc.,National Carriers,...,5850263.0,4.845200e+07,4.845200e+07,0.0,472593.0,347045.0,324213.0,3763.0,1460.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332906,2024,3,20436.0,F9,Frontier Airlines Inc.,06460,Domestic,F9,Frontier Airlines Inc.,Major Carriers,...,335636324.0,3.356363e+09,3.356363e+09,0.0,16265000.0,16265000.0,NaN,18623.0,37002.0,46938.0
332907,2024,3,20436.0,F9,Frontier Airlines Inc.,06460,Domestic,F9,Frontier Airlines Inc.,Major Carriers,...,335636324.0,3.356363e+09,3.356363e+09,0.0,16265000.0,16265000.0,NaN,18623.0,37002.0,46938.0
332908,2024,3,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,34049122.0,3.404912e+08,3.404912e+08,0.0,1597547.0,1597547.0,NaN,1466.0,3587.0,4347.0
332909,2024,3,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,34049122.0,3.404912e+08,3.404912e+08,0.0,1597547.0,1597547.0,NaN,1466.0,3587.0,4347.0
332910,2024,3,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,34049122.0,3.404912e+08,3.404912e+08,0.0,1597547.0,1597547.0,NaN,1466.0,3587.0,4347.0

In [98]:
# Grouping by the specified variables to keep data separated by year and quarter and summing numeric columns
T1 = T1.groupby(
    ['YEAR', 'QUARTER', 'REGION', 'UNIQUE_CARRIER_NAME', 'CARRIER_GROUP', 'CARRIER_GROUP_NEW', 'SERVICE_CLASS']
).sum(numeric_only=True).reset_index()

T1

,YEAR,QUARTER,REGION,UNIQUE_CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,SERVICE_CLASS,AIRLINE_ID,REV_PAX_ENP_110,REV_PAX_MILES_140,...,AVL_TON_MILES_280,AVL_SEAT_MILES_320,AVL_SEAT_MILES_FIRST,AVL_SEAT_MILES_COACH,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_MILES_SCH_430,REV_ACRFT_MILES_SCH_COMPLETED,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,ACRFT_HRS_RAMPTORAMP_630
0,1974,1,Domestic,Alaska Airlines Inc.,Major Carriers,Major Carriers (carriers with annual revenue o...,All Service Z (K+V),19930.0,42628.0,2.867600e+07,...,7496852.0,5.285700e+07,5.737000e+06,46983000.0,569549.0,584908.0,552075.0,1514.0,1444.0,0.0
1,1974,1,Domestic,Alaska Airlines Inc.,Major Carriers,Major Carriers (carriers with annual revenue o...,Non-Scheduled Civilian Passenger/ Cargo Service L,19930.0,240.0,1.370000e+05,...,18885.0,1.370000e+05,0.000000e+00,0.0,1144.0,0.0,0.0,2.0,3.0,0.0
2,1974,1,Domestic,Alaska Airlines Inc.,Major Carriers,Major Carriers (carriers with annual revenue o...,Non-Scheduled Service V (L+N+P+R) For U.S. Car...,19930.0,240.0,1.370000e+05,...,18885.0,1.370000e+05,0.000000e+00,0.0,1144.0,0.0,0.0,2.0,3.0,0.0
3,1974,1,Domestic,Alaska Airlines Inc.,Major Carriers,Major Carriers (carriers with annual revenue o...,Scheduled Coach Passenger/ Cargo Service C,19930.0,4698.0,1.214000e+06,...,696244.0,2.748000e+06,0.000000e+00,2748000.0,77509.0,102966.0,69733.0,597.0,340.0,0.0
4,1974,1,Domestic,Alaska Airlines Inc.,Major Carriers,Major Carriers (carriers with annual revenue o...,"Scheduled Mixed First Class And Coach, Passeng...",19930.0,37690.0,2.732500e+07,...,6781723.0,4.997200e+07,5.737000e+06,44235000.0,490896.0,481942.0,482342.0,915.0,1101.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18948,2024,3,Pacific,United Air Lines Inc.,Major Carriers,Major Carriers (carriers with annual revenue o...,All Service Z (K+V),19977.0,494680.0,2.843575e+09,...,557696669.0,3.396684e+09,3.396684e+09,0.0,12230705.0,12487353.0,0.0,2587.0,22815.0,24223.0
18949,2024,3,Pacific,United Air Lines Inc.,Major Carriers,Major Carriers (carriers with annual revenue o...,Non-Scheduled Civilian All Cargo Service P,19977.0,0.0,0.000000e+00,...,3134346.0,0.000000e+00,0.000000e+00,0.0,74359.0,0.0,0.0,12.0,137.0,144.0
18950,2024,3,Pacific,United Air Lines Inc.,Major Carriers,Major Carriers (carriers with annual revenue o...,Non-Scheduled Service V (L+N+P+R) For U.S. Car...,19977.0,0.0,0.000000e+00,...,3134346.0,0.000000e+00,0.000000e+00,0.0,74359.0,0.0,0.0,12.0,137.0,144.0
18951,2024,3,Pacific,United Air Lines Inc.,Major Carriers,Major Carriers (carriers with annual revenue o...,Scheduled Passenger/ Cargo Service F,19977.0,494680.0,2.843575e+09,...,554562323.0,3.396684e+09,3.396684e+09,0.0,12156346.0,12487353.0,0.0,2575.0,22679.0,24079.0
18952,2024,3,Pacific,United Air Lines Inc.,Major Carriers,Major Carriers (carriers with annual revenue o...,Scheduled Service K (F+G),19977.0,494680.0,2.843575e+09,...,554562323.0,3.396684e+09,3.396684e+09,0.0,12156346.0,12487353.0,0.0,2575.0,22679.0,24079.0

In [99]:
#Cleaning T1 dataset 
T2= pd.read_csv(obj15['Body'])
T2

,YEAR,QUARTER,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,CARRIER_REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,...,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,NON_REV_ACRFT_HRS_AIRBORNE_620,ACRFT_HRS_RAMPTORAMP_630,HOURS_AIRBORNE_650,AIR_DAYS_EQUIP_810,AIR_DAYS_ROUTE_820,AIRCRAFT_FUELS_921,NUM_MONTHS
0,1991,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,04720,D,RV,Reeve Aleutian Airways Inc.,1.0,...,66905.0,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,04720,D,RV,Reeve Aleutian Airways Inc.,1.0,...,66905.0,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1991,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,04720,D,RV,Reeve Aleutian Airways Inc.,1.0,...,66905.0,194.0,282.0,25.0,339.0,307.0,180.0,180.0,106553.0,NaN
3,1991,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,04720,D,RV,Reeve Aleutian Airways Inc.,1.0,...,113740.0,178.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1991,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,04720,D,RV,Reeve Aleutian Airways Inc.,1.0,...,113740.0,178.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252764,2024,2,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,1.0,...,65840.0,248.0,278.0,NaN,313.0,NaN,NaN,NaN,NaN,3.0
252765,2024,2,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,1.0,...,65840.0,248.0,278.0,NaN,313.0,NaN,NaN,NaN,NaN,3.0
252766,2024,2,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,1.0,...,4028.0,21.0,22.0,NaN,27.0,NaN,NaN,NaN,NaN,3.0
252767,2024,2,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,1.0,...,4028.0,21.0,22.0,NaN,27.0,NaN,NaN,NaN,NaN,3.0
252768,2024,2,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,1.0,...,69868.0,269.0,299.0,NaN,340.0,NaN,NaN,NaN,NaN,3.0

In [100]:
# 1. Check for missing values
print("Missing Values in Each Column:")
missing_values = T2.isnull().sum()
print(missing_values)


# Percentage of missing values per column
missing_percentage = (missing_values / len(T2)) * 100
print("\nPercentage of Missing Values:")
print(missing_percentage)

Missing Values in Each Column:
YEAR                                   0
QUARTER                                0
AIRLINE_ID                           195
UNIQUE_CARRIER                      1131
UNIQUE_CARRIER_NAME                  195
UNIQUE_CARRIER_ENTITY                195
CARRIER_REGION                       195
CARRIER                              897
CARRIER_NAME                         195
CARRIER_GROUP                        168
CARRIER_GROUP_NEW                    195
AIRCRAFT_GROUP                         0
AIRCRAFT_TYPE                          0
AIRCRAFT_CONFIG                        0
SERVICE_CLASS                          0
AVL_SEAT_MILES_320                 29335
REV_PAX_MILES_140                  29335
REV_TON_MILES_240                  12147
REV_TON_MILES_FREIGHT_247          45643
REV_TON_MILES_MAIL_249             45643
AVL_TON_MILES_280                  12147
REV_ACRFT_MILES_FLOWN_410          12147
REV_ACRFT_DEP_PERF_510                 0
REV_ACRFT_HRS_AIRBORNE_610         45643
NON_REV_ACRFT_HRS_AIRBORNE_620    230310
ACRFT_HRS_RAMPTORAMP_630           45643
HOURS_AIRBORNE_650                198472
AIR_DAYS_EQUIP_810                198501
AIR_DAYS_ROUTE_820                230310
AIRCRAFT_FUELS_921                198961
NUM_MONTHS                         68129
dtype: int64

Percentage of Missing Values:
YEAR                               0.000000
QUARTER                            0.000000
AIRLINE_ID                         0.077146
UNIQUE_CARRIER                     0.447444
UNIQUE_CARRIER_NAME                0.077146
UNIQUE_CARRIER_ENTITY              0.077146
CARRIER_REGION                     0.077146
CARRIER                            0.354869
CARRIER_NAME                       0.077146
CARRIER_GROUP                      0.066464
CARRIER_GROUP_NEW                  0.077146
AIRCRAFT_GROUP                     0.000000
AIRCRAFT_TYPE                      0.000000
AIRCRAFT_CONFIG                    0.000000
SERVICE_CLASS                      0.000000
AVL_SEAT_MILES_320                11.605458
REV_PAX_MILES_140                 11.605458
REV_TON_MILES_240                  4.805573
REV_TON_MILES_FREIGHT_247         18.057198
REV_TON_MILES_MAIL_249            18.057198
AVL_TON_MILES_280                  4.805573
REV_ACRFT_MILES_FLOWN_410          4.805573
REV_ACRFT_DEP_PERF_510             0.000000
REV_ACRFT_HRS_AIRBORNE_610        18.057198
NON_REV_ACRFT_HRS_AIRBORNE_620    91.114812
ACRFT_HRS_RAMPTORAMP_630          18.057198
HOURS_AIRBORNE_650                78.519122
AIR_DAYS_EQUIP_810                78.530595
AIR_DAYS_ROUTE_820                91.114812
AIRCRAFT_FUELS_921                78.712579
NUM_MONTHS                        26.953068
dtype: float64

In [101]:
# 2. Check for duplicate rows
print("\nChecking for duplicate rows:")
duplicate_rows = T2.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

#Removing any duplicate rows (future purpose)
T2 = T2.drop_duplicates()

Checking for duplicate rows:
Number of duplicate rows: 0

In [102]:
import numpy as np
# 4. (Optional) Outlier detection (based on z-scores)
from scipy import stats

# Calculate z-scores for numerical columns
z_scores = np.abs(stats.zscore(T2.select_dtypes(include=[np.number])))

# Set threshold for identifying outliers (e.g., z-score > 3)
outliers = (z_scores > 3).any(axis=1)
print(f"\nNumber of outliers detected: {outliers.sum()}")

#removing outliers if found any
T2 = T2[~outliers]
T2

Number of outliers detected: 11283

,YEAR,QUARTER,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,CARRIER_REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,...,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,NON_REV_ACRFT_HRS_AIRBORNE_620,ACRFT_HRS_RAMPTORAMP_630,HOURS_AIRBORNE_650,AIR_DAYS_EQUIP_810,AIR_DAYS_ROUTE_820,AIRCRAFT_FUELS_921,NUM_MONTHS
0,1991,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,04720,D,RV,Reeve Aleutian Airways Inc.,1.0,...,66905.0,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,04720,D,RV,Reeve Aleutian Airways Inc.,1.0,...,66905.0,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1991,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,04720,D,RV,Reeve Aleutian Airways Inc.,1.0,...,66905.0,194.0,282.0,25.0,339.0,307.0,180.0,180.0,106553.0,NaN
3,1991,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,04720,D,RV,Reeve Aleutian Airways Inc.,1.0,...,113740.0,178.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1991,1,19385.0,RV (1),Reeve Aleutian Airways Inc.,04720,D,RV,Reeve Aleutian Airways Inc.,1.0,...,113740.0,178.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252764,2024,2,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,1.0,...,65840.0,248.0,278.0,NaN,313.0,NaN,NaN,NaN,NaN,3.0
252765,2024,2,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,1.0,...,65840.0,248.0,278.0,NaN,313.0,NaN,NaN,NaN,NaN,3.0
252766,2024,2,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,1.0,...,4028.0,21.0,22.0,NaN,27.0,NaN,NaN,NaN,NaN,3.0
252767,2024,2,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,1.0,...,4028.0,21.0,22.0,NaN,27.0,NaN,NaN,NaN,NaN,3.0
252768,2024,2,22119.0,GQQ,Executive Express dba Ravn Connect,01291,D,GQQ,Executive Express dba Ravn Connect,1.0,...,69868.0,269.0,299.0,NaN,340.0,NaN,NaN,NaN,NaN,3.0

In [103]:
# Filter the b1 dataset for airlines of interest
T2 = T2[T2['UNIQUE_CARRIER_NAME'].isin(airlines_of_interest)]

# Display the filtered DataFrame
T2

,YEAR,QUARTER,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,CARRIER_REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,...,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,NON_REV_ACRFT_HRS_AIRBORNE_620,ACRFT_HRS_RAMPTORAMP_630,HOURS_AIRBORNE_650,AIR_DAYS_EQUIP_810,AIR_DAYS_ROUTE_820,AIRCRAFT_FUELS_921,NUM_MONTHS
77,1991,1,19393.0,WN,Southwest Airlines Co.,06725,D,WN,Southwest Airlines Co.,3.0,...,3118266.0,8262.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,1991,1,19393.0,WN,Southwest Airlines Co.,06725,D,WN,Southwest Airlines Co.,3.0,...,3118266.0,8262.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,1991,1,19393.0,WN,Southwest Airlines Co.,06725,D,WN,Southwest Airlines Co.,3.0,...,3118266.0,8262.0,8105.0,8.0,9703.0,8113.0,900.0,900.0,6767730.0,NaN
82,1991,1,19393.0,WN,Southwest Airlines Co.,06725,D,WN,Southwest Airlines Co.,3.0,...,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,1991,1,19393.0,WN,Southwest Airlines Co.,06725,D,WN,Southwest Airlines Co.,3.0,...,14530339.0,38200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252239,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,L,F9,Frontier Airlines Inc.,3.0,...,1405571.0,1096.0,3112.0,NaN,3686.0,NaN,NaN,NaN,NaN,3.0
252240,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,L,F9,Frontier Airlines Inc.,3.0,...,1405571.0,1096.0,3112.0,NaN,3686.0,3118.0,252.0,NaN,2689589.0,3.0
252241,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,L,F9,Frontier Airlines Inc.,3.0,...,2672413.0,2443.0,6057.0,NaN,7309.0,NaN,NaN,NaN,NaN,3.0
252242,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,L,F9,Frontier Airlines Inc.,3.0,...,2672413.0,2443.0,6057.0,NaN,7309.0,NaN,NaN,NaN,NaN,3.0
252243,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,L,F9,Frontier Airlines Inc.,3.0,...,2672413.0,2443.0,6057.0,NaN,7309.0,6058.0,562.0,NaN,4261703.0,3.0

In [104]:
#mapping region values to description for ease of use
region_mapping = {
    'A': 'Atlantic',
    'D': 'Domestic',
    'I': 'International',
    'L': 'Latin America',
    'P': 'Pacific',
    'S': 'System'
}

# Replace values in the REGION column
T2['CARRIER_REGION'] = T2['CARRIER_REGION'].replace(region_mapping)

/tmp/ipykernel_273/1181060362.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T2['CARRIER_REGION'] = T2['CARRIER_REGION'].replace(region_mapping)

In [105]:
# Define the mapping dictionary
service_class_mapping = {
    'A': 'Scheduled First Class Passenger/ Cargo Service A',
    'C': 'Scheduled Coach Passenger/ Cargo Service C',
    'E': 'Scheduled Mixed First Class And Coach, Passenger/ Cargo Service E',
    'F': 'Scheduled Passenger/ Cargo Service F',
    'G': 'Scheduled All Cargo Service G',
    'K': 'Scheduled Service K (F+G)',
    'L': 'Non-Scheduled Civilian Passenger/ Cargo Service L',
    'P': 'Non-Scheduled Civilian All Cargo Service P',
    'V': 'Non-Scheduled Service V (L+N+P+R) For U.S. Carrier And (L+P+Q) For Foreign Carrier',
    'Z': 'All Service Z (K+V)'
}

# Map the SERVICE_CLASS column using the mapping dictionary
T2['SERVICE_CLASS'] = T2['SERVICE_CLASS'].map(service_class_mapping)

/tmp/ipykernel_273/325415929.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T2['SERVICE_CLASS'] = T2['SERVICE_CLASS'].map(service_class_mapping)

In [106]:
# Define the mapping dictionary for CARRIER_GROUP_NEW
carrier_group_new_mapping = {
    1: 'Large Regional Carriers (carriers with annual revenue of $20 million to $100 million)',
    2: 'National Carriers (carriers with annual revenue over $100 million to $1 billion)',
    3: 'Major Carriers (carriers with annual revenue over $1 billion)',
    4: 'Medium Regional Carriers (carriers with annual revenue under $20 million)',
    5: 'Small Certificated Carriers (carrier holding certificate issued under 49 U.S.C. section 41101 and operating aircraft designed to have a maximum seating capacity of 60 or less seat or a maximum payload of 18,000 pounds or less.)',
    6: 'Commuter Carriers (air taxi operator which performs at least five round trips per week between two or more points and publishes flight schedules which specify the times, days of the weeks and plans between which such flights are performed.)',
    7: 'All Cargo Carriers operating under certificates issued under 49 U.S.C. section 41103',
    9: 'Commuter Carriers (Air Taxi providing Essential Air Service)'
}

# Map the CARRIER_GROUP_NEW column using the mapping dictionary
T2['CARRIER_GROUP_NEW'] = T2['CARRIER_GROUP_NEW'].map(carrier_group_new_mapping)


# Define the mapping dictionary for CARRIER_GROUP
carrier_group_mapping = {
    1: 'Regional Carriers (including Large, Medium, Commuter, Small Certified)',
    2: 'National Carriers',
    3: 'Major Carriers',
    7: 'Domestic Only - All Cargo Carriers'
}

# Map the CARRIER_GROUP column using the mapping dictionary
T2['CARRIER_GROUP'] = T2['CARRIER_GROUP'].map(carrier_group_mapping)
T2

/tmp/ipykernel_273/2118193379.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T2['CARRIER_GROUP_NEW'] = T2['CARRIER_GROUP_NEW'].map(carrier_group_new_mapping)
/tmp/ipykernel_273/2118193379.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T2['CARRIER_GROUP'] = T2['CARRIER_GROUP'].map(carrier_group_mapping)

,YEAR,QUARTER,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,CARRIER_REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,...,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,NON_REV_ACRFT_HRS_AIRBORNE_620,ACRFT_HRS_RAMPTORAMP_630,HOURS_AIRBORNE_650,AIR_DAYS_EQUIP_810,AIR_DAYS_ROUTE_820,AIRCRAFT_FUELS_921,NUM_MONTHS
77,1991,1,19393.0,WN,Southwest Airlines Co.,06725,Domestic,WN,Southwest Airlines Co.,Major Carriers,...,3118266.0,8262.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,1991,1,19393.0,WN,Southwest Airlines Co.,06725,Domestic,WN,Southwest Airlines Co.,Major Carriers,...,3118266.0,8262.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,1991,1,19393.0,WN,Southwest Airlines Co.,06725,Domestic,WN,Southwest Airlines Co.,Major Carriers,...,3118266.0,8262.0,8105.0,8.0,9703.0,8113.0,900.0,900.0,6767730.0,NaN
82,1991,1,19393.0,WN,Southwest Airlines Co.,06725,Domestic,WN,Southwest Airlines Co.,Major Carriers,...,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,1991,1,19393.0,WN,Southwest Airlines Co.,06725,Domestic,WN,Southwest Airlines Co.,Major Carriers,...,14530339.0,38200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252239,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,1405571.0,1096.0,3112.0,NaN,3686.0,NaN,NaN,NaN,NaN,3.0
252240,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,1405571.0,1096.0,3112.0,NaN,3686.0,3118.0,252.0,NaN,2689589.0,3.0
252241,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,2672413.0,2443.0,6057.0,NaN,7309.0,NaN,NaN,NaN,NaN,3.0
252242,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,2672413.0,2443.0,6057.0,NaN,7309.0,NaN,NaN,NaN,NaN,3.0
252243,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,2672413.0,2443.0,6057.0,NaN,7309.0,6058.0,562.0,NaN,4261703.0,3.0

In [107]:
# Define the mapping dictionary for AIRCRAFT_GROUP
aircraft_group_mapping = {
    0: 'Piston, 1-Engine/Combined Single Engine (Piston/Turbine)',
    1: 'Piston, 2-Engine',
    2: 'Piston, 3-Engine/4-Engine',
    3: 'Helicopter/Stol',
    4: 'Turbo-Prop, 1-Engine/2-Engine',
    5: 'Turbo-Prop, 4-Engine',
    6: 'Jet, 2-Engine',
    7: 'Jet, 3-Engine',
    8: 'Jet, 4-Engine/6-Engine'
}

# Map the AIRCRAFT_GROUP column using the mapping dictionary
T2['AIRCRAFT_GROUP'] = T2['AIRCRAFT_GROUP'].map(aircraft_group_mapping)

# Define the mapping dictionary for AIRCRAFT_CONFIG
aircraft_config_mapping = {
    1: 'Passenger Configuration',
    2: 'Freight Configuration',
    3: 'Combined Passenger and Freight on a main deck',
    4: 'Seaplane',
    'All Rows': 'All groups (including those not displayed) in the selected category'
}

# Map the AIRCRAFT_CONFIG column using the mapping dictionary
T2['AIRCRAFT_CONFIG'] = T2['AIRCRAFT_CONFIG'].map(aircraft_config_mapping)
T2

/tmp/ipykernel_273/2722082878.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T2['AIRCRAFT_GROUP'] = T2['AIRCRAFT_GROUP'].map(aircraft_group_mapping)
/tmp/ipykernel_273/2722082878.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T2['AIRCRAFT_CONFIG'] = T2['AIRCRAFT_CONFIG'].map(aircraft_config_mapping)

,YEAR,QUARTER,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,CARRIER_REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,...,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,NON_REV_ACRFT_HRS_AIRBORNE_620,ACRFT_HRS_RAMPTORAMP_630,HOURS_AIRBORNE_650,AIR_DAYS_EQUIP_810,AIR_DAYS_ROUTE_820,AIRCRAFT_FUELS_921,NUM_MONTHS
77,1991,1,19393.0,WN,Southwest Airlines Co.,06725,Domestic,WN,Southwest Airlines Co.,Major Carriers,...,3118266.0,8262.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,1991,1,19393.0,WN,Southwest Airlines Co.,06725,Domestic,WN,Southwest Airlines Co.,Major Carriers,...,3118266.0,8262.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,1991,1,19393.0,WN,Southwest Airlines Co.,06725,Domestic,WN,Southwest Airlines Co.,Major Carriers,...,3118266.0,8262.0,8105.0,8.0,9703.0,8113.0,900.0,900.0,6767730.0,NaN
82,1991,1,19393.0,WN,Southwest Airlines Co.,06725,Domestic,WN,Southwest Airlines Co.,Major Carriers,...,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,1991,1,19393.0,WN,Southwest Airlines Co.,06725,Domestic,WN,Southwest Airlines Co.,Major Carriers,...,14530339.0,38200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252239,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,1405571.0,1096.0,3112.0,NaN,3686.0,NaN,NaN,NaN,NaN,3.0
252240,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,1405571.0,1096.0,3112.0,NaN,3686.0,3118.0,252.0,NaN,2689589.0,3.0
252241,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,2672413.0,2443.0,6057.0,NaN,7309.0,NaN,NaN,NaN,NaN,3.0
252242,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,2672413.0,2443.0,6057.0,NaN,7309.0,NaN,NaN,NaN,NaN,3.0
252243,2024,2,20436.0,F9,Frontier Airlines Inc.,16461,Latin America,F9,Frontier Airlines Inc.,Major Carriers,...,2672413.0,2443.0,6057.0,NaN,7309.0,6058.0,562.0,NaN,4261703.0,3.0

In [108]:


# Creating a dictionary to map 'Code' to 'Description'
aircraft_type_mapping = {
    7: "Aero Commander 200",
    8: "Aero Macchi AL-60",
    9: "Aeronca 7-AC",
    10: "Beech Bonanza 35A/C/D/E/G/H/J/K/S/V/  36A",
    20: "Bellanca CH-300",
    24: "Beech B-23 Musketeer",
    26: "Gipps Aero Ga8 Airvan",
    29: "Cessna 150/152",
    30: "Cessna 180",
    31: "Cessna 180A/B",
    32: "Cessna 180C/D/E/F",
    33: "Cessna 185A/B/C Skywagon",
    34: "Helio H-250/295/395",
    35: "Cessna C206/207/209/210 Stationair",
    36: "Cessna 172 Skyhawk",
    37: "Cessna 195",
    38: "Cessna 177 Cardinal",
    39: "Cessna 182 Skylane",
    40: "De Havilland DHC2 Beaver",
    41: "Cessna 205",
    42: "De Havilland DHC3 Otter",
    44: "Lake LA-4",
    50: "Howard DGA-15P",
    51: "Mooney M-21",
    52: "Mooney M-20C/E/G",
    65: "Noorduyn UC-64AS",
    70: "Pilatus Porter PC6",
    71: "Pilatus Porter PC6/350",
    79: "Piper PA-32 (Cherokee 6)",
    80: "Piper PA-18 (Super-Cub)",
    81: "Piper PA-14 (Family-Cruiser)",
    82: "Piper PA-22 (Tri-Pacer)",
    83: "Piper PA-24 (Comanche)",
    84: "Piper PA-28 (Cherokee)",
    85: "Stinson SR-9",
    86: "Piper PA-12 (Supercruiser)",
    87: "Stinson V-77",
    88: "Stinson SR-10E Bushman",
    91: "Float/Amphib Turbine",
    92: "Float/Amphib Piston-Lt 450 Hp",
    93: "Float/Amphib Piston-450+ Hp",
    94: "Land-Turbine",
    95: "Land-Piston-Lt 450 Hp",
    96: "Land-Piston-450+ Hp",
    97: "Stinson F.W. 300-450 Hp",
    98: "Stinson 0-299 Hp",
    102: "P2012 Traveler",
    103: "Aero Commander (500/600 Series Excpt 680FL)",
    104: "Grand Commander 680FL",
    105: "Beech C-50 (Twin Bonanza)",
    110: "Beechcraft Beech 18 C-185 (Federal Express has waiver to report all its small aircraft under code 110, regardless of actual aircraft type)",
    111: "Beech King Air 90",
    113: "Beech B-95 (Travelair)",
    115: "Beech AT-11",
    117: "Beech Baron (55 Series)",
    120: "Cessna T-50 (Bobcat)",
    121: "Cessna C-421",
    122: "Cessna C-310 Series",
    123: "Cessna C-340/335",
    125: "Cessna C-402/402A/402B",
    128: "Cessna 404",
    130: "C-28 5ACF PBY",
    131: "Pilatus Britten-Norman BN2/A Islander",
    132: "C-28 5ACF-PBY-EMQ",
    133: "Beech 65/65A-80/65B-80 (Queen Air)",
    140: "Convair CV-240",
    143: "Convair CV-340/440",
    148: "Cessna C-337 (Super Sky Master)",
    149: "Cessna C-401",
    150: "Curtiss C46/20t/A/D/F/R Commando",
    152: "Cessna C-411",
    153: "De Havilland DHC4 Caribou",
    158: "McDonnell Douglas DC-2",
    159: "Hamilton B-18s Little Liner (Converted)",
    160: "McDonnell Douglas DC-3/A/C,C-47/B",
    161: "Dornier Do-28 Skyservant",
    166: "Cessna C-336",
    167: "Fairchild C-82A",
    170: "Grumman G-21A (Goose)",
    171: "Grumman SA-16A-GR (Albatross)",
    172: "Grumman G-44/44A (Widgeon)",
    173: "Grumman G-73 (Mallard)",
    174: "De Havilland Dove DH-104",
    175: "Lockheed L-12A/L-10/10A",
    180: "Martin 202/202A",
    185: "Martin 404",
    190: "Piper PA-23-250 (Aztec/Apache)",
    193: "Piper T-1020",
    194: "Piper PA-31 (Navajo)/T-1020",
    195: "Piper PA-34/39 (Twin Commanche)",
    200: "Boeing 377 Stratocruiser",
    201: "Pilatus Britten-Norman BN2A Trislander",
    205: "De Havilland DH-114 Heron",
    210: "McDonnell Douglas DC-4(C54/C54A/C54B/C54E)",
    216: "McDonnell Douglas DC-6",
    218: "McDonnell Douglas DC-6A",
    220: "McDonnell Douglas DC-6B",
    225: "McDonnell Douglas DC-7A/B",
    228: "McDonnell Douglas DC-7C",
    240: "Lockheed L-049",
    242: "Lockheed L-649",
    244: "Lockheed L-749/749A",
    247: "Lockheed L-1049",
    248: "Lockheed L-1049C/D/E",
    252: "Lockheed L-1049G/H",
    258: "Lockheed L-1649A",
    280: "Sikorsky VS-44A (Amphibian)",
    303: "Sud Alouette",
    311: "Bell B-47D",
    312: "Bell B-47G",
    313: "Bell B-47G2",
    314: "Bell B-47J2",
    315: "Bell B-206A",
    317: "Hu-1h 204B",
    318: "Airbus Industrie A318",
    320: "Boeing Vertol BV-107",
    321: "Boeing Vertol BV-44",
    322: "Brantley B-2",
    323: "Fairchild-Hiller FH-1100",
    325: "Agusta A-119 Koala",
    330: "Boelkow Bo-105c",
    335: "Airbus Industrie A350-1000",
    339: "Airbus Industrie A330-900",
    340: "Eurocompter AS350 B2 AStar",
    343: "Airbus Industrie A330-223/234",
    345: "Bell 212 Twin Two Twelve",
    350: "Hughes 300",
    355: "Hughes-500/530",
    359: "Airbus Industrie A350-900",
    360: "Robinson R44",
    362: "Bht 206 Lt Long Ranger",
    364: "Bht 206 L4 Long Ranger",
    366: "Bell Bht 407",
    368: "Bell Bht 412",
    370: "Air Bus Euro Bo-105",
    380: "Sikorsky S-51",
    381: "Sikorsky S-55",
    385: "Sikorsky S-58A/B/C",
    386: "Sikorsky S-61N",
    387: "Sikorsky S-61",
    388: "Sikorsky S-61L",
    389: "Sikorsky S-62/A",
    390: "Sikorsky S-76",
    393: "Agustawestland AW139",
    395: "DHC-6-400 Twin Otter",
    396: "Westland SR-N5 (Acv)",
    401: "Beech 1300",
    402: "Beech Model 18 Turbo-Prop Conversions",
    403: "Beech 99 Airliner",
    404: "Beech C99",
    405: "Beech 1900 A/B/C/D",
    406: "Beech 200 Super Kingair",
    407: "British Aerospace (Hawker-Siddeley) BAe-748",
    408: "British Aerospace BAe-ATP",
    409: "Beechcraft King Air B100",
    410: "Rockwell Turbo-Commander 680-W/690",
    411: "Beech King Air 65-A90 Queen Air",
    412: "Casa/Nurtanio C212 Aviocar",
    413: "Casa 235",
    415: "Cessna C208B/Grand Caravan",
    416: "Cessna 208 Caravan",
    417: "Cessna 406 Caravan II",
    418: "Cessna C-441",
    420: "Convair CV-540",
    421: "Cessna Skycourier 408",
    422: "Quest Kodiak 100",
    425: "Piaggio P180 Avanti",
    430: "Convair CV-580",
    431: "Socata TBM850",
    432: "Saab 2000",
    433: "Socata TBM-700",
    434: "Raytheon King Air A100",
    435: "Convair CV-600",
    437: "Raytheon Beechcraft Baron B-58",
    440: "Convair CV-640",
    441: "Aerospatiale/Aeritalia ATR-42",
    442: "Aerospatiale/Aeritalia ATR-72",
    443: "Air Tractor AT-802",
    444: "Antonov 24/26/32",
    445: "Convair CV-660",
    448: "Dornier 228",
    449: "Dornier 328",
    450: "Fokker Friendship F-27/Fairchild F-27/A/B/F/J",
    451: "Pipistrel D O O Virus Sw 121c",
    452: "Fokker 50",
    454: "Fairchild-Hiller FH-227",
    455: "Fairchild Metro 23",
    456: "Saab-Fairchild 340/B",
    457: "Beech King Air C-90",
    458: "Beechcraft Super King Air",
    459: "Saab-Fairchild 340/A",
    460: "Grumman G-21G (Turbo-Goose)",
    461: "Embraer EMB-120 Brasilia",
    462: "Swearingen Metro Merlin",
    463: "Mitsubishi MU-2/B",
    464: "Embraer EMB-110 Bandeirante",
    465: "Nihon YS-11",
    466: "Swearingen Metro II",
    467: "Swearingen Metro III",
    468: "Handley Page Jetstream",
    469: "British Aerospace Jetstream 31",
    470: "Gulfstream I",
    471: "British Aerospace Jetstream 41",
    473: "Gulfstream I-Commander",
    474: "Hawker Siddeley 748",
    475: "Nord 262",
    476: "Piper PA-30/31T Cheyenne II XL",
    477: "Mohawk 298",
    478: "Piper T-1040",
    479: "Pilatus PC-12",
    480: "Pilatus Turbo Porter PC-6A",
    481: "Pilatus Turbo Porter PC-6B",
    482: "De Havilland DHC8-400 Dash-8",
    483: "De Havilland DHC8-100 Dash-8",
    484: "De Havilland DHC8-300 Dash 8",
    485: "De Havilland Twin Otter DHC-6",
    486: "Shorts Harland SC-7 Skyvan",
    487: "Shorts 330",
    488: "Carstedt CJ-600A",
    489: "Shorts 360",
    490: "Volpar Turbo 18",
    491: "De Havilland DHC8-200Q Dash-8",
    495: "Hawker Beechcraft Hawker 4000",
    501: "Gulfstream Aerospace G500C",
    507: "Antonov 12",
    508: "Antonov An-22 Freighter",
    510: "AW-650",
    515: "Bomardier Challenger 350",
    520: "Canadair CL-44D",
    530: "Bombardier CRJ550",
    541: "Ilyushin Il-18",
    550: "Lockheed L-188A/C Electra",
    552: "Lockheed L-382B",
    553: "Lockheed L100-10 Hercules",
    555: "Lockheed L100-20 Hercules",
    556: "Lockheed L100-30/L-382E",
    560: "Shorts Belfast Freighter-Sh5",
    570: "De Havilland DHC7 Dash-7",
    575: "Bombardier Learjet 75",
    580: "Vickers Viscount 700/744/745/745D",
    584: "Vickers Viscount V800/810/812",
    601: "Fokker F28-1000 Fellowship",
    602: "Fokker F28-4000/6000 Fellowship",
    603: "Fokker 100",
    604: "Fokker 70",
    605: "British Aerospace BAC-111-200",
    606: "Raytheon Beechraft 390 Premier I",
    607: "Antonov An-72/74",
    608: "Boeing 717-200",
    609: "Bombardier BD-100-1A10 Challenger 300",
    610: "British Aerospace BAC-111-400",
    611: "Aero Commander 1121",
    612: "Boeing 737-700/700LR/Max 7",
    613: "Aerospatiale Corvette",
    614: "Boeing 737-800",
    615: "Boeing 737-5/600LR",
    616: "Boeing 737-500",
    617: "Boeing 737-400",
    618: "Boeing 737-300LR",
    619: "Boeing 737-300",
    620: "Boeing 737-100/200",
    621: "Boeing 737-200C",
    622: "Boeing 757-200",
    623: "Boeing 757-300",
    624: "Boeing 767-400/ER",
    625: "Boeing 767-200/ER/EM",
    626: "Boeing 767-300/300ER",
    627: "Boeing 777-200ER/200LR/233LR",
    628: "Canadair RJ-100/RJ-100ER",
    629: "Canadair RJ-200ER /RJ-440",
    630: "McDonnell Douglas DC-9-10",
    631: "Canadair RJ-700",
    632: "Dornier 328 Jet",
    633: "Boeing 737-600",
    634: "Boeing 737-900",
    635: "McDonnell Douglas DC-9-15F",
    636: "Cessna Citation II/ Bravo",
    637: "Boeing 777-300/300ER/333ER",
    638: "Canadair CRJ 900",
    639: "Cessna Citationjet/CJ1/CJ2/CJ3",
    640: "McDonnell Douglas DC-9-30",
    641: "Gulfstream Aerospace G-III/G-IV",
    642: "Raytheon Beechcraft Hawker 400XP",
    643: "1124A Westwind II",
    644: "Airbus Industrie A-318",
    645: "McDonnell Douglas DC-9-40",
    646: "Cessna Citation X Model 650/550B/550XL",
    647: "Cessna Citation X Model CE750 X",
    648: "Gulfstream G200",
    649: "Tupolev TU-204-300",
    650: "McDonnell Douglas DC-9-50",
    651: "Gulfstream G150",
    652: "Canadair CL-600 Challenger",
    653: "Cessna CE-680 Citation Sovereign",
    654: "McDonnell Douglas DC9 Super 87",
    655: "McDonnell Douglas DC9 Super 80/MD81/82/83/88",
    656: "McDonnell Douglas MD-90",
    657: "Bombardier CRJ 705",
    658: "Bombardier BD-700 Global Express",
    659: "Bombardier (Gates) Learjet 60",
    660: "Gates Learjet Lear-23",
    661: "Gates Learjet Lear-24",
    662: "Gates Learjet Lear-25",
    663: "Gates Learjet Lear-31/35/36",
    664: "HFB-320 Hansa",
    665: "Hawker Siddeley 125",
    666: "Lear 55",
    667: "Gulfstream III/V/ G-V Exec/ G-5/550",
    668: "Canadair (Bombardier) Challlenger 601",
    669: "Bombardier Challenger 604/605",
    670: "Rockwell Sabreliner",
    671: "Gulfstream G450",
    672: "Raytheon Beechcraft Hawker 900XP",
    673: "Embraer ERJ-175",
    674: "Embraer-135",
    675: "Embraer-145",
    676: "Embraer-140",
    677: "Embraer-Emb-170",
    678: "Embraer 190",
    679: "Grumman G-1159 Gulfstream II/III",
    680: "Aerospatiale Caravelle SE-210",
    681: "Dassault-Breguet Mystere-Falcon",
    682: "Dassault Falcon 2000EX/2000lxs",
    683: "Boeing B777-F",
    684: "Raytheon Beechcraft Hawker 800XP",
    685: "Cessna 510 Mustang/560XL Citation Excel",
    686: "Learjet45",
    687: "Airbus Industrie A330-300/333",
    688: "Bombardier Global 5000",
    689: "Airbus Industrie A330-600ST (Beluga)",
    690: "Airbus Industrie A300B/C/F-100/200",
    691: "Airbus Industrie A300-600/R/CF/RCF",
    692: "Airbus Industrie A310-200C/F",
    693: "Airbus Industrie A310-300",
    694: "Airbus Industrie A320-100/200",
    695: "Airbus Industrie A300-B2",
    696: "Airbus Industrie A330-200",
    697: "Airbus Industrie A340",
    698: "Airbus Industrie A319",
    699: "Airbus Industrie A321/Lr",
    710: "Boeing 727-100",
    711: "Boeing 727-100C/QC",
    714: "Sukhoi Superjet 100",
    715: "Boeing 727-200/231A",
    716: "Bombardier Global 6500",
    717: "Mrj-70/Std/ER/Lr",
    718: "Mrj-90/Std/Sr/Lr",
    719: "Airbus Industrie A319-200n",
    720: "Bombardier C Series Cs100",
    721: "Airbus Industrie A321-200n",
    722: "Airbus Industrie A320-200n",
    723: "A200-100 BD-500-1A10",
    724: "A220-300 BD-500-1A11",
    725: "Dassault Falcon 8x",
    730: "McDonnell Douglas DC-10-10",
    731: "McDonnell Douglas DC-10-20",
    732: "McDonnell Douglas DC-10-30",
    733: "McDonnell Douglas DC-10-40",
    735: "McDonnell Douglas DC-10-30CF",
    737: "Boeing 737 Max 7",
    740: "McDonnell Douglas MD-11",
    745: "Embraer Legacy 500",
    746: "Emb500 Phenom 100/300",
    748: "Embraer EMB195",
    749: "Gulfstream Aerospace G500",
    750: "Gulfstream G650",
    751: "Bombardier Global 7500 BD-7500",
    752: "Gulfstream Aerospace Gulfstream G280",
    753: "Gulfstream Aerospace Gulfstream G600",
    754: "Embraer Praetor 600",
    755: "Embraer Legacy 600",
    760: "Lockheed L-1011-1/100/200",
    765: "Lockheed L-1011-500 Tristar",
    770: "Dassault Falcon 900/900EX",
    771: "Dassault Falcon 50",
    774: "Dassault Falcon 2000",
    775: "Dassault Falcon 7X",
    776: "Dassault Falcon Aviation 6x",
    777: "Bombardier Challenger 850",
    780: "Tupolev TU-154",
    788: "Bombardier Global 6000/Global Xrs",
    792: "Yakolev Yak-42",
    800: "Boeing 707-100",
    802: "Boeing 707-100B",
    804: "Boeing 707-200",
    806: "Boeing 707-300",
    808: "Boeing 707-300B",
    809: "Boeing 707-300C",
    810: "Boeing 707-400",
    812: "Boeing 720-000",
    814: "Boeing 720-000B",
    816: "Boeing 747-100",
    817: "Boeing 747-200/300",
    818: "Boeing 747C",
    819: "Boeing 747-400",
    820: "Boeing 747-400F",
    821: "Boeing B747-8",
    822: "Boeing 747SP",
    823: "Boeing 747-200F",
    824: "Airbus A330-900neo",
    825: "Convair 880 (CV-22/22m)",
    830: "Convair 990 Coronado (CV-30)",
    833: "Embraer Legacy 650",
    835: "Avroliner RJ85",
    836: "Airbus 350-1000",
    837: "Boeing 787-10 Dreamliner",
    838: "Boeing B737 Max 800",
    839: "Boeing B737 Max 900",
    840: "McDonnell Douglas DC-8-10",
    842: "McDonnell Douglas DC-8-20",
    844: "McDonnell Douglas DC-8-30",
    846: "McDonnell Douglas DC-8-40",
    848: "McDonnell Douglas DC-8-50",
    850: "McDonnell Douglas DC-8-50F",
    851: "McDonnell Douglas DC-8-61",
    852: "McDonnell Douglas DC-8-63F",
    854: "McDonnell Douglas DC-8-62",
    856: "McDonnell Douglas DC-8-63",
    860: "McDonnell Douglas DC-8-71",
    862: "McDonnell Douglas DC-8-72",
    864: "McDonnell Douglas DC-8-73",
    865: "McDonnell Douglas DC-8-73F",
    866: "British Aerospace BAe-146-100/RJ70",
    867: "British Aerospace BAe-146-200",
    868: "British Aerospace BAe-146-300",
    870: "Lockheed Jetstar",
    871: "Airbus Industrie A340-300",
    872: "Airbus Industrie A340-500",
    873: "Airbus Industrie A340-200",
    874: "Airbus Industrie A340-600",
    875: "Aerospatiale/British Aerospace Concorde",
    876: "Ilyushin 62",
    877: "Ilyushin 76/TD",
    878: "Ilyushin 86",
    879: "Ilyushin 96",
    880: "Antonov 124",
    881: "Ilyushiin Il-96-400t",
    882: "Airbus Industrie A380-800",
    885: "Boeing B737-Max10",
    887: "B787-800 Dreamliner",
    888: "Boeing 737-900ER",
    889: "B787-900 Dreamliner",
    890: "Antonov 225 (6 Engine)",
    999: "Used for capturing expenses not attributed to specific aircraft type"
}

# Map the AIRCRAFT_GROUP column using the mapping dictionary
T2['AIRCRAFT_TYPE'] = T2['AIRCRAFT_TYPE'].map(aircraft_type_mapping)


# Displaying the dataframe
print(T2)

/tmp/ipykernel_273/2675001988.py:450: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T2['AIRCRAFT_TYPE'] = T2['AIRCRAFT_TYPE'].map(aircraft_type_mapping)

        YEAR  QUARTER  AIRLINE_ID UNIQUE_CARRIER     UNIQUE_CARRIER_NAME  \
77      1991        1     19393.0             WN  Southwest Airlines Co.
78      1991        1     19393.0             WN  Southwest Airlines Co.
79      1991        1     19393.0             WN  Southwest Airlines Co.
82      1991        1     19393.0             WN  Southwest Airlines Co.
84      1991        1     19393.0             WN  Southwest Airlines Co.
...      ...      ...         ...            ...                     ...
252239  2024        2     20436.0             F9  Frontier Airlines Inc.
252240  2024        2     20436.0             F9  Frontier Airlines Inc.
252241  2024        2     20436.0             F9  Frontier Airlines Inc.
252242  2024        2     20436.0             F9  Frontier Airlines Inc.
252243  2024        2     20436.0             F9  Frontier Airlines Inc.

       UNIQUE_CARRIER_ENTITY CARRIER_REGION CARRIER            CARRIER_NAME  \
77                     06725       Domestic      WN  Southwest Airlines Co.
78                     06725       Domestic      WN  Southwest Airlines Co.
79                     06725       Domestic      WN  Southwest Airlines Co.
82                     06725       Domestic      WN  Southwest Airlines Co.
84                     06725       Domestic      WN  Southwest Airlines Co.
...                      ...            ...     ...                     ...
252239                 16461  Latin America      F9  Frontier Airlines Inc.
252240                 16461  Latin America      F9  Frontier Airlines Inc.
252241                 16461  Latin America      F9  Frontier Airlines Inc.
252242                 16461  Latin America      F9  Frontier Airlines Inc.
252243                 16461  Latin America      F9  Frontier Airlines Inc.

         CARRIER_GROUP  ... REV_ACRFT_MILES_FLOWN_410 REV_ACRFT_DEP_PERF_510  \
77      Major Carriers  ...                 3118266.0                 8262.0
78      Major Carriers  ...                 3118266.0                 8262.0
79      Major Carriers  ...                 3118266.0                 8262.0
82      Major Carriers  ...                       NaN                   62.0
84      Major Carriers  ...                14530339.0                38200.0
...                ...  ...                       ...                    ...
252239  Major Carriers  ...                 1405571.0                 1096.0
252240  Major Carriers  ...                 1405571.0                 1096.0
252241  Major Carriers  ...                 2672413.0                 2443.0
252242  Major Carriers  ...                 2672413.0                 2443.0
252243  Major Carriers  ...                 2672413.0                 2443.0

       REV_ACRFT_HRS_AIRBORNE_610 NON_REV_ACRFT_HRS_AIRBORNE_620  \
77                            NaN                            NaN
78                            NaN                            NaN
79                         8105.0                            8.0
82                            NaN                            NaN
84                            NaN                            NaN
...                           ...                            ...
252239                     3112.0                            NaN
252240                     3112.0                            NaN
252241                     6057.0                            NaN
252242                     6057.0                            NaN
252243                     6057.0                            NaN

       ACRFT_HRS_RAMPTORAMP_630  HOURS_AIRBORNE_650  AIR_DAYS_EQUIP_810  \
77                          NaN                 NaN                 NaN
78                          NaN                 NaN                 NaN
79                       9703.0              8113.0               900.0
82                          NaN                 NaN                 NaN
84                          NaN                 NaN                 NaN
...                         ...                 ...                 ...
252239                   3686.0                 NaN                 NaN
252240                   3686.0              3118.0               252.0
252241                   7309.0                 NaN                 NaN
252242                   7309.0                 NaN                 NaN
252243                   7309.0              6058.0               562.0

        AIR_DAYS_ROUTE_820  AIRCRAFT_FUELS_921  NUM_MONTHS
77                     NaN                 NaN         NaN
78                     NaN                 NaN         NaN
79                   900.0           6767730.0         NaN
82                     NaN                 NaN         NaN
84                     NaN                 NaN         NaN
...                    ...                 ...         ...
252239                 NaN                 NaN         3.0
252240                 NaN           2689589.0         3.0
252241                 NaN                 NaN         3.0
252242                 NaN                 NaN         3.0
252243                 NaN           4261703.0         3.0

[60515 rows x 31 columns]

In [109]:
# Grouping by the specified variables to keep data separated by year and quarter and summing numeric columns
T2 = T2.groupby(
    ['YEAR', 'QUARTER', 'UNIQUE_CARRIER','CARRIER_REGION', 'UNIQUE_CARRIER_NAME','UNIQUE_CARRIER_ENTITY','CARRIER', 'CARRIER_NAME', 'CARRIER_GROUP', 'CARRIER_GROUP_NEW','AIRCRAFT_GROUP', 'AIRCRAFT_TYPE', 'SERVICE_CLASS', "AIRCRAFT_CONFIG"]
).sum(numeric_only=True).reset_index()

T2

,YEAR,QUARTER,UNIQUE_CARRIER,CARRIER_REGION,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,...,REV_ACRFT_MILES_FLOWN_410,REV_ACRFT_DEP_PERF_510,REV_ACRFT_HRS_AIRBORNE_610,NON_REV_ACRFT_HRS_AIRBORNE_620,ACRFT_HRS_RAMPTORAMP_630,HOURS_AIRBORNE_650,AIR_DAYS_EQUIP_810,AIR_DAYS_ROUTE_820,AIRCRAFT_FUELS_921,NUM_MONTHS
0,1991,1,8C,Atlantic,Air Transport International,16028,8C,Air Transport International,National Carriers,National Carriers (carriers with annual revenu...,...,11454.0,7.0,25.0,0.0,28.0,25.0,180.0,180.0,60875.0,0.0
1,1991,1,8C,Atlantic,Air Transport International,16028,8C,Air Transport International,National Carriers,National Carriers (carriers with annual revenu...,...,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1991,1,8C,Atlantic,Air Transport International,16028,8C,Air Transport International,National Carriers,National Carriers (carriers with annual revenu...,...,1388842.0,406.0,3009.0,21.0,3257.0,3030.0,250.0,250.0,5829680.0,0.0
3,1991,1,8C,Atlantic,Air Transport International,16028,8C,Air Transport International,National Carriers,National Carriers (carriers with annual revenu...,...,0.0,278.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1991,1,8C,Atlantic,Air Transport International,16028,8C,Air Transport International,National Carriers,National Carriers (carriers with annual revenu...,...,230265.0,128.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60510,2024,2,YV,Domestic,Mesa Airlines Inc.,06689,YV,Mesa Airlines Inc.,National Carriers,National Carriers (carriers with annual revenu...,...,9347462.0,17462.0,24066.0,0.0,31575.0,0.0,0.0,0.0,0.0,3.0
60511,2024,2,YV,Domestic,Mesa Airlines Inc.,06689,YV,Mesa Airlines Inc.,National Carriers,National Carriers (carriers with annual revenu...,...,9347462.0,17462.0,24066.0,0.0,31575.0,0.0,0.0,0.0,0.0,3.0
60512,2024,2,YV,Latin America,Mesa Airlines Inc.,11022,YV,Mesa Airlines Inc.,National Carriers,National Carriers (carriers with annual revenu...,...,593515.0,762.0,1447.0,0.0,1791.0,781.0,126.0,0.0,459213.0,3.0
60513,2024,2,YV,Latin America,Mesa Airlines Inc.,11022,YV,Mesa Airlines Inc.,National Carriers,National Carriers (carriers with annual revenu...,...,593515.0,762.0,1447.0,0.0,1791.0,0.0,0.0,0.0,0.0,3.0
60514,2024,2,YV,Latin America,Mesa Airlines Inc.,11022,YV,Mesa Airlines Inc.,National Carriers,National Carriers (carriers with annual revenu...,...,593515.0,762.0,1447.0,0.0,1791.0,0.0,0.0,0.0,0.0,3.0

In [110]:
#extracting al the csv files and storing into cleaned datasets_form41 folder

import os

# Create a directory if it doesn't exist
directory = "/home/sagemaker-user/Cleaned datasets_form41"
if not os.path.exists(directory):
    os.makedirs(directory)

# List of DataFrames and their corresponding names (without .csv extension)
dataframes = {
    'b1': b1,
    'b1_1': b1_1,
    'b43': b43,
    'p1a': p1a,
    'p1_1': p1_1,
    'p1_2': p1_2,
    'p10': p10,
    'p12a': p12a,
    'p5_1': p5_1,
    'p5_2': p5_2,
    'p6': p6,
    'p7': p7,
    'T1': T1,
    'T2': T2
    
}

# Iterate through the dictionary and save each DataFrame as a CSV
for name, df in dataframes.items():
    file_path = f"{directory}/{name}.csv"  # Create a file path for each DataFrame
    try:
        df.to_csv(file_path, index=False)
        print(f"File successfully saved at {file_path}")
    except Exception as e:
        print(f"Error saving {name}: {e}")

File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/b1.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/b1_1.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/b43.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/p1a.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/p1_1.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/p1_2.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/p10.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/p12a.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/p5_1.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/p5_2.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/p6.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/p7.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/T1.csv
File successfully saved at /home/sagemaker-user/Cleaned datasets_form41/T2.csv

In [111]:
import boto3
import os

# Initialize a session using your AWS credentials
s3 = boto3.client('s3')

# Specify your S3 bucket name
bucket_name = 'cleaned-datsets-airline-project'  # Replace with your bucket name

# Specify the directory containing the CSV files
directory = "/home/sagemaker-user/Cleaned datasets_form41"

# Iterate through the directory and upload each CSV file
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(directory, filename)
        try:
            # Upload the file with the correct arguments
            s3.upload_file(Filename=file_path, Bucket=bucket_name, Key=filename)
            print(f"Successfully uploaded {filename} to {bucket_name}")
        except Exception as e:
            print(f"Error uploading {filename}: {e}")

Successfully uploaded b1.csv to cleaned-datsets-airline-project
Successfully uploaded b1_1.csv to cleaned-datsets-airline-project
Successfully uploaded b43.csv to cleaned-datsets-airline-project
Successfully uploaded p1a.csv to cleaned-datsets-airline-project
Successfully uploaded p1_1.csv to cleaned-datsets-airline-project
Successfully uploaded p1_2.csv to cleaned-datsets-airline-project
Successfully uploaded p10.csv to cleaned-datsets-airline-project
Successfully uploaded p12a.csv to cleaned-datsets-airline-project
Successfully uploaded p5_1.csv to cleaned-datsets-airline-project
Successfully uploaded p5_2.csv to cleaned-datsets-airline-project
Successfully uploaded p6.csv to cleaned-datsets-airline-project
Successfully uploaded p7.csv to cleaned-datsets-airline-project
Successfully uploaded T1.csv to cleaned-datsets-airline-project
Successfully uploaded T2.csv to cleaned-datsets-airline-project

In [112]:
import sagemaker

# Retrieve a URI for a specific framework (e.g., SKLearn) in the current region
image_uri = sagemaker.image_uris.retrieve(
    framework="sklearn",
    region="us-west-2",  # Replace with your AWS region
    version="0.23-1",    # Version of the framework
    instance_type="ml.m5.large"
)

print("Image URI:", image_uri)

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml
Image URI: 246618743249.dkr.ecr.us-west-2.amazonaws.com/sagemaker-scikit-learn:0.23-1-cpu-py3